body {
    background: #ecf0f1;
}
.menu-tiles > ul {
    width: 50%;
    margin: 120px auto;
}
@media only screen and (max-width : 1800px) {
    .menu-tiles > ul {
        width: 60%;
    }
}
@media only screen and (max-width : 1500px) {
    .menu-tiles > ul {
        width: 70%;
    }
}
@media only screen and (max-width : 704px) {
    .menu-tiles > ul {
        width: 100%;
    }
}
.menu-tiles > ul > li {
    width: 200px;
    height: 200px;
    max-width: 40%;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
    list-style: none;
    position: relative;
    cursor: pointer;
    font-family:'Open Sans';
    font-weight: 300;
    -webkit-perspective:1000;
   -moz-perspective:1000;
    -ms-perspective:1000;
     -o-perspective:1000;
        perspective:1000;
}
.menu-tiles > ul > li.double {
    width: 410px;
}
.menu-tiles > ul > li.half {
    height: 90px;
}
.menu-tiles > ul > li > div.double {
    width: 410px;
}
.menu-tiles > ul > li > div.half {
    height: 95px;
}
.menu-tile {
    color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
   /*transition*/
-webkit-transition:all 0.5s ease;
   -moz-transition:all 0.5s ease;
     -o-transition:all 0.5s ease;
        transition:all 0.5s ease;
/*backface-visibility*/
-webkit-backface-visibility:hidden;
   -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
     -o-backface-visibility:hidden;
        backface-visibility:hidden;
}
.front {
    z-index: 3;
    color: #fff;
    text-align: center;
    font-size: 20px;
    background: #e3e3e3;
}
.front > i {
    margin-top: 35%;
}

.menu-tiles > ul > li > div.double i {
   margin-top: 17.5%;
}
.menu-tiles > ul > li > div.half i {
   margin-top:10px;
}
.menu-tiles > ul > li > ul.half  {
    height: 200px;
    display:block;
}

.menu-tiles > ul > li > ul.half li {
    width: 200px;
    height: 95px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
    list-style: none;
    position: relative;
    left: -40px;
    cursor: pointer;
    font-family:'Open Sans';
    font-weight: 300;
    -webkit-perspective:1000;
   -moz-perspective:1000;
    -ms-perspective:1000;
     -o-perspective:1000;
        perspective:1000;
}


.back {
    color: #fff;
    text-align: center;
    font-size: 22px;
    -webkit-transform:rotateY(180deg);
   -moz-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
     -o-transform:rotateY(180deg);
        transform:rotateY(180deg);
    background: #34495e;
}
.back > button {
    width: 90%;
    margin: 5px auto;
}
.back.double > button {
    width: 45%;
    margin: 5px auto;
}
.back > span.menu-item-title {
    position: relative;
    display: inline-block;
    margin-top: 20px;
}
.back.half > span.menu-item-title {
    position: relative;
    display: inline-block;
    margin-top: 10px;
}

li:hover > .front{
    z-index: 0;
  -webkit-transform:rotateY(180deg);
   -moz-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
     -o-transform:rotateY(180deg);
        transform:rotateY(180deg);
}
li:hover > .back {
    -webkit-transform:rotateY(0deg);
   -moz-transform:rotateY(0deg);
    -ms-transform:rotateY(0deg);
     -o-transform:rotateY(0deg);
        transform:rotateY(0deg);
}
#box1, #box9 {
    background: #e74c3c;
}
#box2 {
    background: #2ecc71;
}
#box3, #box11 {
    background: #3498db;
}
#box4, #box12 {
    background: #f1c40f;
}
#box5 {
    background: #e67e22;
}
#box6 {
    background: #1abc9c;
}

#box7 {
    background: #31708f;
}
#box8 {
    background: #8a6d3b;
}
#box10 {
    background: #c0c0c0;
}
#box13 {
    background: #808080;
}
.main-menu-footer {
    position: fixed; 
    bottom:10px; 
    margin:0 auto; 
    width: 100%;
    text-align:center;
    font-family: 'Lato', serif;
    color:#000;
}