<p-blockUI [blocked]="globals.loader">
  <i class="fad fa-spinner-third fa-spin"
    style="position:absolute;top:35%;left:50%;font-size: 60px;font-weight: bold"></i>
</p-blockUI>
<nav sidebar id="sidebar" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()"
  [ngClass]="{ 'sidebar nav-collapse collapse': true, 'active': closed,
  'segregation-z-index': productSegregationService.WipDetailsBeingDisplayed,
  'active-width': !productSegregationService.WipDetailsBeingDisplayed,
  'segregation-active-width': productSegregationService.WipDetailsBeingDisplayed,
  'open-width-non-segregation': !closed && !productSegregationService.WipDetailsBeingDisplayed,
  'open-width-segregation': !closed && productSegregationService.WipDetailsBeingDisplayed
  }" (displaySupportTicketModalDisplay)="displaySupportTicketModalDisplay()"
  (displayCycleCountImportModal)="displayCycleCountImportModal()">
</nav>

<div [ngClass]="{ 'wrap content content-div': true,
'wip-content': productSegregationService.WipDetailsBeingDisplayed,
'not-wip-content': !productSegregationService.WipDetailsBeingDisplayed,
'cu-background-color': productSegregationService.SegregationType === EnumSegregationType.CU,
'deseg-background-color': productSegregationService.SegregationType === EnumSegregationType.DESEG}">
  <header navbar (changeSidebarPosition)="sidebarPosition($event)" (changeSidebarDisplay)="sidebarDisplay($event)"
    (openSidebar)="openSidebar()" class="page-header"  [(closed)]="closed"></header>
  <main id="content" [ngClass]="{ 'view-animate': true, 'fade-up': true,
  'segregation-left-padding': productSegregationService.WipDetailsBeingDisplayed }" role="main">
    <div class="loading-overlay" #spinnerElement>
      <div class="sk-fading-circle">
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
      </div>
    </div>
    <div class="router-component" #routerComponent>
      <router-outlet></router-outlet>
    </div>
    <p-dialog header="Support Ticket" styleClass="supportticket-modal" [(visible)]="supportTicketModalDisplayed"
      [dismissableMask]="true" appendTo="body" [baseZIndex]="100001" [modal]='true'>
      <iframe src="https://forms.raleyapps.com/form/render/a2c61d66-33a1-4627-8b61-e355e6bbe69b/q1ka1ap45z"
        data-cy="jirasupportticket" frameborder="0" style="width: 850px; height: 555px;" scrolling="auto"></iframe>
      <p-footer>
        <div class="pull-right">
          <button type="button" data-cy="close-btn" (click)="supportTicketModalDisplayed = !supportTicketModalDisplayed"
            class="btn btn-outline-inverse width-100 mb-xs" role="button">
            Close
          </button>
        </div>
      </p-footer>
    </p-dialog>

    <p-dialog header="Import" [(visible)]="cycleCountImportModalDisplayed" [style]="{width: '50vw'}" [dismissableMask]="true" appendTo="body" [modal]='true'>
      <form data-parsley-validate class="form-horizontal form-label-left parsleyjs" method="post"
        data-parsley-priority-enabled="false" (ngSubmit)="submitCycleCountImport()" novalidate="novalidate">
        <section class="widget mrg-btm-sm" widget>
          <header>
            <h5>
              <span class="badge badge-warning p-2 text-gray-dark mr-1 fa fa-user">
              </span>
              Cycle Count Import
            </h5>
          </header>
          <div class="widget-body">
            <fieldset>
              <legend>
              </legend>
              <div class="form-group row">
                <label class="col-md-2 col-form-label text-md-right">
                  Select Csv File
                </label>
                <cmh-file-uploader class="col-md-10" [menuItem]="menuItems.CycleCountImport" [(files)]="uploadedFiles"
                  accept=".csv, .xlsx, .xls" chooseLabel="Select CSV File">
                </cmh-file-uploader>
              </div>
              <div>
                <label class="col-md-2 col-form-label text-md-right">
                  Sample File
                </label>
                <a href="/assets/CsvFiles/CycleCountsSample.csv" download>
                  <button type="button" class="btn" download><i class="fas fa-download"></i> Download
                    Sample
                    File</button>
                </a>
              </div>
            </fieldset>
          </div>
        </section>
        <p-footer>
          <div class="pull-right">
            <button type="submit" [disabled]="uploadedFiles.length === 0" class="btn btn-outline-inverse width-100 mb-xs" role="button"
              data-cy="save-import-button">
              Save
            </button>
            <button type="button" (click)="hideCycleCountImportModal()" class="btn btn-outline-inverse width-100 mb-xs" role="button">
              Close
            </button>
          </div>
        </p-footer>
      </form>
    </p-dialog>

    <approval-comment [modalData]="globals.modalData">
    </approval-comment>

    <footer class="content-footer" *ngIf="!productSegregationService.WipDetailsBeingDisplayed">
      © 2016-{{ currDate |  date:'yyyy' }} MSR-FSR. All Rights Reserved.
    </footer>
  </main>
</div>
