<ng-container *ngFor="let workOrderPart of workOrderParts; let index=index">
  <div class="ncr-label" *ngIf="!!workOrderTasks[index]">
    <table class="tight">
      <tbody>
        <tr>
          <td width="100%">
            <div class="img-responsive" style="margin-top: 16px;width:185px;">
              <img src="assets/img/msr-label-logo.png" alt="Logo">
            </div>
            <p class="date">Date: <strong>{{todayDate | date: 'shortDate'}}</strong></p>
            <!-- {{todayDate}} -->
            <p>Site: <strong>MSR-FSR {{WorkOrder.location?.name}}</strong></p>
            <p>WO: <strong>{{WorkOrder.product?.customer?.name}}-{{ WorkOrder.id}}</strong></p>
            <p>PO #: <strong>{{WorkOrder.purchase?.purchaseOrder?.referencePO}}</strong></p>
            <p>Part Desc: <strong>{{workOrderPart?.part?.name}}</strong></p>
            <p>Customer Part #: <strong>{{workOrderPart?.part?.partNumber}}</strong></p>
            <p>Serial #: <strong>{{workOrderPart.serialNumber}}</strong></p>
            <p>This part processed <strong>{{workOrderPart.cycleCount}}</strong> time(s)</p>
          </td>
        </tr>
        <tr>
          <td width="100%">
            <table class="table-bordered" width="100%">
              <ng-container *ngFor="let workOrderTask of workOrderTasks[index]">
                <ng-container *ngFor="let workOrderTaskMonitor of workOrderTask?.workOrderTaskMonitors">
                  <tr *ngIf="workOrderTaskMonitor.monitorListId">
                    <td width="50%" [innerHTML]="workOrderTaskMonitor.procedureStepMonitor?.description | workOrderTaskAndMonitor: workOrderTaskMonitor.procedureMonitorId : workOrderTaskMonitor.description">
                    </td>
                    <td width="50%">
                      {{workOrderTaskMonitor.textVal}}
                    </td>
                  </tr>
                </ng-container>
              </ng-container>
              <tr>
                <td width="50%">
                  Yellow Or Red Tag
                </td>
                <td width="50%">
                  {{workOrderPart.tagType}}
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
