<div class="container-flex">
  <div class="row">
    <div class="col-6">
      <h1 class="page-title">
        <i [ngClass]="'fas '+globals.activeMenu.icon"></i>
        {{globals.activeMenu.name}}
      </h1>
    </div>
    <div class="col-6" [ngClass]="['d-flex', 'justify-content-end']">
      <helpbutton-wrapper [ngClass]="['my-auto']"></helpbutton-wrapper>
    </div>
  </div>
  <div class="row">
    <widget>
      <p-table #dt [value]="data" dataKey="id" styleClass="ui-table-customers" [rowHover]="true" [rows]="10"
        [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first}-{last} of {totalRecords}"
        [rowsPerPageOptions]="[10,25,50,100]" [loading]="loading" [paginator]="true" [filterDelay]="0"
        stateStorage="local" stateKey="{{gridStorageId}}">
        <ng-template pTemplate="caption">
          <div class="text-right">
            <button *ngIf="canAddCustomer" [routerLink]="['../customer-create']"
              class="btn btn-success width-100 mb-xs sm-mrg" role="button" data-cy="add-button">
              + Add
            </button>
            <csv-import [showButton]="canAddCustomer" [menuItem]="menuItems.CustomersDepartments"
              title="Import Customers" (onUpload)="uploadCustomersData($event)" fileName="CustomersSample.csv"></csv-import>
            <grid-options [(defaultColumns)]="gridSettings" [gridStorageId]="gridStorageId" [ptable]="dt"
              [gridVersion]="gridVersion" data-cy="usergrid-options" [hidden]="false">
            </grid-options>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let col of gridSettings" [hidden]="!col.visible" [pSortableColumn]="col.id"
              data-cy="customers-header">
              {{col.label}} <p-sortIcon [field]="col.id" *ngIf="col.label != 'Actions'"></p-sortIcon>
            </th>
          </tr>
          <tr>
            <th [hidden]="!commonGrid.isVisibleCol('id',gridSettings)">
              <div class="position-relative">
                <input id="id" pInputText type="text" tooltip="Search by Id"
                  (input)="dt.filter($event.target.value, 'id', 'contains')" class="ui-column-filter"
                  [value]="dt.filters['id']?.value">
                <i *ngIf="dt.filters['id']?.value" class="fclear pi pi-times pointer"
                  (click)="commonGrid.filter(dt,'id')"></i>
              </div>
            </th>
            <th [hidden]="!commonGrid.isVisibleCol('name',gridSettings)">
              <div class="position-relative">
                <input id="name" pInputText type="text" tooltip="Search by Name"
                  (input)="dt.filter($event.target.value, 'name', 'contains')" class="ui-column-filter"
                  [value]="dt.filters['name']?.value">
                <i *ngIf="dt.filters['name']?.value" class="fclear pi pi-times pointer"
                  (click)="commonGrid.filter(dt,'name')"></i>
              </div>
            </th>
            <th [hidden]="!commonGrid.isVisibleCol('customerNumber',gridSettings)">
              <div class="position-relative">
                <input id="customerNumber" pInputText type="text" tooltip="Search by Customer Number"
                  (input)="dt.filter($event.target.value, 'customerNumber', 'contains')" class="ui-column-filter"
                  [value]="dt.filters['customerNumber']?.value">
                <i *ngIf="dt.filters['customerNumber']?.value" class="fclear pi pi-times pointer"
                  (click)="commonGrid.filter(dt,'customerNumber')"></i>
              </div>
            </th>
            <th [hidden]="!commonGrid.isVisibleCol('address',gridSettings)">
              <div class="position-relative">
                <input id="address" pInputText type="text" tooltip="Search by Address"
                  (input)="dt.filter($event.target.value, 'address', 'contains')" class="ui-column-filter"
                  [value]="dt.filters['address']?.value">
                <i *ngIf="dt.filters['address']?.value" class="fclear pi pi-times pointer"
                  (click)="commonGrid.filter(dt,'address')"></i>
              </div>
            </th>
            <th [hidden]="!commonGrid.isVisibleCol('phone',gridSettings)">
              <div class="position-relative">
                <input id="phone" pInputText type="text" tooltip="Search by Phone"
                  (input)="dt.filter($event.target.value, 'phone', 'contains')" class="ui-column-filter"
                  [value]="dt.filters['phone']?.value">
                <i *ngIf="dt.filters['phone']?.value" class="fclear pi pi-times pointer"
                  (click)="commonGrid.filter(dt,'phone')"></i>
              </div>
            </th>
            <th grid-input-filter [dt]="dt" searchField="location.name"
              [hidden]="!commonGrid.isVisibleCol('location.name',gridSettings)"
              [gridSettings]="gridSettings">
            </th>
            <th grid-input-filter [dt]="dt" searchField="primaryContactUser.fullName"
              [hidden]="!commonGrid.isVisibleCol('primaryContactUser.fullName',gridSettings)"
              [gridSettings]="gridSettings">
            </th>
            <th grid-input-filter [dt]="dt" searchField="secondaryContactUser.fullName"
              [hidden]="!commonGrid.isVisibleCol('secondaryContactUser.fullName',gridSettings)"
              [gridSettings]="gridSettings">
            </th>
            <th [hidden]="!commonGrid.isVisibleCol('isActive',gridSettings)">
              <div class="position-relative">
                <input id="isActive" pInputText type="text" tooltip="Search by IsActive"
                  (input)="dt.filter($event.target.value, 'isActive', 'contains')" class="ui-column-filter"
                  [value]="dt.filters['isActive']?.value">
                <i *ngIf="dt.filters['isActive']?.value" class="fclear pi pi-times pointer"
                  (click)="commonGrid.filter(dt,'isActive')"></i>
              </div>
            </th>
            <th grid-input-filter [dt]="dt" searchField="created.fullName"
              [hidden]="!commonGrid.isVisibleCol('created.fullName',gridSettings)" [gridSettings]="gridSettings">
            </th>
            <th [hidden]="!commonGrid.isVisibleCol('createdOn',gridSettings)">
              <div class="position-relative" tooltip="Search by Created On">
                <pcalendar-wrapper [gridStorageId]="gridStorageId" filterId="createdOn" [datatable]="dt">
                </pcalendar-wrapper>
              </div>
            </th>
            <th [hidden]="!commonGrid.isVisibleCol('status',gridSettings)">
              <multiselect-wrapper [gridStorageId]="gridStorageId" [options]="statusOptions"
                                    [filterId]="'status'" [defaultText]="'Select Status'" [defaultTextTooltip]="''"
                                    [datatable]="dt">
                                </multiselect-wrapper>
            </th>
            <th [hidden]="!commonGrid.isVisibleCol('actions',gridSettings)">
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
          <tr class="ui-selectable-row">
            <td [hidden]="!commonGrid.isVisibleCol('id', gridSettings)">
              {{customer.id}}
            </td>
            <td [hidden]="!commonGrid.isVisibleCol('name', gridSettings)">
              {{customer.name}}
            </td>
            <td [hidden]="!commonGrid.isVisibleCol('customerNumber', gridSettings)">
              {{customer.customerNumber}}
            </td>
            <td [hidden]="!commonGrid.isVisibleCol('address', gridSettings)">
              {{customer.address}}
            </td>
            <td [hidden]="!commonGrid.isVisibleCol('phone', gridSettings)">
              {{customer.phone}}
            </td>
            <td [hidden]="!commonGrid.isVisibleCol('location.name', gridSettings)">
              {{customer.location?.name}}
            </td>
            <td [hidden]="!commonGrid.isVisibleCol('primaryContactUser.fullName', gridSettings)">
              {{customer.primaryContactUser?.fullName}}
            </td>
            <td [hidden]="!commonGrid.isVisibleCol('secondaryContactUser.fullName', gridSettings)">
              {{customer.secondaryContactUser?.fullName}}
            </td>
            <td class="text-center" [hidden]="!commonGrid.isVisibleCol('isActive', gridSettings)">
              <ng-template [ngIf]="!canActivateCustomer">
                <p-inputSwitch disabled="true" [(ngModel)]="customer.isActive" (ngModelChange)="changeCustomerStatus(customer)">
                </p-inputSwitch>
              </ng-template>
              <ng-template [ngIf]="canActivateCustomer">
                <p-inputSwitch [(ngModel)]="customer.isActive" (ngModelChange)="changeCustomerStatus(customer)">
                </p-inputSwitch>
              </ng-template>
            </td>
            <td [hidden]="!commonGrid.isVisibleCol('created.fullName', gridSettings)">
              {{customer.created?.fullName}}
            </td>
            <td [hidden]="!commonGrid.isVisibleCol('createdOn', gridSettings)">
              {{customer.createdOn | userTimezone}}
            </td>
            <td [hidden]="!commonGrid.isVisibleCol('status', gridSettings)" *ngIf="customer.status != null">
              {{customer.status}}
            </td>
            <td [hidden]="!commonGrid.isVisibleCol('status', gridSettings)" *ngIf="customer.status == null">
              Approved
            </td>
            <td [hidden]="!commonGrid.isVisibleCol('actions', gridSettings)">
              <i *ngIf="canEditCustomer" class="far fa-edit pointer" tooltip="Edit Customer" data-cy="edit-button"
                [routerLink]="['../customer-create']" [queryParams]="{id: customer.id}"></i>
              <i *ngIf="canDeleteCustomer" class="fa fa-trash pointer" tooltip="Delete Customer" data-cy="delete-button"
                (click)="openConfirmDeleteDialog(customer)"></i>
              <approve-entity [(status)]="customer.status" [entityId]="customer.id"
                [activityType]="approvalTables.CustomerApproval">
              </approve-entity>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8" style="text-align:left">No Customers to Display</td>
          </tr>
        </ng-template>
      </p-table>
    </widget>
  </div>
</div>


<p-dialog header="Confirm Delete Customer" [(visible)]="showConfirmDeleteDialog" appendTo="body" [baseZIndex]="100001"
  [modal]='true' [style]="{width: '50vw'}" data-cy="user-header">
  Are you sure you want to Delete this Customer? This action cannot be undone.
  <p-footer>
    <div class="pull-right">
      <button type="submit" (click)="deleteCustomer()" class="btn btn-outline-inverse width-100 mb-xs" role="button"
        data-cy="confirmdelete-button">
        Delete
      </button>
      <button type="button" (click)="closeConfirmDeleteDialog()" class="btn btn-outline-inverse width-100 mb-xs"
        role="button">
        Cancel
      </button>
    </div>
  </p-footer>
</p-dialog>
