<div class="container-flex">
    <div class="row">
        <div class="col-6">
            <h1 class="page-title">
                <i [ngClass]="'fas '+globals.activeMenu.icon"></i>
                {{globals.activeMenu.name}}
            </h1>
        </div>
        <div class="col-6" [ngClass]="['d-flex', 'justify-content-end']">
           <!-- <helpbutton-wrapper [ngClass]="['my-auto']"></helpbutton-wrapper>-->
        </div>
    </div>
    <div class="row status-container">
        <wipstatus [ngClass]="['w-100']" [takeOverSteps]="true"></wipstatus>
    </div>
</div>
