<div class="container-fluid">
  <div class="row mb-lg">
    <div class="col-12">
      <h1 class="page-title">
        <span>{{mode === productPageModes.Create ? 'New ' : ''}}Product Definition</span>
      </h1>
    </div>
  </div>

  <widget>
    <form role="form">
      <div class="row mx-0 mb-lg">
        <div class="col-md-4">
          <div class="form-group">
            <label for="customerId">Customer :</label>
            <p-dropdown placeholder="Select Customer" name="customerId" [options]="customersData" appendTo="body" [baseZIndex]="100001"
            [(ngModel)]="productData.customerId">
            </p-dropdown>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label for="locationId">Location :</label>
            <p-dropdown placeholder="Select Location" name="locationId" [options]="locationsData" appendTo="body" [baseZIndex]="100002"
              [(ngModel)]="productData.locationId">
            </p-dropdown>
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <label for="productCustomerDivision">Division/Fab # :</label>
            <input type="text" id="ProductCustomerDivision" class="form-control input-transparent" name="ProductCustomerDivision">
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group row mx-0">
            <label for="cycleTime">Cycle Time :</label>
            <div class="input-group input-group-transparent">
              <input type="text" id="CycleTime" class="form-control input-transparent" name="CycleTime">
              <span class="input-group-addon bg-secondary">
                Days
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="row mx-0 mb-lg">
        <div class="col-md-2">
          <div class="form-group">
            <label for="productName">Product Name :</label>
            <input type="text" id="productName" class="form-control input-transparent" name="productName">
          </div>
        </div>

        <div class="col-md-5">
          <div class="form-group">
            <label for="partId">Part :</label>
            <!-- Note: primeNg dropdown has too long delays. need to discuss alternate option -->

            <!-- <p-dropdown placeholder="Select Part" name="partId" [options]="partsData" appendTo="body" [baseZIndex]="100003"  [filter]="true"
              [(ngModel)]="productData.partId" panelstyle="width: 100%">
            </p-dropdown> -->
            <div class="input-group input-group-transparent">
              <select
                name="partId"
                class="form-control input-transparent"
                placeholder="Select Part"
                [(ngModel)]="productData.partId"
              >
                <option *ngFor="let part of partsData" value="{{part.value}}" class="w-100">{{part.label}}</option>
              </select>
              <div class="input-group-btn">
                <button type="button" class="btn btn-primary" [routerLink]="['../../parts/parts']"><i class="fa fa-plus-circle" tooltip="Create a new Customer Part in a New Tab"></i ></button>
                <button type="button" class="btn btn-default active" (click)="getParts(true)"><i class="fa fa-refresh" [class.fa-spin]="isRefreshingPartsData" tooltip="Refresh List of Approved Parts"></i></button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-5">
          <div class="form-group">
            <label for="procedureId">Procedure :</label>
            <!-- <p-dropdown placeholder="Select Procedure" name="procedureId" [options]="partsData" appendTo="body" [baseZIndex]="100004"  [filter]="true"
              [(ngModel)]="productData.procedureId" panelstyle="width: 100%">
            </p-dropdown> -->
            <div class="input-group input-group-transparent">
              <select
                name="procedureId"
                class="form-control input-transparent"
                placeholder="Select Procedure"
                [(ngModel)]="productData.procedureId"
                (change)="onSelectProcedure($event)"
              >
                <option *ngFor="let procedure of proceduresData" value="{{procedure.value}}">{{procedure.label}}</option>
              </select>
              <div class="input-group-btn">
                <!-- TODO: Add routing to procedure creation page -->
                <button type="button" class="btn btn-primary"><i class="fa fa-plus-circle" tooltip="Create an new Procedure in a new Tab"></i></button>
                <button type="button" class="btn btn-default active" (click)="getProcedures(true)"><i class="fa fa-refresh" [class.fa-spin]="isRefreshingProceduresData" tooltip="Refresh List of Approved Procedures"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="getProcedureStepsFlag && productData.procedureSteps &&  productData.procedureSteps.length > 0" class="row mx-0 mt-5 mb-4">
        <div class="col-sm-9">
          <h2>Step Details</h2>
        </div>
        <div class="col-sm-3 d-flex justify-content-end">
          <label style="width: 100px;">Show All Columns</label>
          <bootstrap-switch (onChange)="onToggle($event)" [isOn]="showAllStepColumns"></bootstrap-switch>
        </div>
      </div>

      <div *ngIf="getProcedureStepsFlag && productData.procedureSteps &&  productData.procedureSteps.length > 0" class="row mx-0" id="add-steps">
        <div class="col-md-12 column mb-4">
          <table class="table table-bordered table-hover table-striped table-condensed" id="process_steps">
            <thead>
              <tr data-toggle="tooltip" data-placement="top" title="" data-original-title="">
                <th class="text-center" width="15%">
                  Process
                </th>
                <th class="text-center" width="5%">
                  Step #
                </th>
                <th class="text-center">
                  Standard Direct Labor Minutes
                </th>
                <th class="text-center">
                  Standard Machine Minutes
                </th>
                <th class="text-center" [class.hide]="!showAllStepColumns" width="10%">
                  Replacement Cost
                </th>
                <th class="text-center" [class.hide]="!showAllStepColumns" width="10%">
                  Utilization
                </th>
                <th class="text-center" [class.hide]="!showAllStepColumns" width="10%">
                  Useful Life
                </th>
                <th class="text-center" [class.hide]="!showAllStepColumns" width="10%">
                  Equip. Expense Per Minute
                </th>
                <th class="text-center" [class.hide]="!showAllStepColumns" width="10%">
                  Annual R&amp;M
                </th>
                <th class="text-center" [class.hide]="!showAllStepColumns" width="10%">
                  R&amp;M Per Minute
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let step of productData.procedureSteps; index as i">
                <td>
                  <span [class.hide]="i >= productData.procedureSteps.length - newStepsCounts">{{step.title}}</span>
                  <select class="form-control form-control input-transparent preDefinedStep" name="Step{{i}}__rocess" [class.hide]="i < productData.procedureSteps.length - newStepsCounts">
                    <option value="155214">Blow-off CDA</option>
                    <option value="154944">CO2 Ice</option>
                    <option value="169418">Final Clean 6-Stage Ceramic</option>
                  </select>
                </td>
                <td>
                  <input
                    class="form-control input-transparent"
                    name="Step{{i}}_printOrder"
                    [(ngModel)]="productData.procedureSteps[i].printOrder"
                  >
                </td>
                <td>
                  <!-- TODO: laborTime need to be added to ProcedureSteps API -->
                  <input class="form-control input-transparent">
                </td>
                <td>
                  <input
                    class="form-control input-transparent"
                    name="Step{{i}}_equipmentTime"
                    [(ngModel)]="productData.procedureSteps[i].equipmentTime"
                  >
                </td>
                <td class="text-center" [class.hide]="!showAllStepColumns">
                  <div class="input-group input-group-transparent">
                    <span class="input-group-addon bg-secondary">$</span>
                    <input type="text" readonly="readonly" class="form-control input-transparent" value="{{productData.procedureSteps[i].replacementCost}}">
                    <span class="input-group-addon bg-secondary">.00</span>
                  </div>
                </td>
                <td class="text-center" [class.hide]="!showAllStepColumns">
                  <div class="input-group input-group-transparent">
                    <input class="form-control form-control input-transparent " readonly="readonly" type="text" value="{{productData.procedureSteps[i].utilization}}">
                    <span class="input-group-addon bg-secondary">%</span>
                  </div>
                </td>
                <!-- TODO: usefulLife need to be added to ProcedureSteps API -->
                <td class="text-center" [class.hide]="!showAllStepColumns">
                  <input class="form-control form-control input-transparent useful-life" readonly="readonly" type="text" value="">
                </td>
                <td class="text-center" [class.hide]="!showAllStepColumns">
                  <div class="input-group input-group-transparent">
                    <span class="input-group-addon bg-secondary">$</span>
                    <input class="form-control input-transparent" readonly="readonly" type="text" value="">
                  </div>
                </td>
                <td class="text-center" [class.hide]="!showAllStepColumns">
                  <div class="input-group input-group-transparent">
                    <span class="input-group-addon bg-secondary">$</span>
                    <input class="form-control input-transparent" readonly="readonly" type="text">
                  </div>
                </td>
                <td class="text-center" [class.hide]="!showAllStepColumns">
                  <div class="input-group input-group-transparent">
                    <span class="input-group-addon bg-secondary">$</span>
                    <input class="form-control input-transparent" readonly="readonly" type="text" value="">
                  </div>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td></td>
                <td class="text-right">Total:</td>
                <td class="text-right">
                  <input class="form-control input-transparent" id="totalDirectMins" name="TotalDirectMins" type="text" value="0.00">
                </td>
                <td class="text-right">
                  <input class="form-control input-transparent" id="totalMachineMins" name="TotalMachineMins" type="text" value="0.00">
                </td>
                <td colspan="6" [class.hide]="!showAllStepColumns"></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td class="text-right">Dollars:</td>
                <td class="text-right">
                  <div class="input-group input-group-transparent">
                    <span class="input-group-addon bg-secondary">$</span>
                    <input class="form-control input-transparent" id="totalDirectDollar" name="TotalDirectDollar" readonly="readonly" type="text" value="0.00">
                  </div>
                </td>
                <td class="text-right">
                  <div class="input-group input-group-transparent">
                    <span class="input-group-addon bg-secondary">$</span>
                    <input class="form-control input-transparent" id="standardMachineDollar" name="StandardMachineDollar" readonly="readonly" type="text" value="0.00">
                  </div>
                </td>
                <td colspan="6" [class.hide]="!showAllStepColumns"></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td colspan="2" class="text-right">Material Cost:</td>
                <td class="text-right">
                  <div class="input-group input-group-transparent">
                    <span class="input-group-addon bg-secondary">$</span>
                    <input class="form-control input-transparent" data-val="true"
                    id="MaterialCost" name="MaterialCost" type="text" value="">
                  </div>
                </td>
                <td colspan="6" [class.hide]="!showAllStepColumns"></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td colspan="2" class="text-right">Recommended Sale Price:</td>
                <td class="text-right">
                  <div class="input-group input-group-transparent">
                    <span class="input-group-addon bg-secondary">$</span>
                    <input class="form-control input-transparent" id="totalSalePrice" name="TotalSalePrice" type="text" value="">
                  </div>
                </td>
                <td colspan="6" [class.hide]="!showAllStepColumns"></td>
              </tr>
            </tfoot>
          </table>
        </div>

        <div class="col-md-12 d-flex justify-content-end mb-3">
          <a class="btn btn-primary pull-left" tooltip="Add a Step to the Definition" (click)="onAddProcedureStep()"><i class="fa fa-plus-circle"></i> Add Step</a>
          <a class="pull-left btn btn-warning" style="margin-left: 10px;" tooltip="Removes Last Step from Definition" (click)="onRemoveProcedureStep()"><i class="fa fa-minus-circle"></i> Remove Step</a>
        </div>
      </div>

      <div class="row mx-0 my-4">
        <div class="col-md-12 d-flex justify-content-end">
          <!-- <span class="pull-right btn btn-primary" style="margin-left: 10px;" tooltip="Generates a Quote Preview" data-target="#quoteModal"><i class="fa fa-eye"></i>Preview Quote</span> -->
          <button
            *ngIf="mode === productPageModes.Create && mode === productPageModes.Edit"
            class="btn btn-success ml-2"
            tooltip="Saves and Sends Quoation to Client"
            (click)="onSubmit()"
          >
            <i class="fa fa-send"></i> Save & Submit
          </button>
          <a
            class="btn btn-warning ml-2"
            tooltip="Back To Production Planning"
            [routerLink]="['../../../products']"
          >Cancel</a>
        </div>
      </div>
    </form>
  </widget>
</div>
