.btn-seg-type {
    opacity: .85;
    border-radius: 50% !important;
    color: #f3f3f3;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50%;
    font-size: .9em;
    margin-right: 10px;
    cursor: pointer;
    height: 65px;
    width: 65px;
  }
  .btn-seg-type:active, .btn-seg-type:focus,.btn-seg-type:hover {
    opacity: 1.0;
    color: #fff !important;
    border: 3px solid white;
  }
  .btn-seg-type.active {
    opacity: 1.0;
    color: #fff !important;
    border: 3px solid white;
  }
  .cu {
    background-color: #b87333;
  }
  
  .non-cu {
    background-color: #77c0ff;
  }
  .deseg {
    background-color: #cdc600;
  }