<div class="container">
  <widget *ngIf="showLogin"
    [title]="'<h3 class=mt-0> <img width=72 src=../../../assets/head/android-chrome-72x72.png> </widget>Portal Login</h3>'"
    [customHeader]="true" class="widget-auth mx-auto">
    <form>
      <alert *ngIf="loginService.errorMessage" type="danger alert-sm widget-middle-overflow rounded-0 text-center" data-cy="alert-message">
        {{loginService.errorMessage}}
      </alert>
      <div class="form-group mt">
        <label for="email">Username</label>
        <div class="input-group input-group-transparent">
          <div class="input-group-addon">
            <i class="la la-user text-white"></i>
          </div>
          <input id="email" class="form-control input-transparent pl-3" [(ngModel)]="email" type="email" required
            name="email" placeholder="Username" data-cy="username-input"/>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <div class="input-group input-group-transparent">
          <div class="input-group-addon">
            <i class="la la-lock text-white"></i>
          </div>
          <input id="password" autocomplete="on" class="form-control input-transparent pl-3" [(ngModel)]="password" type="password"
            required name="password" placeholder="Password" data-cy="password-input"/>
        </div>
      </div>
      <div class="bg-widget auth-widget-footer">
        <button (click)="login()" type="submit" [disabled]="loginService.isFetching" class="btn btn-sm btn-danger auth-btn" data-cy="submit-button">
          <span class="auth-btn-circle">
            <i *ngIf="!loginService.isFetching" class="la la-caret-right"></i>
            <i *ngIf="loginService.isFetching" class="fas fa-spinner-third fa-spin"></i>
          </span>
          Login
        </button>
        <div class="d-block text-center sm-mg">
          <a (click)="fogotUserName()" class="text-center mb-4" data-cy="forgotusername-link">Forgot Username?</a> |
          <a (click)="fogotPassword()" class="text-center mb-4" data-cy="forgotpassword-link">Forgot Password?</a>
        </div>
      </div>
    </form>
  </widget>
  
  <widget *ngIf="forgotUsername" [title]="'<h3 class=mt-0><img src=../../../assets/head/android-chrome-72x72.png> Forgot Username</h3>'" [customHeader]="true"
    class="widget-auth mx-auto">
    <form>
      <alert *ngIf="loginService.errorMessage" type="danger alert-sm widget-middle-overflow rounded-0">
        {{loginService.errorMessage}}
      </alert>
      <div class="form-group mt">
        <label for="email">Email</label>
        <div class="input-group input-group-transparent">
          <div class="input-group-addon">
            <i class="la la-user text-white"></i>
          </div>
          <input id="email" class="form-control input-transparent pl-3" [(ngModel)]="email" type="email" required
            name="email" placeholder="Email" data-cy="email-input"/>
        </div>
      </div>
      <div class="bg-widget auth-widget-footer">
        <button (click)="forgotUserName()" type="submit" [disabled]="loginService.isFetching" class="btn btn-sm btn-danger auth-btn" data-cy="submit-button">
          <span class="auth-btn-circle">
            <i *ngIf="!loginService.isFetching" class="la la-caret-right"></i>
            <i *ngIf="loginService.isFetching" class="fas fa-spinner-third fa-spin"></i>
          </span>
          Submit
        </button>
        <div class="d-block text-center sm-mg">
          <a (click)="fogotPassword()" class="text-center mb-4">Forgot Password?</a> |
          <a (click)="showLoginDiv()" class="text-center mb-4">Login</a>
        </div>
      </div>
    </form>
  </widget>
  <widget *ngIf="forgotPassword" [title]="'<h3 class=mt-0><img src=../../../assets/head/android-chrome-72x72.png> Forgot Password</h3>'" [customHeader]="true"
    class="widget-auth mx-auto">
    <form>
      <alert *ngIf="loginService.errorMessage" type="danger alert-sm widget-middle-overflow rounded-0">
        {{loginService.errorMessage}}
      </alert>
      <div class="form-group mt">
        <label for="username">Username</label>
        <div class="input-group input-group-transparent">
          <div class="input-group-addon">
            <i class="la la-user text-white"></i>
          </div>
          <input id="username" class="form-control input-transparent pl-3" [(ngModel)]="username" type="username"
            required name="username" placeholder="Username" data-cy="username-input"/>
        </div>
      </div>
      <div class="bg-widget auth-widget-footer">
        <button (click)="forgotUserPassword()" type="submit" [disabled]="loginService.isFetching" class="btn btn-sm btn-danger auth-btn" data-cy="submit-button"> 
          <span class="auth-btn-circle">
            <i *ngIf="!loginService.isFetching" class="la la-caret-right"></i>
            <i *ngIf="loginService.isFetching" class="fas fa-spinner-third fa-spin"></i>
          </span>
          Reset Password
        </button>
        <div class="d-block text-center sm-mg">
          <a (click)="fogotUserName()" class="text-center mb-4">Forgot Username?</a> |
          <a (click)="showLoginDiv()" class="text-center mb-4">Login</a>
        </div>
      </div>
    </form>
  </widget>
</div>
<!-- <footer class="auth-footer">
  2020 &copy; Sing App - React Admin Dashboard Template.
</footer> -->