.exportCsv {
  font-size: 31px;
  margin-right: 5px;
  cursor: pointer;
}

.exportBtnsMargin {
  .btn {
    margin-right: 5px;
  }
  .btn-secondary {
    color: #fff;
    border-color: #868e96;
  }
}

.footer-summary {
  background-color: transparent !important;
  border: none !important;
  text-align: right;
  padding: 0 27px !important;
  color: #fff !important;
  font-weight: 100 !important;
}
