.progress {
  margin-bottom: 0px;
  position: relative;
  top: 0px;
}

.percentage {
  position: relative;
  top: -1.35em;
  text-align: center;
}

.progressbar-container {
  max-height: 1.75em;
}

.activetask-container {
  text-align: center;
}

alert {
  cursor: pointer;
}

.invalid-value {
  color: #db4912;
  font-weight: 700;
  margin-top: 3px;
}

p-celleditor > * {
  width: 90% !important;
}

.width-85 {
  width: 85px !important;
}

p-table {
  tr > th.disposition {
    width: 10em;
  }
}
