<div class="container-flex">
    <div class="row">
        <div class="col-6">
            <h1 class="page-title">
                <i [ngClass]="'fas '+globals.activeMenu.icon"></i>
                {{globals.activeMenu.name}}
            </h1>
        </div>
    </div>
    <div class="row">
        <widget>
            <p-table #dt [value]="data" dataKey="id" styleClass="ui-table-customers" [rowHover]="true" [rows]="10"
                [showCurrentPageReport]="true"  currentPageReportTemplate="Showing {first}-{last} of {totalRecords}"
                [rowsPerPageOptions]="[10,25,50,100]"  [paginator]="true"  [filterDelay]="0" stateStorage="local"
                [filterDelay]="1300" [lazy]="true" (onLazyLoad)="getWorkOrders($event)" [totalRecords]="totalRecords"
                 stateKey="{{gridStorageId}}" (onEditInit)="onEditInit()" (onEditCancel)="onEditCancel()" (onEditComplete)="onEditComplete()">
                <ng-template pTemplate="caption">
                    <div class="text-right">
                        <button *ngIf="false" [routerLink]="['../proceduretype-create']"
                            class="btn btn-success width-100 mb-xs sm-mrg" role="button" data-cy="add-button">
                            + Add
                        </button>
                        <grid-options [(defaultColumns)]="gridSettings" [gridStorageId]="gridStorageId" [ptable]="dt"
                            [gridVersion]="gridVersion"  data-cy="usergrid-options"  [hidden]="false">
                        </grid-options>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 2rem"></th>
                        <th *ngFor="let col of gridSettings" [hidden]="!col.visible" [pSortableColumn]="col.id"
                            data-cy="grid-header">
                            {{col.label}} <p-sortIcon [field]="col.id" *ngIf="col.label !== 'Actions'"></p-sortIcon>
                        </th>
                    </tr>
                    <tr>
                        <th style="width: 2rem"></th>
                        <th grid-input-filter [dt]="dt" searchField="purchaseId"
                            [hidden]="!commonGrid.isVisibleCol('purchaseId',gridSettings)"
                            [gridSettings]="gridSettings">
                        </th>
                        <th grid-input-filter [dt]="dt" searchField="workOrderItemNumber"
                            [hidden]="!commonGrid.isVisibleCol('workOrderItemNumber',gridSettings)"
                            [gridSettings]="gridSettings">
                        </th>
                        <th grid-input-filter [dt]="dt" searchField="customerName"
                            [hidden]="!commonGrid.isVisibleCol('customerName',gridSettings)"
                            [gridSettings]="gridSettings">
                        </th>
                        <th [hidden]="!commonGrid.isVisibleCol('locationName',gridSettings)">
                            <multiselect-wrapper [gridStorageId]="gridStorageId" [options]="locationOptions"
                                [filterId]="'locationName'" [defaultText]="'Select Location'" [defaultTextTooltip]="''"
                                [datatable]="dt" data-cy="locationname-input">
                            </multiselect-wrapper>
                        </th>
                        <th grid-input-filter [dt]="dt" searchField="serialNumber"
                            [hidden]="!commonGrid.isVisibleCol('serialNumber',gridSettings)"
                            [gridSettings]="gridSettings">
                        </th>
                        <th grid-input-filter [dt]="dt" searchField="referencePO"
                            [hidden]="!commonGrid.isVisibleCol('referencePO',gridSettings)"
                            [gridSettings]="gridSettings">
                        </th>
                        <th grid-input-filter [dt]="dt" searchField="quantity"
                            [hidden]="!commonGrid.isVisibleCol('quantity',gridSettings)" [gridSettings]="gridSettings">
                        </th>
                        <th [hidden]="!commonGrid.isVisibleCol('scheduledStartDate',gridSettings)">
                            <div class="position-relative" tooltip="Search by Scheduled Start Date">
                                <pcalendar-wrapper [gridStorageId]="gridStorageId" [filterId]="'scheduledStartDate'"
                                    [datatable]="dt">
                                </pcalendar-wrapper>
                            </div>
                        </th>
                        <th [hidden]="!commonGrid.isVisibleCol('scheduledEndDate',gridSettings)">
                            <div class="position-relative" tooltip="Search by Scheduled End Date">
                                <pcalendar-wrapper [gridStorageId]="gridStorageId" filterId="scheduledEndDate"
                                    [datatable]="dt">
                                </pcalendar-wrapper>
                            </div>
                        </th>
                        <th [hidden]="!commonGrid.isVisibleCol('actualStartDate',gridSettings)">
                            <div class="position-relative" tooltip="Search by Actual Start Date">
                                <pcalendar-wrapper [gridStorageId]="gridStorageId" filterId="actualStartDate"
                                    [datatable]="dt">
                                </pcalendar-wrapper>
                            </div>
                        </th>
                        <th grid-input-filter [dt]="dt" searchField="productName"
                            [hidden]="!commonGrid.isVisibleCol('productName',gridSettings)"
                            [gridSettings]="gridSettings">
                        </th>
                        <th grid-input-filter [dt]="dt" searchField="procedureName"
                            [hidden]="!commonGrid.isVisibleCol('procedureName',gridSettings)"
                            [gridSettings]="gridSettings">
                        </th>
                        <th [hidden]="!commonGrid.isVisibleCol('status',gridSettings)">
                            <multiselect-wrapper [gridStorageId]="gridStorageId" [options]="statusOptions"
                                [filterId]="'status'" [defaultText]="'Select Status'" [defaultTextTooltip]="''"
                                [datatable]="dt" data-cy="wipmenustatus-multiselect">
                            </multiselect-wrapper>
                        </th>
                        <th grid-input-filter [dt]="dt" searchField="disposition"
                            [hidden]="!commonGrid.isVisibleCol('disposition',gridSettings)"
                            [gridSettings]="gridSettings" class="column-disposition">
                        </th>
                        <th *ngIf="adminOrManager" grid-input-filter [dt]="dt" searchField="price"
                            [hidden]="!commonGrid.isVisibleCol('price',gridSettings)"
                            [gridSettings]="gridSettings">
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-model let-expanded="expanded" let-rowIndex="rowIndex">
                    <tr class="ui-selectable-row" data-cy='wipgrid-body'>
                        <td>
                          <i *ngIf="model.subParts && model.subParts.length>0" class="fad pointer" [pRowToggler]="model" [ngClass]="{'fa-plus': expanded !== true, 'fa-minus':expanded===true}"></i>
                        </td>
                        <td [hidden]="!commonGrid.isVisibleCol('purchaseId', gridSettings)">
                            {{model.purchaseId}}
                        </td>
                        <td [hidden]="!commonGrid.isVisibleCol('workOrderItemNumber', gridSettings)">
                            <alert type="warning" [ngClass]="{ 'px-0 py-1 my-0 text-center wip-alert':true,
                            'cu-color': model.segregationType === EnumSegregationType.CU,
                            'non-cu-color': model.segregationType === EnumSegregationType.NONCU || model.segregationType === null,
                            'deseg-color': model.segregationType === EnumSegregationType.DESEG
                            }" [routerLink]="['../details',model.id]">
                                {{model.workOrderItemNumber}}
                                <span class="badge badge-danger wip-badge" *ngIf="model.hasNcr">NC</span>
                            </alert>
                        </td>
                        <td [hidden]="!commonGrid.isVisibleCol('customerName', gridSettings)">
                            {{model.customerName}}
                        </td>
                        <td [hidden]="!commonGrid.isVisibleCol('locationName', gridSettings)">
                            {{model.locationName}}
                        </td>
                        <td [hidden]="!commonGrid.isVisibleCol('serialNumber', gridSettings)">
                            {{model.serialNumber}}
                        </td>
                        <td [hidden]="!commonGrid.isVisibleCol('referencePO', gridSettings)">
                            {{model.referencePO}}
                        </td>
                        <td [hidden]="!commonGrid.isVisibleCol('quantity', gridSettings)">
                            {{model.quantity}}
                        </td>
                        <td [hidden]="!commonGrid.isVisibleCol('scheduledStartDate', gridSettings)">
                            {{model.scheduledStartDate | userTimezone }}
                        </td>
                        <td [hidden]="!commonGrid.isVisibleCol('scheduledEndDate', gridSettings)">
                            {{model.scheduledEndDate | userTimezone }}
                        </td>
                        <td [hidden]="!commonGrid.isVisibleCol('actualStartDate', gridSettings)">
                            {{model.actualStartDate | userTimezone }}
                        </td>
                        <td [hidden]="!commonGrid.isVisibleCol('productName', gridSettings)">
                            {{model.productName}}
                        </td>
                        <td [hidden]="!commonGrid.isVisibleCol('procedureName', gridSettings)">
                            {{model.procedureName}}
                        </td>
                        <td [hidden]="!commonGrid.isVisibleCol('status', gridSettings)">
                            <span *ngIf="model.status !== 'In Progress'">
                                {{model.status}}
                            </span>
                            <div *ngIf=" model.status === 'In Progress'">
                                <div class="activetask-container">{{model.currentActiveTaskName}}</div>
                                <div class="progressbar-container">
                                    <progressbar [value]="model.percentageOfTasksCompleted | numberToPercent"
                                        [type]="model.tasksCompletedType" [striped]="true" [animate]="false">
                                    </progressbar>
                                    <div class="percentage" [tooltip]="percentOfTaskCompletedTemplate">
                                        {{model.percentageOfTasksCompleted | percent : '2.2-2'}}
                                    </div>
                                    <ng-template #percentOfTaskCompletedTemplate>
                                        {{model.percentageOfTasksCompleted | percent : '2.2-2'}}
                                        {{model.percentageOfTasksCompletedNumerator}}/{{model.percentageOfTasksCompletedDenominator}}
                                        steps completed
                                    </ng-template>
                                </div>
                                <div class="progressbar-container">
                                    <progressbar
                                        [value]="model.percentageOfExpectedDurationTimeLogged | numberToPercent"
                                        [type]="model.timeLoggedType" [striped]="true" [animate]="false"></progressbar>
                                    <div class="percentage" [tooltip]="percentageOfExpectedDurationTimeLogged">
                                        {{model.percentageOfExpectedDurationTimeLogged | percent : '2.2-2'}}</div>
                                    <ng-template #percentageOfExpectedDurationTimeLogged>
                                        {{model.percentageOfExpectedDurationTimeLogged | percent : '2.2-2'}}
                                        {{model.percentageOfExpectedDurationTimeLoggedNumerator/60 |
                                        number:'1.1-1'}}/{{model.percentageOfExpectedDurationTimeLoggedDenominator/60 |
                                        number:'1.1-1'}} hours completed
                                    </ng-template>
                                </div>
                            </div>
                        </td>
                        <td [hidden]="!commonGrid.isVisibleCol('disposition', gridSettings)" class="column-disposition">
                            <!-- {{model.disposition}} -->
                            <!-- <button type="button" class="btn btn-danger">
                              <i class="fa fa-solid fa-clock"></i>
                              Review
                            </button> -->
                            <button type="button" class="btn btn-warning" (click)="viewDispositionHistory()">
                              <i class="fa fa-solid fa-eye"></i>
                              View
                            </button>
                        </td>
                        <td *ngIf="adminOrManager" pEditableColumn [hidden]="!commonGrid.isVisibleCol('price', gridSettings)" (onEditComplete)="onEditComplete($event)">
                          <p-cellEditor>
                            <ng-template pTemplate="input">
                              <input pInputText type="text" [(ngModel)]="model.price" (ngModelChange)="onChangePrice(rowIndex)">
                              <div *ngIf="invalidPriceError && rowIndex === this.currentRowIndex" class="invalid-value">Invalid Price</div>
                            </ng-template>
                            <ng-template pTemplate="output">
                              {{model.price | currency: 'USD'}}
                            </ng-template>
                          </p-cellEditor>
                      </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="16" style="text-align:left">No WorkOrders to Display</td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="rowexpansion" let-itemData>
                  <tr>
                    <td [attr.colspan]="getVisibleColumns()+1">
                      <app-grid
                        class="innerGrid"
                        [showReport]="true"
                        [gridSaved]="gridPartsSaved"
                        [reportInfo]="reportPartsModel"
                        [data]="itemData.subParts">
                      </app-grid>
                    </td>
                  </tr>
                </ng-template>
            </p-table>
        </widget>
    </div>
</div>

<p-dialog header="Disposition History" [(visible)]="showDispositionDialog" appendTo="body"
  [baseZIndex]="100001" [modal]='true' [style]="{width: '50vw'}">
  <div class="container">
    <div class="row my-3 mx-0">
      <div class="col-12">
        <table class="table table-bordered table-condensed w-100">
          <thead>
            <tr>
              <th class="text-center" width="15%">
                DateTime
              </th>
              <th class="text-center" width="5%">
                UserName
              </th>
              <th class="text-center">
                Message
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1293</td>
              <td>Tester</td>
              <td>Message</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="pull-right">
      <button type="button" (click)="closeDispositionDialog()" class="btn btn-outline-inverse width-100 mb-xs">
        Close
      </button>
    </div>
  </p-footer>
</p-dialog>
