<div class="container-flex">
    <div class="row">
        <div class="col-12">
            <h1 class="page-title">
                <i class="far fa-edit mx-2"></i>
                <span>Edit Procedure</span>
            </h1>
        </div>
    </div>
    <div class="row">
            <div class="row col-12 custom-panel">
                <div class="col-6">
                    <div class="form-group">
                        <label for="proceduretype" class="col-form-label text-left">
                            Procedure Type
                        </label>
                        <div class="col-12">
                            <p-dropdown placeholder="Select Major Group" name="proceduretype"
                                [options]="availableProcedureTypes" showClear="true" [(ngModel)]="procedure.procedureTypeId"
                                data-cy="proceduretype-dropdown">
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-form-label text-left">
                            Name
                        </label>
                        <input type="text" name="name" [(ngModel)]="procedure.name" data-validate="parsley"
                            data-parsley-trigger="change" data-parsley-minlength="3" data-parsley-required="true"
                            class="form-control input-transparent" tooltip="Name of Procedure" data-cy="name-input">
                    </div>
                    <div class="form-group" *ngIf="availableRoles !== undefined">
                        <label for="roles" class="col-form-label text-left">
                            Roles
                        </label><br />
                        <multiselect-wrapper-form [options]="availableRoles" [limit]="10" [(model)]="selectedRoles"
                            defaultLabelProperty="name" defaultId="id" defaultLabel="Select Roles" data-cy="roles-multiselect">
                        </multiselect-wrapper-form>
                    </div>
                    <div class="form-group">
                        <label for="duration" class="col-form-label text-left">
                            Estimated Procedure Time
                        </label>
                        <input type="number" name="duration" [(ngModel)]="procedure.duration" data-validate="parsley"
                            data-parsley-trigger="change" data-parsley-minlength="3" data-parsley-required="true"
                            class="form-control input-transparent" tooltip="Duration of Procedure"
                            data-cy="duration-input">
                    </div>
                    <div class="form-group">
                        <label for="durationType" class="col-form-label text-left">
                            Duration Type
                        </label>
                        <div class="col-12">
                            <p-dropdown placeholder="Select Duration Type" name="durationType"
                                [options]="durationTypeOptions" showClear="true" [(ngModel)]="procedure.durationType"
                                data-cy="durationtype-dropdown">
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="comment" class="col-form-label text-left">
                            Comments
                        </label>
                        <ckeditor-wrapper [editorcontent]="procedure.comment"
                            (editorContentChange)="procedure.comment = $event"></ckeditor-wrapper>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-primary m-2" (click)="updateProcedure(procedure)" data-cy="update-button">Update</button>
                        <button type="button" class="btn btn-warning m-2" data-cy="cancel-button" [routerLink]="['../procedures']">Cancel</button>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="referencefiles" class="col-form-label text-left">
                            Reference Files
                        </label>
                        <cmh-file-uploader name="referencefiles" class="col-12"
                            *ngIf="procedure.referenceFiles !== undefined" [menuItem]="menuItems.Templates"
                            multiple="multiple" [(files)]="procedure.referenceFiles">
                        </cmh-file-uploader>
                    </div>
                    <div class="form-group">
                        <label for="addprocedurestep" class="col-form-label text-left">
                            Add Procedure Step
                        </label>
                        <div class="col-12">
                            <p-dropdown placeholder="Select Procedure Step Template" name="addprocedurestep"
                                [options]="availableProcedureStepTemplates" showClear="true" [(ngModel)]="selectedProcedureStepTemplate"
                                data-cy="addprocedurestep-dropdown">
                            </p-dropdown>
                            <button type="button" class="btn btn-primary m-2" (click)="addProcedureStep()" data-cy="update-button">+ Add New Step</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h1 class="page-title">
                        <span>Steps</span>
                    </h1>
                </div>
                <div class="col-12">
                    <ng-template #itemTemplate let-procedureStep="item" let-i="index">
                        <div class="row my-4 custom-panel">
                        <div class="col-5">
                            <div class="row d-flex flex-row">
                                <div class="col-4">
                                    <div class="form-group ml-3">
                                        <label class="col-form-label text-left">
                                            Step Number: {{procedureStep.value.printOrder}}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="form-group d-flex flex-row justify-content-end">
                                        <label class="col-form-label text-left">
                                            Predecessor Step
                                        </label>
                                        <input type="text" name="title{{i}}" [(ngModel)]="procedureStep.value.predecessorStepName"
                                            data-validate="parsley" data-parsley-trigger="change" data-parsley-minlength="3"
                                            data-parsley-required="true" class="form-control input-transparent col-8 ml-4"
                                            tooltip="Title of Procedure Step" data-cy="title-input" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-12 d-flex flex-row">
                                    <label for="title{{i}}" class="col-form-label text-left col-3">
                                        Title
                                    </label>
                                    <input type="text" name="title{{i}}" [(ngModel)]="procedureStep.value.title"
                                        data-validate="parsley" data-parsley-trigger="change" data-parsley-minlength="3"
                                        data-parsley-required="true" class="form-control input-transparent col-9"
                                        tooltip="Title of Procedure Step" data-cy="title-input">
                                </div>
                                <div class="form-group col-12 d-flex flex-row">
                                    <label for="text{{i}}" class="col-form-label text-left col-3">
                                        Text
                                    </label>
                                    <input type="text" name="text{{i}}" [(ngModel)]="procedureStep.value.stepText"
                                        data-validate="parsley" data-parsley-trigger="change" data-parsley-minlength="3"
                                        data-parsley-required="true" class="form-control input-transparent col-9"
                                        tooltip="Text of Procedure Step" data-cy="text-input">
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-6 d-flex flex-row">
                                    <label for="labortime{{i}}" class="col-form-label text-left col-6">
                                        Labor Time
                                    </label>
                                    <input type="text" name="labortime{{i}}" [(ngModel)]="procedureStep.value.laborTime"
                                        data-validate="parsley" data-parsley-trigger="change" data-parsley-minlength="3"
                                        data-parsley-required="true" class="form-control input-transparent col-6 ml-2"
                                        tooltip="Labor Time of Procedure Step" data-cy="labortime-input">
                                </div>
                                <div class="form-group col-6 d-flex flex-row">
                                    <label for="equipmenttime{{i}}" class="col-form-label text-left col-6">
                                        Equipment Time
                                    </label>
                                    <input type="text" name="equipmenttime{{i}}" [(ngModel)]="procedureStep.value.equipmentTime"
                                        data-validate="parsley" data-parsley-trigger="change" data-parsley-minlength="3"
                                        data-parsley-required="true" class="form-control input-transparent  col-6"
                                        tooltip="Equipment Time of Procedure Step" data-cy="equipmenttime-input">
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-4 d-flex flex-row">
                                    <label for="replacementcost{{i}}" class="col-form-label text-left col-9">
                                        Replacement Cost
                                    </label>
                                    <input type="text" name="replacementcost{{i}}"
                                        [(ngModel)]="procedureStep.value.replacementCost" data-validate="parsley"
                                        data-parsley-trigger="change" data-parsley-minlength="3"
                                        data-parsley-required="true" class="form-control input-transparent col-3 ml-3"
                                        tooltip="Replacement Cost of Procedure Step" data-cy="replacementcost-input">
                                </div>
                                <div class="form-group col-4 d-flex flex-row">
                                    <label for="utilizationtime{{i}}" class="col-form-label text-left col-9">
                                        Utilization Time
                                    </label>
                                    <input type="text" name="utilizationtime{{i}}"
                                        [(ngModel)]="procedureStep.value.utilizationTime" data-validate="parsley"
                                        data-parsley-trigger="change" data-parsley-minlength="3"
                                        data-parsley-required="true" class="form-control input-transparent col-3"
                                        tooltip="Utilization Time of Procedure Step" data-cy="utilizationtime-input">
                                </div>
                                <div class="form-group col-4 d-flex flex-rowp">
                                    <label for="usefullife{{i}}" class="col-form-label text-left col-9">
                                        Useful Life
                                    </label>
                                    <input type="text" name="usefullife{{i}}" [(ngModel)]="procedureStep.value.usefulLife"
                                        data-validate="parsley" data-parsley-trigger="change" data-parsley-minlength="3"
                                        data-parsley-required="true" class="form-control input-transparent col-3"
                                        tooltip="Useful Life of Procedure Step" data-cy="usefullife-input">
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-12 d-flex flex-row">
                                    <label for="proceduresteptype{{i}}" class="col-form-label text-left col-3">
                                        Procedure Step Type
                                    </label>
                                    <div class="col-9 px-0">
                                        <p-dropdown placeholder="Select Procedure Step Type" name="proceduresteptype{{i}}"
                                            [options]="procedureStepTypeOptions" showClear="true"
                                            [(ngModel)]="procedureStep.value.selectedProcedureStepTypeId"
                                            data-cy="procedurestepyype-dropdown">
                                        </p-dropdown>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-12 d-flex flex-row">
                                    <label for="roles{{i}}" class="col-form-label text-left col-3">
                                        Roles
                                    </label>
                                    <multiselect-wrapper-form [options]="availableRoles" [limit]="10" [(model)]="procedureStep.value.selectedRoles"
                                        defaultLabelProperty="name" defaultId="id" defaultLabel="Select Roles" data-cy="roles-multiselect">
                                    </multiselect-wrapper-form>
                                </div>
                            </div>

                            <div class="row ml-2">
                                <button *ngIf="procedureStep.value.id === 0" type="button" name="savebutton{{i}}" class="btn btn-primary m-2" (click)="saveProcedureStep(procedureStep.value)">Save</button>
                                <button *ngIf="procedureStep.value.id !== 0" type="button" name="updatebutton{{i}}" class="btn btn-primary m-2" (click)="updateProcedureStep(procedureStep.value)"
                                    data-cy="update-button">Update</button>
                                <button type="button" name="deletebutton{{i}}" class="btn btn-danger m-2"  (click)="openConfirmDeleteStepDialog(procedureStep.value)"
                                    data-cy="delete-button">Delete</button>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label for="referencefiles" class="col-form-label text-left">
                                    Reference Files
                                </label>
                                <cmh-file-uploader name="referencefiles" class="col-12"
                                    *ngIf="procedureStep.value.referenceFiles !== undefined" [menuItem]="menuItems.Templates"
                                    multiple="multiple" [(files)]="procedureStep.value.referenceFiles">
                                </cmh-file-uploader>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row justify-content-end">
                                <button *ngIf="canEdit" class="btn btn-success width-100 mb-xs sm-mrg m-2" role="button" (click)="openAddMonitorDialog(procedureStep.value)" data-cy="add-button">
                                    Add Monitor
                                </button>
                            </div>
                            <div class="row monitorstable-column">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Type</th>
                                            <th>Description</th>
                                            <th>Input Type</th>
                                            <th>Input Target</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let procedureStepMonitor of procedureStep.value.monitors;">
                                            <td>{{ procedureStepMonitor.monitorType }}</td>
                                            <td>{{ procedureStepMonitor.description }}</td>
                                            <td>{{ procedureStepMonitor.inputType }}</td>
                                            <td>{{ procedureStepMonitor.targetValue }}</td>
                                            <td>
                                                <i *ngIf="canEdit" class="far fa-edit pointer" tooltip="Edit Monitor"
                                                    data-cy="edit-button"
                                                    (click)="openEditMonitorDialog(procedureStepMonitor)"></i>
                                                <i *ngIf="canDelete" class="fa fa-trash pointer" tooltip="Delete Monitore"
                                                    data-cy="delete-button"
                                                    (click)="openConfirmDeleteMonitorDialog(procedureStep.value, procedureStepMonitor)"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        </div>
                    </ng-template>
             
                    <bs-sortable *ngIf="procedureSteps !== undefined"
                    [(ngModel)]="procedureSteps"
                    [itemTemplate]="itemTemplate"
                    itemClass="sortable-item"
                    itemActiveClass="sortable-item-active"
                    placeholderItem="Drag here"
                    placeholderClass="placeholderStyle"
                    wrapperClass="sortable-wrapper"
                    ></bs-sortable>
                    
                </div>
            </div>
    </div>
</div>
<p-dialog header="Confirm Delete Monitor" [(visible)]="showConfirmDeleteMonitorDialog" [appendTo]="body"
    [baseZIndex]="100001" [modal]='true' [style]="{width: '50vw'}" data-cy="user-header">
    <div class="container">
        <div class="row">
            Are you sure you want to Delete this Monitor?
        </div>
    </div>
    <p-footer>
        <div class="pull-right">
            <button type="submit" (click)="deleteMonitor()" class="btn btn-outline-inverse width-100 mb-xs"
                role="button" data-cy="confirmdelete-button">
                Delete
            </button>
            <button type="button" (click)="closeConfirmDeleteMonitorDialog()"
                class="btn btn-outline-inverse width-100 mb-xs" role="button">
                Cancel
            </button>
        </div>
    </p-footer>
</p-dialog>
<p-dialog header="Edit Monitor" [(visible)]="showEditMonitorDialog" [appendTo]="body" [baseZIndex]="100001"
    [modal]='true' [style]="{width: '50vw'}" data-cy="user-header">
    <div class="container">
        <div class="row" *ngIf="monitorToEdit !== undefined">
            <div class="form-group col-12 d-flex flex-row">
                <label for="monitortype" class="col-form-label text-left col-3">
                    Monitor Type
                </label>
                <div class="col-12 px-0">
                    <p-dropdown placeholder="Select Monitor Type" name="monitortype" [options]="monitorTypeOptions"
                        showClear="true" [(ngModel)]="monitorToEdit.monitorType">
                    </p-dropdown>
                </div>
            </div>
            <div class="form-group col-12 d-flex flex-row">
                <label for="inputtype" class="col-form-label text-left col-3">
                    Input Type
                </label>
                <div class="col-9 px-0">
                    <p-dropdown placeholder="Select Input Type" name="inputtype" [options]="inputTypeOptions"
                        showClear="true" [(ngModel)]="monitorToEdit.inputType">
                    </p-dropdown>
                </div>
            </div>
            <div class="form-group col-12 d-flex flex-row" *ngIf="monitorToEdit.type === 'Select'">
                <label for="listsource" class="col-form-label text-left col-3">
                    List Source
                </label>
                <div class="col-9 px-0">
                    <p-dropdown placeholder="Select List Source" name="listsource"
                        [options]="listSource" showClear="true" [(ngModel)]="monitorToEdit.listSource">
                    </p-dropdown>
                </div>
            </div>
            <div class="form-group col-12 d-flex flex-row" *ngIf="monitorToEdit.type === 'Number' || monitorToEdit.type === 'Pass or Fail'">
                <label for="shouldbe" class="col-form-label text-left col-3">
                    Should Be
                </label>
                <div class="col-9 px-0">
                    <p-dropdown placeholder="Select Should Be" name="shouldbe"
                        [options]="shouldBeOptions" showClear="true" [(ngModel)]="monitorToEdit.shouldBe">
                    </p-dropdown>
                </div>
            </div>
            <div class="form-group col-12 d-flex flex-row" *ngIf="monitorToEdit.type !== 'Select' && monitorToEdit.type !== 'Pass or Fail'">
                <label for="targetvalue" class="col-form-label text-left col-3">
                    Target Value
                </label>
                <input type="text" name="targetvalue" [(ngModel)]="monitorToEdit.targetValue" data-validate="parsley"
                    data-parsley-trigger="change" data-parsley-minlength="3" data-parsley-required="true"
                    class="form-control input-transparent" tooltip="Target Value"
                    data-cy="targetvalue-input">
            </div>
            <div class="form-group col-12 d-flex flex-row">
                <label for="faulthandling" class="col-form-label text-left col-3">
                    Fault Handling
                </label>
                <div class="col-9 px-0">
                    <p-dropdown placeholder="Select Fault Handling" name="faulthandling"
                        [options]="faultHandlingOptions" showClear="true" [(ngModel)]="monitorToEdit.faultHandling">
                    </p-dropdown>
                </div>
            </div>
            <div class="form-group col-12 d-flex flex-row">
                <label for="description" class="col-form-label text-left col-3">
                    Description
                </label>
                <ckeditor-wrapper [editorcontent]="monitorToEdit.description" class="col-9 px-0"
                    (editorContentChange)="monitorToEdit.description = $event"></ckeditor-wrapper>
            </div>
            <div class="form-group col-12 d-flex flex-row">
                <label class="col-3 col-form-label text-md-right">
                    Send Email Notification
                </label>
                <div class="col-9 px-0 ">
                    <div class="display-inline-block isActive">
                        <label class="form-check-label" for="sendemailnotification" class="switch">
                            <input class="form-check-input" [(ngModel)]="monitorToEdit.sendEmailNotification"
                                name="sendemailnotification" type="checkbox" class="ios" checked
                                id="sendemailnotification" /><i data-cy="sendemailnotification-checkbox"></i>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p-footer>
        <div class="pull-right">
            <button type="button" (click)="updateMonitor()" class="btn btn-outline-inverse width-100 mb-xs"
                role="button">
                Update</button>
            <button type="button" (click)="closeEditMonitorDialog()" class="btn btn-outline-inverse width-100 mb-xs"
                role="button">
                Cancel
            </button>
        </div>
    </p-footer>
</p-dialog>
<p-dialog header="Add Monitor" [(visible)]="showAddMonitorDialog" [appendTo]="body" [baseZIndex]="100001"
    [modal]='true' [style]="{width: '60vw'}" data-cy="user-header">
    <div class="container-fluid">
        <div class="row" *ngIf="monitorToAdd !== undefined">
            <div class="form-group col-12 d-flex flex-row">
                <label for="monitortype" class="col-form-label text-left col-3">
                    Monitor Type
                </label>
                <div class="col-9 px-0">
                    <p-dropdown placeholder="Select Monitor Type" name="monitortype" [options]="monitorTypeOptions"
                        showClear="true" [(ngModel)]="monitorToAdd.type">
                    </p-dropdown>
                </div>
            </div>
            <div class="form-group col-12 d-flex flex-row">
                <label for="inputtype" class="col-form-label text-left col-3">
                    Input Type
                </label>
                <div class="col-9 px-0">
                    <p-dropdown placeholder="Select Input Type" name="inputtype" [options]="inputTypeOptions"
                        showClear="true" [(ngModel)]="monitorToAdd.inputType">
                    </p-dropdown>
                </div>
            </div>
            <div class="form-group col-12 d-flex flex-row" *ngIf="monitorToAdd.type === 'Select'">
                <label for="listsource" class="col-form-label text-left col-3">
                    List Source
                </label>
                <div class="col-9 px-0">
                    <p-dropdown placeholder="Select List Source" name="listsource"
                        [options]="listSource" showClear="true" [(ngModel)]="monitorToAdd.listSource">
                    </p-dropdown>
                </div>
            </div>
            <div class="form-group col-12 d-flex flex-row" *ngIf="monitorToAdd.type === 'Number' || monitorToAdd.type === 'Pass or Fail'">
                <label for="shouldbe" class="col-form-label text-left col-3">
                    Should Be
                </label>
                <div class="col-9 px-0">
                    <p-dropdown placeholder="Select Should Be" name="shouldbe"
                        [options]="shouldBeOptions" showClear="true" [(ngModel)]="monitorToAdd.shouldBe">
                    </p-dropdown>
                </div>
            </div>
            <div class="form-group col-12 d-flex flex-row" *ngIf="monitorToAdd.type !== 'Select' && monitorToAdd.type !== 'Pass or Fail'">
                <label for="targetvalue" class="col-form-label text-left col-3">
                    Target Value
                </label>
                <input type="text" name="targetvalue" [(ngModel)]="monitorToAdd.targetValue" data-validate="parsley"
                    data-parsley-trigger="change" data-parsley-minlength="3" data-parsley-required="true"
                    class="form-control input-transparent col-9" tooltip="Target Value"
                    data-cy="targetvalue-input">
            </div>
            <div class="form-group col-12 d-flex flex-row">
                <label for="faulthandling" class="col-form-label text-left col-3">
                    Fault Handling
                </label>
                <div class="col-9 px-0">
                    <p-dropdown placeholder="Select Fault Handling" name="faulthandling"
                        [options]="faultHandlingOptions" showClear="true" [(ngModel)]="monitorToAdd.faultHandling">
                    </p-dropdown>
                </div>
            </div>
            <div class="form-group col-12 d-flex flex-row">
                <label for="description" class="col-form-label text-left col-3">
                    Description
                </label>
                <ckeditor-wrapper [editorcontent]="monitorToAdd.description" class="col-9 px-0"
                    (editorContentChange)="monitorToAdd.description = $event"></ckeditor-wrapper>
            </div>
            <div class="form-group col-12 d-flex flex-row">
                <label class="col-3 col-form-label text-md-right">
                    Send Email Notification
                </label>
                <div class="col-9 px-0 ">
                    <div class="display-inline-block isActive">
                        <label class="form-check-label" for="sendemailnotification" class="switch">
                            <input class="form-check-input" [(ngModel)]="monitorToAdd.sendEmailNotification"
                                name="sendemailnotification" type="checkbox" class="ios" checked
                                id="sendemailnotification" /><i data-cy="sendemailnotification-checkbox"></i>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p-footer>
        <div class="pull-right">
            <button type="button" class="btn btn-primary m-2" (click)="addMonitorToStep()">Save</button>
            <button type="button" (click)="closeAddMonitorDialog()" class="btn btn-outline-inverse width-100 mb-xs"
                role="button">
                Cancel
            </button>
        </div>
    </p-footer>
</p-dialog>
<p-dialog header="Confirm Delete Procedure Step" [(visible)]="showConfirmDeleteStepDialog" [appendTo]="body"
    [baseZIndex]="100001" [modal]='true' [style]="{width: '50vw'}" data-cy="user-header">
    <div class="container">
        <div class="row">
            Are you sure you want to Delete this Step?
        </div>
    </div>
    <p-footer>
        <div class="pull-right">
            <button type="submit" (click)="deleteStep()" class="btn btn-outline-inverse width-100 mb-xs"
                role="button" data-cy="confirmdelete-button">
                Delete
            </button>
            <button type="button" (click)="closeConfirmDeleteStepDialog()"
                class="btn btn-outline-inverse width-100 mb-xs" role="button">
                Cancel
            </button>
        </div>
    </p-footer>
</p-dialog>