<h1 class="page-title" data-cy="page-title">
    <i [ngClass]="'fas '+globals.activeMenu.icon"></i>
    {{globals.activeMenu.name}}
</h1>

<widget>


    <p-table #dt [value]="data" dataKey="id" styleClass="ui-table-customers" [rowHover]="true" [rows]="10"
        [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50,100]" [paginator]="true"
        currentPageReportTemplate="Showing {first}-{last} of {{data.length}}" [filterDelay]="0" stateStorage="local"
        stateKey="{{gridStorageId}}">
        <ng-template pTemplate="caption">
            <div class="text-right">
                <button *ngIf="userPrivileges.canCreate" (click)="showDialog()" class="btn btn-success width-100 mb-xs sm-mrg"
                    role="button" data-cy="add-button">
                    + Add
                </button>
                <!-- <csv-import [showButton]="canCreate" [menuItem]="menuItems.Parts" title="Import Parts"
            (onUpload)="uploadParts($event)" fileName="PartsSample.csv"></csv-import> -->
                <grid-options [(defaultColumns)]="gridSettings" [gridStorageId]="gridStorageId" [ptable]="dt"
                    [gridVersion]="gridVersion" data-cy="usergrid-options">
                </grid-options>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let col of gridSettings" [hidden]="!col.visible" [pSortableColumn]="col.id"
                    data-cy="usertable-header">
                    {{col.label}} <p-sortIcon [field]="col.id"></p-sortIcon>
                </th>
                <th></th>
            </tr>
            <tr>
                <th grid-input-filter [dt]="dt" searchField="id" [hidden]="!cg.isVisibleCol('id',gridSettings)"
                    [gridSettings]="gridSettings">
                </th>
                <th grid-input-filter [dt]="dt" searchField="customerName"
                    [hidden]="!cg.isVisibleCol('customerName',gridSettings)" [gridSettings]="gridSettings">
                </th>
                <th grid-input-filter [dt]="dt" searchField="description"
                    [hidden]="!cg.isVisibleCol('description',gridSettings)" [gridSettings]="gridSettings">
                </th>
                <th grid-input-filter [dt]="dt" searchField="invoiceNumber"
                    [hidden]="!cg.isVisibleCol('invoiceNumber',gridSettings)" [gridSettings]="gridSettings">
                </th>
                <th grid-input-filter [dt]="dt" searchField="total" [hidden]="!cg.isVisibleCol('total',gridSettings)"
                    [gridSettings]="gridSettings">
                </th>
                <th [hidden]="!cg.isVisibleCol('invoiceDate',gridSettings)">
                    <div class="position-relative" tooltip="Search by Invoice Date">
                        <pcalendar-wrapper [gridStorageId]="gridStorageId" filterId="invoiceDate" [datatable]="dt">
                        </pcalendar-wrapper>
                    </div>
                </th>
                <th [hidden]="!cg.isVisibleCol('createdOn',gridSettings)">
                    <div class="position-relative" tooltip="Search by Created Date">
                        <pcalendar-wrapper [gridStorageId]="gridStorageId" filterId="createdOn" [datatable]="dt">
                        </pcalendar-wrapper>
                    </div>
                </th>
                <th grid-input-filter [dt]="dt" searchField="created.fullName"
                    [hidden]="!cg.isVisibleCol('created.fullName',gridSettings)" [gridSettings]="gridSettings">
                </th>
                <th [hidden]="!cg.isVisibleCol('lastUpdatedOn',gridSettings)">
                    <div class="position-relative" tooltip="Search by Last Updated On Date">
                        <pcalendar-wrapper [gridStorageId]="gridStorageId" filterId="lastUpdatedOn" [datatable]="dt">
                        </pcalendar-wrapper>
                    </div>
                </th>
                <th grid-input-filter [dt]="dt" searchField="lastUpdated.fullName"
                    [hidden]="!cg.isVisibleCol('lastUpdated.fullName',gridSettings)" [gridSettings]="gridSettings">
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-invoiceModel>
            <tr class="ui-selectable-row">
                <td [hidden]="!cg.isVisibleCol('id', gridSettings)">
                    {{invoiceModel.id}}
                </td>
                <td class="text-capitalize" [hidden]="!cg.isVisibleCol('customerName',gridSettings)">
                    {{invoiceModel.customerName}}
                </td>
                <td [hidden]="!cg.isVisibleCol('description',gridSettings)">
                    {{invoiceModel.description}}
                </td>
                <td [hidden]="!cg.isVisibleCol('invoiceNumber',gridSettings)">
                    {{invoiceModel.invoiceNumber }}
                </td>
                <td [hidden]="!cg.isVisibleCol('total',gridSettings)">
                    {{invoiceModel.total }}
                </td>
                <td [hidden]="!cg.isVisibleCol('invoiceDate',gridSettings)">
                    {{invoiceModel.invoiceDate | date :'short' }}
                </td>
                <td [hidden]="!cg.isVisibleCol('createdOn',gridSettings)">
                    {{invoiceModel.createdOn | date :'short' }}
                </td>
                <td [hidden]="!cg.isVisibleCol('created.fullName',gridSettings)">
                    {{invoiceModel.created.fullName }}
                </td>
                <td [hidden]="!cg.isVisibleCol('lastUpdatedOn',gridSettings)">
                    {{invoiceModel.lastUpdatedOn | date :'short' }}
                </td>
                <td [hidden]="!cg.isVisibleCol('lastUpdated.fullName',gridSettings)">
                    {{invoiceModel.lastUpdated.fullName }}
                </td>
                <td>
                    <i *ngIf="userPrivileges.canEdit" class="fa fa-edit pointer" tooltip="Edit Par" data-cy="editRow"
                        (click)="showDialog(invoiceModel)"></i>
                    <i *ngIf="userPrivileges.canDelete" class="far fa-trash-alt pointer" tooltip="Delete Part" data-cy="deleteRow"
                        (click)="removeRow(invoiceModel)"></i>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8" style="text-align:left">No parts found.</td>
            </tr>
        </ng-template>
    </p-table>
</widget>
<p-dialog header="{{ currentInvoice.id === undefined ?'Create Invoice':'Edit Invoice'}}" [(visible)]="display"
    [style]="{width: '50vw'}" data-cy="user-header">
    <form data-parsley-validate class="form-horizontal form-label-left parsleyjs" method="post"
        data-parsley-priority-enabled="false" (ngSubmit)="onInvoiceSubmit()" novalidate="novalidate">
        <section class="widget mrg-btm-sm" widget>
            <header>
                <h5>
                    <span class="badge badge-warning p-2 text-gray-dark mr-1 fa fa-user">
                    </span>
                    Invoice Details
                </h5>
            </header>
            <!--  ret.invoiceDate;
      ret.invoiceItems = []; -->
            <div class="widget-body">
                <fieldset>
                    <legend>
                    </legend>

                    <div class="form-group row">
                        <label for="description" class="col-md-2 col-form-label text-md-right">
                            Description
                        </label>
                        <div class="col-md-4 ">
                            <input type="text" id="description" name="description"
                                [(ngModel)]="currentInvoice.description" data-validate="parsley"
                                data-parsley-trigger="change" data-parsley-minlength="3" data-parsley-required="true"
                                class="form-control input-transparent" tooltip="Min length 3 characters"
                                placeholder="Description" data-cy="description-input">
                        </div>
                        <label for="taxPercentage" class="col-md-2 col-form-label text-md-right">
                            Tax Percentage
                        </label>
                        <div class="col-md-4 ">
                            <input type="number" id="taxPercentage" name="taxPercentage"
                                [(ngModel)]="currentInvoice.taxPercentage" data-validate="parsley"
                                data-parsley-trigger="change" data-parsley-required="true"
                                class="form-control input-transparent"
                                placeholder="Tax Percentage" data-cy="taxPercentage-input">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="form-control-label col-md-2 col-12 text-md-right" for="supervisor">
                            Location
                        </label>
                        <div class="col-md-4 col-12">
                            <p-dropdown placeholder="Select Location" name="locations" [options]="locations"
                                appendTo="body" [baseZIndex]="100001" [(ngModel)]="currentInvoice.locationId">
                            </p-dropdown>
                        </div>
                        <label class="form-control-label col-md-2 col-12 text-md-right" for="supervisor">
                            Customer
                        </label>
                        <div class="col-md-4 col-12">
                            <p-dropdown placeholder="Select Customer" name="customers" [options]="customers"
                                appendTo="body" [baseZIndex]="100001" [(ngModel)]="currentInvoice.customerId">
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="form-control-label col-md-2 col-12 text-md-right" for="role">
                            Work Orders
                        </label>
                        <div class="col-md-4 col-12">
                            <multiselect-wrapper-form [options]="currentInvoice.invoiceItems" [(model)]="currentInvoice.invoiceItems"
                            defaultLabelProperty="purchaseOrderName" defaultLabel="Select Work Orders">
                            </multiselect-wrapper-form>
                        </div>
                    </div>
                </fieldset>
            </div>
        </section>
        <p-footer>
            <div class="pull-right">
                <button type="submit" class="btn btn-outline-inverse width-100 mb-xs" role="button"
                    data-cy="save-button">
                    Save
                </button>
                <button type="button" (click)="clseDialog()" class="btn btn-outline-inverse width-100 mb-xs"
                    role="button">
                    Cancel
                </button>
            </div>
        </p-footer>
    </form>
</p-dialog>