// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .ui-dialog {
    width: 95vw !important;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .ui-dialog {
    width: 90vw !important;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1899.99px) {
    .ui-dialog {
    width: 50vw !important;
  }
}
