<!-- <div class="row m-4">
    <div class="col-12 mb-4" *ngFor="let label of labels">
        <div class="row col-7">
            <div class="col-12 font-weight-bold" [innerHTML]="label.TaskDescription"></div>
            <div class="col-12" [innerHTML]="label.MonitorName"></div>
            <div class="col-12">
                <div class="row">
                    <div class="col-4 border p-2">Part #:</div>
                    <div class="col-4 border p-2">{{label.PartNumber}}</div>
                    <div class="col-4 border p-2">Part Name:</div>
                    <div class="col-4 border p-2">Purchase Item #:</div>
                    <div class="col-4 border p-2">{{label.CustomerPurchaseNumber}}</div>
                    <div class="col-4 border p-2">{{label.PartName}}</div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4 border-bottom">Requestee:</div><div class="col-8">{{label.Requestee}}</div>
                            <div class="col-4 border-bottom">Date:</div><div class="col-8">{{label.Date}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12" *ngIf="checkMonitorType(label)">
                <div class="row header">
                    <div class="col-9 border p-2">Monitor</div>
                    <div class="col-3 border p-2">Value</div>
                  </div>
                  <div *ngFor="let monitor of label.workOrderTaskMonitors" class="row">
                    <div class="col-9 border p-2" *ngIf="monitor.monitorTypeId === 2">{{ monitor.description | slice:0:30 }}</div>
                    <div class="col-3 border p-2" *ngIf="monitor.monitorTypeId === 2">{{ monitor | monitorResult }}</div>
                  </div>
            </div>
        </div>
    </div>
</div> -->

<div *ngFor="let workOrderParentPart of packingList.parentParts" class="roll-label space-between">
    <table class="tight">
        <thead></thead>
        <tbody>
          <tr>
            <td width="40%">
                <p class="text-left">
                    <strong>Main Part Name</strong>:<br />
                    <strong>Main Part Number</strong>:<br />
                  </p>
            </td>
            <td width="60%">
                <p class="text-left">
                    {{ workOrderParentPart.part.part.name }}<br />
                    {{ workOrderParentPart.part.part.partNumber }}<br />
                </p>
            </td>
          </tr>
          <tr><td class="spacer"></td></tr>
          <!--  <tr>
            <td width="100%">
                <h3>Monitor Data Collected:</h3>
            </td>
          </tr> -->
        </tbody>
        <thead>
            <tr>
                <th width="75%">Monitor</th>
                <th width="75%">Value</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let monitor of packingList.allMonitors">
                <tr *ngIf="monitor.monitorTypeId === 2" >
                    <td class=" border p-2"><span>{{ monitor.description | slice:0:30 }}</span></td>
                    <td class=" border p-2"><span>{{ monitor | monitorResult }}</span></td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>