<div *ngFor="let workOrderParentPart of packingList.parentParts" class="roll-label space-between">
    <table class="tight">
        <thead></thead>
        <tbody>
          <tr>
            <td width="40%">
                <p class="text-left">
                    <strong>Main Part Name</strong>:<br />
                    <strong>Main Part Number</strong>:<br />
                  </p>
            </td>
            <td width="60%">
                <p class="text-left">
                    {{ workOrderParentPart.part.part.name }}<br />
                    {{ workOrderParentPart.part.part.partNumber }}<br />
                </p>
            </td>
          </tr>
          <tr><td class="spacer"></td></tr>
        </tbody>
        <thead>
            <tr>
                <th width="75%">Monitor</th>
                <th width="75%">Value</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let monitor of packingList.allMonitors">
                <tr *ngIf="monitor.monitorTypeId === 2" >
                    <td class=" border p-2"><span>{{ monitor.description | slice:0:30 }}</span></td>
                    <td class=" border p-2"><span>{{ monitor | monitorResult }}{{monitor.displayInReports}}</span></td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>