<h1 class="page-title" data-cy="page-title">
  <i class="fas fa-clock-o"></i>
  Pending Approvals
</h1>
<widget>
  <p-table #dt [value]="data" dataKey="id" styleClass="ui-table-customers" [rowHover]="true" [rows]="10"
    [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50,100]" [paginator]="true"
    currentPageReportTemplate="Showing {first}-{last} of {{data.length}}" [filterDelay]="0" stateStorage="local"
    stateKey="{{gridStorageId}}" data-cy="table-container">
    <ng-template pTemplate="caption">
      <div class="text-right">
        <grid-options [(defaultColumns)]="gridSettings" [gridStorageId]="gridStorageId" [ptable]="dt"
          [gridVersion]="gridVersion" data-cy="usergrid-options">
        </grid-options>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of gridSettings" [hidden]="!col.visible" [pSortableColumn]="col.id"
          data-cy="pendingapproval-header">
          {{col.label}} <p-sortIcon [field]="col.id"></p-sortIcon>
        </th>
        <th></th>
      </tr>
      <tr>
        <th [hidden]="!cg.isVisibleCol('id',gridSettings)">
          <div class="position-relative">
            <input id="id" pInputText type="text" tooltip="Search by Id"
              (input)="dt.filter($event.target.value, 'id', 'contains')" class="ui-column-filter"
              [value]="dt.filters['id']?.value">
            <i *ngIf="dt.filters['id']?.value" class="fclear pi pi-times pointer" (click)="cg.filter(dt,'id')"></i>
          </div>
        </th>
        <th [hidden]="!cg.isVisibleCol('activityType',gridSettings)">
          <multiselect-wrapper [gridStorageId]="gridStorageId" [options]="tables" [filterId]="'activityType'"
            [defaultText]="'Search by Activity type'" [defaultTextTooltip]="''" [datatable]="dt">
          </multiselect-wrapper>
        </th>
        <th [hidden]="!cg.isVisibleCol('name',gridSettings)">
          <div class="position-relative">
            <input id="name" pInputText type="text" tooltip="Search by Name" data-cy="searchbyname-grid"
              (input)="dt.filter($event.target.value, 'name', 'contains')" class="ui-column-filter"
              [value]="dt.filters['name']?.value">
            <i *ngIf="dt.filters['name']?.value" class="fclear pi pi-times pointer" (click)="cg.filter(dt,'name')"></i>
          </div>
        </th>
        <th [hidden]="!cg.isVisibleCol('RequestedChanges',gridSettings)">
          <div class="position-relative">

          </div>
        </th>
        <th [hidden]="!cg.isVisibleCol('comments',gridSettings)">
          <div class="position-relative">
            <input id="comments" pInputText type="text" tooltip="Search by Comments"
              (input)="dt.filter($event.target.value, 'comments', 'contains')" class="ui-column-filter"
              [value]="dt.filters['comments']?.value">
            <i *ngIf="dt.filters['comments']?.value" class="fclear pi pi-times pointer"
              (click)="cg.filter(dt,'comments')"></i>
          </div>
        </th>
        <th [hidden]="!cg.isVisibleCol('workflowName',gridSettings)">
          <div class="position-relative">
            <input id="workflowName" pInputText type="text" tooltip="Search by Workflow"
              (input)="dt.filter($event.target.value, 'workflowName', 'contains')" class="ui-column-filter"
              [value]="dt.filters['workflowName']?.value">
            <i *ngIf="dt.filters['workflowName']?.value" class="fclear pi pi-times pointer"
              (click)="cg.filter(dt,'workflowName')"></i>
          </div>
        </th>
        <th [hidden]="!cg.isVisibleCol('workflowGroupName',gridSettings)">
          <div class="position-relative">
            <input id="workflowGroupName" pInputText type="text" tooltip="Search by Workflow group"
              (input)="dt.filter($event.target.value, 'workflowGroupName', 'contains')" class="ui-column-filter"
              [value]="dt.filters['workflowGroupName']?.value">
            <i *ngIf="dt.filters['workflowGroupName']?.value" class="fclear pi pi-times pointer"
              (click)="cg.filter(dt,'workflowGroupName')"></i>
          </div>
        </th>
        <th [hidden]="!cg.isVisibleCol('workflowCreatedByName',gridSettings)">
          <div class="position-relative">
            <input id="workflowCreatedByName" pInputText type="text" tooltip="Search by Initiatior"
              (input)="dt.filter($event.target.value, 'workflowCreatedByName', 'contains')" class="ui-column-filter"
              [value]="dt.filters['workflowCreatedByName']?.value">
            <i *ngIf="dt.filters['workflowCreatedByName']?.value" class="fclear pi pi-times pointer"
              (click)="cg.filter(dt,'workflowCreatedByName')"></i>
          </div>
        </th>

        <th [hidden]="!cg.isVisibleCol('status',gridSettings)">
          <multiselect-wrapper [gridStorageId]="gridStorageId" [options]="statuss" [filterId]="'status'"
            [defaultText]="'Search by Status'" [defaultTextTooltip]="''" [datatable]="dt">
          </multiselect-wrapper>
        </th>
        <th [hidden]="!cg.isVisibleCol('createdOn',gridSettings)">
          <div class="position-relative">
            <input id="createdOn" pInputText type="text" tooltip="Search by Created On"
              (input)="dt.filter($event.target.value, 'createdOn', 'contains')" class="ui-column-filter"
              [value]="dt.filters['createdOn']?.value">
            <i *ngIf="dt.filters['createdOn']?.value" class="fclear pi pi-times pointer"
              (click)="cg.filter(dt,'createdOn')"></i>
          </div>
        </th>
        <th [hidden]="!cg.isVisibleCol('createdByName',gridSettings)">
          <div class="position-relative">
            <input id="createdByName" pInputText type="text" tooltip="Search by Created By"
              (input)="dt.filter($event.target.value, 'createdByName', 'contains')" class="ui-column-filter"
              [value]="dt.filters['createdByName']?.value">
            <i *ngIf="dt.filters['createdByName']?.value" class="fclear pi pi-times pointer"
              (click)="cg.filter(dt,'createdByName')"></i>
          </div>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-approval data-cy="t-body2">
      <tr class="ui-selectable-row">
        <td [hidden]="!cg.isVisibleCol('id', gridSettings)">
          {{approval.id}}
        </td>
        <td class="text-capitalize" [hidden]="!cg.isVisibleCol('activityType',gridSettings)">
          {{approval.activityType}}
        </td>
        <td class="text-capitalize" [hidden]="!cg.isVisibleCol('name',gridSettings)">
          Approving Changes to {{approval.activityType}} Called {{approval.name}}
        </td>
        <td class="text-capitalize" [hidden]="!cg.isVisibleCol('RequestedChanges',gridSettings)">
          <button class="btn btn-outline-inverse mb-xs"
            (onShown)="getApprovalInfo(approvalTables[approval.activityType],approval.id)"
            (onHidden)="clearGetApprovalInfo()" [popover]="popTemplate" [popoverContext]="approvalInfo"
            popoverTitle="Requested Changes" container="body" triggers="mouseenter:mouseleave">
            View Details
          </button>
        </td>
        <td class="text-capitalize" [hidden]="!cg.isVisibleCol('comments',gridSettings)">
          {{approval.comments}}
        </td>
        <td class="text-capitalize" [hidden]="!cg.isVisibleCol('workflowName',gridSettings)">
          {{approval.workflowName}}
        </td>
        <td class="text-capitalize" [hidden]="!cg.isVisibleCol('workflowGroupName',gridSettings)">
          {{approval.workflowGroupName}}
        </td>
        <td class="text-capitalize" [hidden]="!cg.isVisibleCol('workflowCreatedByName',gridSettings)">
          {{approval.workflowCreatedByName}}
        </td>
        <td class="text-capitalize" [hidden]="!cg.isVisibleCol('status',gridSettings)">
          {{approval.status}}
        </td>
        <td class="text-capitalize" [hidden]="!cg.isVisibleCol('createdOn',gridSettings)">
          {{approval.createdOn | userTimezone}}
        </td>
        <td class="text-capitalize" [hidden]="!cg.isVisibleCol('createdByName',gridSettings)">
          {{approval.createdByName}}
        </td>
        <td>
          <ng-template #popTemplate let-object="approvalInfo">
            <div *ngIf="loading2">Loading...</div>
            <div *ngIf="!loading2">
              <div *ngFor="let elem of approvalInfo.object.rows">
                {{elem}}
              </div>
            </div>
          </ng-template>
          <i *ngIf="globals.hasActivityPrivilegeByTableName(approval.activityType, privileges.CanDelete)"
            class="far fa-arrow-alt-left pointer text-warning" tooltip="Cancel Creation. Edit will be lost"
            appendTo="body" (click)="showDialog(cancelAction,approval)"></i>
          <i *ngIf="globals.hasActivityPrivilegeByTableName(approval.activityType, privileges.CanApprove) && approval.status !=='Approved'"
            class="far fa-arrow-alt-right pointer text-success" appendTo="body" tooltip="Proceed to approval workflow"
            (click)="showDialog(approveAction,approval)"></i>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="12" style="text-align:left">No approvals's found.</td>
      </tr>
    </ng-template>
  </p-table>
</widget>

<h1 class="page-title">
  <i class="fas fa-cog"></i>
  Pending CRF Form submissions (Products)
</h1>
<widget>
  <p-table #dt2 [value]="productData" dataKey="id" styleClass="ui-table-customers" [rowHover]="true" [rows]="10"
    [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50,100]" [paginator]="true"
    currentPageReportTemplate="Showing {first}-{last} of {{productData.length}}" [filterDelay]="0" stateStorage="local"
    stateKey="{{gridStorageId2}}" data-cy="table-container2">
    <ng-template pTemplate="caption">
      <div class="text-right">
        <grid-options [(defaultColumns)]="gridSettings2" [gridStorageId]="gridStorageId2" [ptable]="dt2"
          [gridVersion]="gridVersion2" data-cy="usergrid-options2">
        </grid-options>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of gridSettings2" [hidden]="!col.visible" [pSortableColumn]="col.id"
          data-cy="pendingapproval-header2">
          {{col.label}} <p-sortIcon [field]="col.id"></p-sortIcon>
        </th>
        <th></th>
      </tr>
      <tr>
        <th [hidden]="!cg.isVisibleCol('id',gridSettings2)">
          <div class="position-relative">
            <input id="id2" pInputText type="text" tooltip="Search by Id"
              (input)="dt2.filter($event.target.value, 'id', 'contains')" class="ui-column-filter"
              [value]="dt2.filters['id']?.value">
            <i *ngIf="dt2.filters['id']?.value" class="fclear pi pi-times pointer" (click)="cg.filter(dt2,'id')"></i>
          </div>
        </th>

        <th [hidden]="!cg.isVisibleCol('activityType',gridSettings2)">
          <multiselect-wrapper [gridStorageId]="gridStorageId2" [options]="tables" [filterId]="'activityType'"
            [defaultText]="'Search by Activity type'" [defaultTextTooltip]="''" [datatable]="dt2">
          </multiselect-wrapper>
        </th>
        <th [hidden]="!cg.isVisibleCol('name',gridSettings2)">
          <div class="position-relative">
            <input id="name2" pInputText type="text" tooltip="Search by Name" data-cy="searchbyname2-grid"
              (input)="dt2.filter($event.target.value, 'name', 'contains')" class="ui-column-filter"
              [value]="dt2.filters['name']?.value">
            <i *ngIf="dt2.filters['name']?.value" class="fclear pi pi-times pointer"
              (click)="cg.filter(dt2,'name')"></i>
          </div>
        </th>
        <th [hidden]="!cg.isVisibleCol('RequestedChanges',gridSettings2)">
          <div class="position-relative">

          </div>
        </th>
        <th [hidden]="!cg.isVisibleCol('comments',gridSettings2)">
          <div class="position-relative">
            <input id="comments2" pInputText type="text" tooltip="Search by Comments"
              (input)="dt2.filter($event.target.value, 'comments', 'contains')" class="ui-column-filter"
              [value]="dt2.filters['comments']?.value">
            <i *ngIf="dt2.filters['comments']?.value" class="fclear pi pi-times pointer"
              (click)="cg.filter(dt2,'comments')"></i>
          </div>
        </th>
        <th [hidden]="!cg.isVisibleCol('workflowName',gridSettings2)">
          <div class="position-relative">
            <input id="workflowName2" pInputText type="text" tooltip="Search by Workflow"
              (input)="dt2.filter($event.target.value, 'workflowName', 'contains')" class="ui-column-filter"
              [value]="dt2.filters['workflowName']?.value">
            <i *ngIf="dt2.filters['workflowName']?.value" class="fclear pi pi-times pointer"
              (click)="cg.filter(dt2,'workflowName')"></i>
          </div>
        </th>
        <th [hidden]="!cg.isVisibleCol('workflowGroupName',gridSettings2)">
          <div class="position-relative">
            <input id="workflowGroupName2" pInputText type="text" tooltip="Search by Workflow group"
              (input)="dt2.filter($event.target.value, 'workflowGroupName', 'contains')" class="ui-column-filter"
              [value]="dt2.filters['workflowGroupName']?.value">
            <i *ngIf="dt2.filters['workflowGroupName']?.value" class="fclear pi pi-times pointer"
              (click)="cg.filter(dt2,'workflowGroupName')"></i>
          </div>
        </th>
        <th [hidden]="!cg.isVisibleCol('workflowCreatedByName',gridSettings2)">
          <div class="position-relative">
            <input id="workflowCreatedByName2" pInputText type="text" tooltip="Search by Initiatior"
              (input)="dt2.filter($event.target.value, 'workflowCreatedByName', 'contains')" class="ui-column-filter"
              [value]="dt2.filters['workflowCreatedByName']?.value">
            <i *ngIf="dt2.filters['workflowCreatedByName']?.value" class="fclear pi pi-times pointer"
              (click)="cg.filter(dt2,'workflowCreatedByName')"></i>
          </div>
        </th>
        <th [hidden]="!cg.isVisibleCol('status',gridSettings2)">
          <multiselect-wrapper [gridStorageId]="gridStorageId2" [options]="statuss" [filterId]="'status'"
            [defaultText]="'Search by Status'" [defaultTextTooltip]="''" [datatable]="dt2">
          </multiselect-wrapper>
        </th>
        <th [hidden]="!cg.isVisibleCol('createdOn',gridSettings2)">
          <div class="position-relative">
            <input id="createdOn2" pInputText type="text" tooltip="Search by Created On"
              (input)="dt2.filter($event.target.value, 'createdOn', 'contains')" class="ui-column-filter"
              [value]="dt2.filters['createdOn']?.value">
            <i *ngIf="dt2.filters['createdOn']?.value" class="fclear pi pi-times pointer"
              (click)="cg.filter(dt2,'createdOn')"></i>
          </div>
        </th>
        <th [hidden]="!cg.isVisibleCol('createdByName',gridSettings2)">
          <div class="position-relative">
            <input id="createdByName2" pInputText type="text" tooltip="Search by Created By"
              (input)="dt2.filter($event.target.value, 'createdByName', 'contains')" class="ui-column-filter"
              [value]="dt2.filters['createdByName']?.value">
            <i *ngIf="dt2.filters['createdByName']?.value" class="fclear pi pi-times pointer"
              (click)="cg.filter(dt2,'createdByName')"></i>
          </div>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-approval data-cy="t-body2">
      <tr class="ui-selectable-row">
        <td [hidden]="!cg.isVisibleCol('id', gridSettings2)">
          {{approval.id}}
        </td>
        <td class="text-capitalize" [hidden]="!cg.isVisibleCol('activityType',gridSettings2)">
          {{approval.activityType}}
        </td>
        <td class="text-capitalize" [hidden]="!cg.isVisibleCol('name',gridSettings2)">
          Approving Changes to {{approval.activityType}} Called {{approval.name}}
        </td>
        <td class="text-capitalize" [hidden]="!cg.isVisibleCol('RequestedChanges',gridSettings2)">
          <button class="btn btn-outline-inverse mb-xs"
            (onShown)="getApprovalInfo(approvalTables[approval.activityType],approval.id)"
            (onHidden)="clearGetApprovalInfo()" [popover]="popTemplate" [popoverContext]="approvalInfo"
            popoverTitle="Requested Changes" container="body" triggers="mouseenter:mouseleave">
            View Details
          </button>
        </td>
        <td class="text-capitalize" [hidden]="!cg.isVisibleCol('comments',gridSettings2)">
          {{approval.comments}}
        </td>
        <td class="text-capitalize" [hidden]="!cg.isVisibleCol('workflowName',gridSettings2)">
          {{approval.workflowName}}
        </td>
        <td class="text-capitalize" [hidden]="!cg.isVisibleCol('workflowGroupName',gridSettings2)">
          {{approval.workflowGroupName}}
        </td>
        <td class="text-capitalize" [hidden]="!cg.isVisibleCol('workflowCreatedByName',gridSettings2)">
          {{approval.workflowCreatedByName}}
        </td>
        <td class="text-capitalize" [hidden]="!cg.isVisibleCol('status',gridSettings2)">
          {{approval.status}}
        </td>
        <td class="text-capitalize" [hidden]="!cg.isVisibleCol('createdOn',gridSettings2)">
          {{approval.createdOn | userTimezone}}
        </td>
        <td class="text-capitalize" [hidden]="!cg.isVisibleCol('createdByName',gridSettings2)">
          {{approval.createdByName}}
        </td>
        <td>
          <i data-cy="cancel-approval"
            *ngIf="globals.hasActivityPrivilegeByTableName(approval.activityType, privileges.CanDelete)"
            class="far fa-arrow-alt-left pointer text-warning" tooltip="Cancel Creation. Edit will be lost"
            appendTo="body" (click)="showDialog(cancelAction,approval)"></i>
          <i data-cy="approve-approval"
            *ngIf="globals.hasActivityPrivilegeByTableName(approval.activityType, privileges.CanApprove) && approval.status !=='Approved'"
            class="far fa-arrow-alt-right pointer text-success" appendTo="body" tooltip="Proceed to approval workflow"
            (click)="showDialog(approveAction,approval)"></i>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="12" style="text-align:left">No Product Approval's found.</td>
      </tr>
    </ng-template>
  </p-table>
</widget>
<p-dialog *ngIf="currAction.action != undefined" header="{{currAction.action.Header}}" [(visible)]="display"
  [style]="{width: '50vw'}" data-cy="user-header">
  <form data-parsley-validate class="form-horizontal form-label-left parsleyjs" method="post"
    data-parsley-priority-enabled="false" (ngSubmit)="onWorkflowSubmit()" novalidate="novalidate">
    <section class="widget mrg-btm-sm" widget>
      <header>
        <h5>
          <span class="badge badge-warning p-2 text-gray-dark mr-1 fa fa-user">
          </span>
          Are you sure you want to {{currAction.action.Action}}?
        </h5>
      </header>
      <div class="widget-body">
        <fieldset *ngIf="currAction.action === approveAction">
          <legend>
          </legend>
          <div class="form-group row">
            <label for="firstName" class="col-md-2 col-form-label text-md-right">
              Comments
            </label>
            <div class="col-md-4 ">
              <input type="text" id="comments" name="comments" [(ngModel)]="currAction.comments" data-validate="parsley"
                data-parsley-trigger="change" data-parsley-minlength="3" data-parsley-required="true"
                class="form-control input-transparent" tooltip="Min length 3 characters" placeholder="Comments"
                data-cy="name-input">
            </div>
          </div>
        </fieldset>
      </div>
    </section>
    <p-footer>
      <div class="pull-right">
        <button type="submit" class="btn btn-outline-inverse width-100 mb-xs" role="button" data-cy="save-button2">
          Save
        </button>
        <button type="button" (click)="clseDialog()" class="btn btn-outline-inverse width-100 mb-xs" role="button">
          Cancel
        </button>
      </div>
    </p-footer>
  </form>
</p-dialog>