<h1 class="page-title" data-cy="page-title">
    <i class="fas fa-clock-o"></i>
    Financial Dashboard
</h1>

<widget>
    <app-grid *ngIf="showReport" [gridSaved]="gridSaved" [showReport]="showReport" [showExportGrid]="true"
        [reportInfo]="reportInfo" [calanderIsRange]="true" [staticOptions]="staticOptions">
    </app-grid>
</widget>

<widget>
    <app-grid *ngIf="showReport2" [gridSaved]="gridSaved2" [showReport]="showReport2" [showExportGrid]="true"
        [reportInfo]="reportInfo2" [calanderIsRange]="true" [staticOptions]="staticOptions">
    </app-grid>
</widget>