slide {
    width: 200px !important;
    height: 80px !important;
    border: solid 1px #FFFFFF;
    cursor: pointer;
}

a.carousel-control{
    width:3% !important;
}
.card{
    min-width: 500px;
    min-height: 300px;
}

.card-header{
    background-color: #116fbf;
}

.card-body{
    background-color: #FFFFFF;
    color: #000000;
}

.ui-tabview{
    padding: 0px !important;
}

.description-container > .row > div {
    border-width: 1px 1px 0px 1px;
    border-color: #eaeaea;
    border-style: solid;
}

.description-container > .row:last-child > div{
    border-width: 1px 1px 1px 1px;
    border-color: #eaeaea;
    border-style: solid;
}

.table > .thead-dark > tr > th{
    color: #fff;
    background-color: #353D48;
    border-color: #32383e;
}

.serialinput-td{
    min-width: 400px;
}

.serialinput-td > input{
    max-width: 300px;
}

ol{
    display: block;
    list-style-type: decimal;
    padding-inline-start: 40px;
}

.report.ui-dialog .ui-dialog-content{
    min-height: 300px;
}

@media print {

    .printotherreport-dropdown{
        display:none;
    }
    
    .report.ui-dialog{
        max-width: none;
        width: 100% !important;
        height:100% !important;
    }

    .report.ui-dialog .ui-dialog-titlebar {
        display: none !important;
    }

    .report.ui-dialog .ui-dialog-content{
        background-color: transparent;
        border:none;
        height: 100% !important;
        overflow: visible;
    }

    .report.ui-dialog .ui-dialog-footer{
        display: none !important;
    }

    .report.ui-dialog .report-viewport{
        height:100% !important;
    }
}