<div class="container-flex">
  <div class="row">
    <div class="col-6">
      Customer Part # {{parentPart?.part?.partNumber}}, (Serial #: {{parentPart?.serialNumber}}),
      {{parentPart?.part?.name}}
    </div>
    <div class="col-6" [ngClass]="['d-flex', 'justify-content-end']">
      <helpbutton-wrapper [ngClass]="['my-auto']"></helpbutton-wrapper>
    </div>
  </div>
  <div class="row">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-6">Reports go here</div>
        <div class="col-6">
          <p-tabView class="m-2">
            <p-tabPanel header="Parts">
              <ul>
                <li *ngFor="let part of workOrderParts">
                  Customer Part #{{part.part.partNumber}}, {{part.part.name}} (CycleCount: {{part.part.CycleCount}})
                  (Qty: {{part.part.Quantity}})
                </li>
              </ul>
            </p-tabPanel>
            <p-tabPanel header="Purchase">
              <ul>
                <li>Customer: {{ customer.name}}</li>
                <li>Product: {{ product.name}}</li>
                <li>Procedure: {{procedure.name}}</li>
                <li>Purchase Item #: {{purchase.customerPurchaseNumber}} </li>
              </ul>
            </p-tabPanel>
          </p-tabView>
        </div>
      </div>
      <div class="row justify-content-start">
        <carousel [itemsPerSlide]="8" [singleSlideOffset]="false" [noWrap]="true" [interval]="false"
          [startFromIndex]="0" *ngIf="workOrderTasks !== undefined" [showIndicators]="false">
          <slide *ngFor="let workOrderTask of workOrderTasks; let index=index" [ngClass]="{ 'bg-warning': workOrderTask.status.name === 'Waiting to Start', 
           'bg-light': workOrderTask.status.name === 'In Progress', 
           'text-dark': workOrderTask.status.name === 'In Progress',
           'bg-success': workOrderTask.status.name === 'Completed',
           'd-flex': true}" (click)="selectTaskForViewing(workOrderTask)">
            <div [ngClass]="{ 'm-auto': true, 'w-100': true, 'text-center': true}">
              {{ workOrderTask.procedureStep?.title}}
            </div>
          </slide>
        </carousel>
      </div>
      <div class="row" *ngIf="workOrderTaskInProgress !== undefined"
        [hidden]="workOrderTaskInProgress.id !== workOrderTaskToView.id">
        <workordertasktimer-wrapper [(workOrderTasks)]="workOrderTasks"
          [(workOrderTaskInProgress)]="workOrderTaskInProgress"
          (workOrderTaskInProgressUpdateParent)="workOrderTaskTimerDoneButtonPushed($event)">
        </workordertasktimer-wrapper>
      </div>
      <div class="row">
        <div class="w-100 text-center m-2" *ngIf="workOrderTaskToView === undefined">
          <h3>No Task to Display</h3>
        </div>
        <p-tabView class="w-100" *ngIf="workOrderTaskToView !== undefined">
          <p-tabPanel header="Task Description">
            <div class="row">
              <div class="container-fluid description-container m-2">
                <div class="row">
                  <div class="text-right col-2 p-2" colspan="1">Assignee:</div>
                  <div class="col-10 p-2">{{ workOrderTaskToView?.assignedToUser?.fullName }}</div>
                </div>
                <div class="row">
                  <div class="text-right col-2 p-2" colspan="1">Task:</div>
                  <div class="col-10 p-2">{{ workOrderTaskToView?.procedureStep?.title }}</div>
                </div>
                <div class="row">
                  <div class="text-right col-2 p-2" colspan="1">Description:</div>
                  <div class="col-10 p-2">{{ workOrderTaskToView?.procedureStep?.stepText }}</div>
                </div>
                <div class="row">
                  <div class="text-right col-2 p-2" colspan="1">Related Documents:</div>
                  <div class="col-10 p-2">{{ workOrderTaskToView?.procedureStep?.documents }}</div>
                </div>
                <div class="row">
                  <div class="text-right col-2 p-2" colspan="1">Reference Files:</div>
                  <div class="col-10 p-2">
                    <!--TODO: Invesitage File Uploader Bug, possible has to do with showUploadButton parameter-->
                    <!--<cmh-file-uploader name="referencefiles" class="col-12"
                      *ngIf="workOrderTaskToView !== undefined && workOrderTaskToView.procedureStep?.referenceFiles !== undefined"
                      [menuItem]="menuItems.Templates" multiple="multiple" [showUploadButton]="false"
                      [(files)]="workOrderTaskToView.procedureStep.referenceFiles">
                    </cmh-file-uploader>-->
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="workOrderTaskToView !== undefined && workOrderTaskToView.taskStepOrder === 1">
              <div class="container-fluid product-container m-2">
                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th>Part</th>
                      <th>Cycle Count</th>
                      <th>Serial Number</th>
                    </tr>
                  </thead>
                  <tbody
                    *ngIf="workOrderModel.workOrderParts !== undefined && workOrderModel.workOrderParts.length !== 0">
                    <tr *ngFor="let workOrderPart of workOrderModel.workOrderParts; let index=index">
                      <td>{{workOrderPart.part.name}}</td>
                      <td>{{workOrderPart.cycleCount}}</td>
                      <td class="d-flex serialinput-td">
                        <input type="text" id="serialnumber{{index}}" [(ngModel)]="workOrderPart.serialNumber"
                          class="form-control input-transparent m-2" tooltip="Serial Number" disabled>
                        <button id="changebutton{{index}}" class="btn btn-warning m-2"
                          (click)="changeSerialNumber(index, workOrderPart.serialNumber, workOrderPart.id)">Change</button>
                        <button id="submitbutton{{index}}" class="btn btn-success d-none m-2"
                          (click)="submitSerialNumber(index, workOrderPart.id)">Submit</button>
                        <button id="cancelbutton{{index}}" class="btn btn-danger d-none m-2"
                          (click)="cancelSerialNumber(index, workOrderPart.id)">Cancel</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </p-tabPanel>
          <p-tabPanel header="Monitors">
            <span *ngIf="workOrderTaskToView !== undefined">
              <workordertaskmonitos-wrapper [workOrderTaskMonitors]="workOrderTaskToView.workOrderTaskMonitors"
                (closeCurrentTaskInProgress)="closeCurrentTask()"></workordertaskmonitos-wrapper>
            </span>
          </p-tabPanel>
          <p-tabPanel header="Files">
            <cmh-file-uploader name="referencefiles" class="col-12"
              *ngIf="workOrderTaskToView !== undefined && workOrderTaskToView?.referenceFiles !== undefined"
              [menuItem]="menuItems.Templates" multiple="multiple" [(files)]="workOrderTaskToView.referenceFiles">
            </cmh-file-uploader>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </div>
</div>