<div class="container">
  <h1 class="page-title mb-5">
    <i [ngClass]="'fa '+ globals.activeMenu.icon"></i>
    {{globals.activeMenu.name}}
  </h1>

  <widget class="py-4 px-5">
    <form *ngIf="getAdminCostSettingsFlag" data-parsley-validate data-cy="admin-cost-settings-form" class="parsleyjs admin-cost-form" data-parsley-priority-enabled="false"
      (ngSubmit)="onSubmit()" novalidate="novalidate">
      <div class="form-group row mb-4">
        <label
          for="RMAnnualRate"
          class="col-md-4 text-right"
        >
          Repair & Maintenance Annual Rate
        </label>
        <div class="col-md-6">
          <input
            [(ngModel)]="adminCostSettings.rmAnnualRate"
            type="text"
            class="form-control input-transparent"
            placeholder="Repair & Maintenance Annual Rate"
            name="RmAnnualRate"
            data-cy="rmannualrate"
            data-validate="parsley"
            data-parsley-trigger="change"
            data-parsley-type="number"
            required
          >
        </div>
      </div>
      <div class="form-group row mb-4">
        <label
          for="LaborRateMinute"
          class="col-md-4 text-right"
        >
          Labor Rate Per Minute
        </label>
        <div class="col-md-6">
          <input
            [(ngModel)]="adminCostSettings.laborRateMinute"
            type="text"
            class="form-control input-transparent"
            placeholder="Labor Rate Per Minute"
            name="LaborRateMinute"
            data-cy="laborrateminute"
            data-validate="parsley"
            data-parsley-trigger="change"
            data-parsley-type="number"
            required
          >
        </div>
      </div>
      <div class="form-group row mb-4">
        <label
          for="YearsHours"
          class="col-md-4 text-right"
        >
          Year Hours
        </label>
        <div class="col-md-6">
          <input
            [(ngModel)]="adminCostSettings.yearsHours"
            type="text"
            class="form-control input-transparent"
            placeholder="Year Hours"
            name="YearsHours"
            data-cy="yearshours"
            data-validate="parsley"
            data-parsley-trigger="change"
            data-parsley-type="integer"
            required
          >
        </div>
      </div>
      <div class="form-group row mb-4">
        <label
          for="HourMinutes"
          class="col-md-4 text-right"
        >
          Hour Minutes
        </label>
        <div class="col-md-6">
          <input
            [(ngModel)]="adminCostSettings.hourMinutes"
            type="text"
            class="form-control input-transparent"
            placeholder="Hour Minutes"
            name="HourMinutes"
            data-cy="hourminutes"
            data-validate="parsley"
            data-parsley-trigger="change"
            data-parsley-type="integer"
            required
          >
        </div>
      </div>

      <div class="row mx-0 my-4">
        <div class="col-md-10 d-flex justify-content-end">
          <button
            type="submit"
            class="btn btn-success ml-2"
            data-cy="btn-submit"
          >
            Submit
          </button>
        </div>
      </div>
    </form>
  </widget>
</div>
