.e-toolbaricons.e-excelIcon.e-icon {
    color: #1d6f42 !important;
    font-size: 25px !important;
}

.e-grid .e-toolbar.e-toolbarspan, .e-pager div.e-drpdwndiv, .e-pager .e-pagercontainer {
    border-radius: 0 !important;
}

.e-scrollbar .e-vhandle, .e-scrollbar .e-hhandle, .e-grid td.e-active, .e-grid .e-form-titlebar {
    background-color: #eaeaea;
}

.e-pager .e-drpdwn li.e-active {
    background: #1abc9c;
}

.flat-blue .btn.btn-success, .e-pager .e-currentitem.e-active, .e-grid td.e-active, .e-grid .e-form-titlebar,
.e-menu.e-horizontal .e-list.e-active, .e-menu.e-vertical .e-list.e-active, .e-menu.e-context .e-list.e-active,
.e-menu.e-horizontal .e-active, .e-menu.e-context .e-active, .e-menu.e-vertical .e-active, .e-menu.e-horizontal .e-active > .e-menulink, .e-menu.e-context .e-active > .e-menulink, .e-menu.e-vertical .e-active > .e-menulink, .e-menu-res-wrap .e-menu-res-in-wrap .e-icon.e-check-wrap:hover {
    background: #1abc9c;
    color: #fff;
    border-color: #1abc9c;
}
