<nav class="navbar-collapse">
  
  <ul class="nav navbar-nav">
    <li class="nav-item dropdown d-sm-down-none">
      <a href="javascript:;" id="account" data-cy="account-a" tooltip="Account" class="nav-link dropdown-toggle"
        data-toggle="dropdown">
        <img *ngIf="globals.user?.fileModel === undefined || hideImg" width="34" src="assets/img/2.png" alt="">
        <img *ngIf="globals.user?.fileModel !== undefined || !hideImg" width="34" [src]="globals.user?.fileModel?.fileURL"
          (error)="updateUrl($event)" alt="">
      </a>
      <ul id="account-menu" class="dropdown-menu dropdown-menu-right account" role="menu">
        <li role="presentation" class="account-picture">
          <img *ngIf="globals.user?.fileModel === undefined || hideImg" width="34" src="assets/img/2.png" alt="">
          <img *ngIf="globals.user?.fileModel !== undefined || !hideImg" width="34"
            [src]="globals.user?.fileModel?.fileURL" (error)="updateUrl($event)" alt="">
          {{globals.user.firstName + ' ' + globals.user.lastName}}
        </li>
        <li role="presentation">
          <a data-cy="profile-link" routerLink="../app/people/profile" class="dropdown-item">
            <i class="fad fa-user"></i>
            Profile
          </a>
        </li>
      </ul>
    </li>
    <li class="d-md-none mr-3">
      <a href="#" (click)="sidebarOpen()" class="btn-navbar" data-toggle="collapse" data-target=".sidebar" title="">
        <i class="fa fa-bars"></i>
      </a>
    </li>
    <li class="nav-item d-sm-down-none">
      <a class="nav-link" (click)="logout()" tooltip="Logout" data-cy="logout-link"><i
          class="glyphicon glyphicon-off"></i></a>
    </li>
  </ul>
</nav>