<div class="container">
    <div class="row">
        <h1 class="page-title">
            <i class="fas fa-key"></i>
            Role Module Permissions
        </h1>
    </div>
    <div class="row">
        <div class="alert alert-success col-12" role="alert" *ngIf="updateSuccessful == true">
            Permissions have been saved successfully
        </div>
        <div class="alert alert-danger col-12" role="alert" *ngIf="errorUpdatingPermissions == true">
            There was an error saving permissions, please try again later
        </div>
        <div class="alert alert-warning col-12 pendingupdates-alert" role="alert" *ngIf="pendingPermissionsUpdate == true">
            You have permissions pending to be saved.
            <ol>
                <li><i class="fas fa-plus-circle m-2"></i>Menu A Add CFO Role Add CanWrite Permission</li>
                <li><i class="fas fa-minus-circle m-2"></i>Menu A Add CFO Role Add CanWrite Permission</li>
            </ol>
        </div>
    </div>
    <div class="row d-flex justify-content-end">
        <button pButton type="button" label="Save" class="ui-button-raised m-2"></button>
        <button pButton type="button" label="Cancel" class="ui-button-raised ui-button-danger m-2"></button>
    </div>
    <div class="row">
        <div class="col-4">
            <h2>Menu Modules</h2>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let menuModule of menuModules" (click)="selectMenuModule(menuModule)">
                    {{ menuModule.name }}
                </li>
            </ul>
        </div>
        <div class="col-4">
            <h2>Roles Available</h2>
            <ul class="list-group" *ngIf="selectedMenuModule != null">
                <li class="list-group-item d-flex justify-content-between" *ngFor="let roleModule of selectedMenuModule.roles">
                    <input type="checkbox" class="form-check-input" id="{{ roleModule.id }}" [checked]="roleModule.value" 
                    (change)="roleChanged($event,roleModule)">
                    <!--(change)="roleModule.value = !roleModule.value">-->
                    <label class="form-check-label" for="{{ roleModule.id }}">{{ roleModule.name }} </label>
                    <i class="fas fa-edit" (click)="editRolePermissions(roleModule)"></i>
                </li>
            </ul>
        </div>
        <div class="col-4">
            <h2>Role Permissions</h2>
            <ul class="list-group" *ngIf="selectedRoleModule != null">
                <li class="list-group-item  d-flex justify-content-between" *ngFor="let permissionModule of selectedRoleModule.permissions">
                    <input type="checkbox" class="form-check-input" id="{{ permissionModule.id }}" [checked]="permissionModule.value"
                     (change)="permissionChanged($event,permissionModule)" [disabled]="permissionModule.inheritedPermission">
                    <label class="form-check-label" for="{{ permissionModule.id }}">{{ permissionModule.name }} </label>
                    <i class="fas fa-lock" *ngIf="permissionModule.inheritedPermission"></i>
                </li>
            </ul>
        </div>
    </div>
</div>