<p-multiSelect name="{{multiselectName}}" [options]="currentOptions" [(ngModel)]="selectedObjs.items" appendTo="body"
    (onChange)="updateModelVal()">
    <ng-template let-items pTemplate="selectedItems">
        <div *ngIf="items!==undefined && items!==null && items.length>0 && items.length<4">
            <div *ngFor="let val of items" class="ui-multiselected-item-token ui-corner-all">
                {{val.name}}
            </div>
        </div>
        <div *ngIf="items!==undefined && items!==null && items.length>3">{{items.length}} items selected </div>
        <div *ngIf="!items || items.length === 0">{{defaultLabel}}</div>
    </ng-template>
</p-multiSelect>