<div class="row form-row mb-2">
    <div class="col-9  pl-0">
        <label class="col-form-label text-left">
            Monitors
        </label>
    </div>
    <div class="col-3 text-right">
        <button *ngIf="canEdit" class="btn btn-success width-100 mb-xs sm-mrg" role="button"
            (click)="openAddOrEditMonitorDialog()" data-cy="add-button">
            Add Monitor
        </button>
    </div>
</div>
<div class="row form-row monitorstable-column">
    <div class="col-12 monitors-table-container">
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Unit Of Measure</th>
                    <th>Input Type</th>
                    <th>Input Target</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let procedureStepMonitor of procedureStepMonitors;">
                    <td>{{ procedureStepMonitor.monitorType }}</td>
                    <td  [innerHTML]="procedureStepMonitor.description"></td>
                    <td >{{procedureStepMonitor.monitorType === 'Number' ? getUnitOfMeasureName(procedureStepMonitor.unitofMeasureId) : ''}}</td>
                    <td>{{ procedureStepMonitor.inputType }}</td>
                    <td>{{ procedureStepMonitor.target }}</td>
                    <td>
                        <i *ngIf="canEdit" class="far fa-edit pointer"
                            tooltip="Edit Monitor" data-cy="edit-button"
                            (click)="openAddOrEditMonitorDialog(procedureStepMonitor)"></i>
                        <i *ngIf="canDelete" class="far fa-trash pointer"
                            tooltip="Delete Monitor" data-cy="delete-button"
                            (click)="openConfirmDeleteMonitorDialog(procedureStepMonitor)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<p-dialog header="Confirm Delete Monitor" [(visible)]="showConfirmDeleteMonitorDialog" appendTo="body"
    [baseZIndex]="100001" [modal]='true' [style]="{width: '50vw'}" data-cy="user-header">
    <div class="container">
        <div class="row">
            Are you sure you want to Delete this Monitor?
        </div>
    </div>
    <p-footer>
        <div class="pull-right">
            <button type="submit" (click)="deleteMonitor()" class="btn btn-outline-inverse width-100 mb-xs"
                role="button" data-cy="confirmdelete-button">
                Delete
            </button>
            <button type="button" (click)="closeConfirmDeleteMonitorDialog()"
                class="btn btn-outline-inverse width-100 mb-xs" role="button">
                Cancel
            </button>
        </div>
    </p-footer>
</p-dialog>
<p-dialog header="{{ procedureStepMonitor.id === undefined ?'Create Monitor':'Edit Monitor'}}" [(visible)]="showAddOrEditMonitorDialog" appendTo="body" [baseZIndex]="100001"
    [modal]='true' [style]="{width: '50vw'}" data-cy="user-header">
    <div
      class="container parsleyjs monitor-form"
      data-parsley-validate="false"
      data-parsley-priority-enabled="false"
      novalidate="novalidate"
    >
        <div class="row" *ngIf="procedureStepMonitor !== undefined">
            <div class="form-group col-12 d-flex flex-row">
                <label for="monitortype" class="col-form-label text-left col-3">
                    Monitor Type
                </label>
                <div class="col-12 px-0">
                    <p-dropdown placeholder="Select Monitor Type" name="monitortype" [options]="monitorTypeOptions"
                        [(ngModel)]="procedureStepMonitor.monitorType">
                    </p-dropdown>
                    <input
                      [hidden]="true"
                      class="form-control input-transparent"
                      name="monitortype"
                      [value]="procedureStepMonitor.monitorType || ''"
                      readonly
                      data-validate="parsley"
                      data-parsley-trigger="change"
                      data-parsley-required="true"
                    >
                </div>
            </div>
            <div *ngIf="procedureStepMonitor.monitorType === 'Number'" class="form-group col-12 d-flex flex-row">
              <label for="unitOfMeasure" class="col-form-label text-left col-3">
                Unit of Measure
              </label>
              <div class="col-12 px-0">
                  <p-dropdown placeholder="Select Unit of Measure" name="unitOfMeasure" [options]="unitOfMeasureOptions"
                      [(ngModel)]="procedureStepMonitor.unitofMeasureId">
                  </p-dropdown>
                  <input
                    [hidden]="true"
                    class="form-control input-transparent"
                    name="unitOfMeasure"
                    [value]="procedureStepMonitor.unitofMeasureId || ''"
                    readonly
                    data-validate="parsley"
                    data-parsley-trigger="change"
                    data-parsley-required="true"
                  >
              </div>
            </div>
            <div class="form-group col-12 d-flex flex-row" *ngIf="procedureStepMonitor.monitorType === 'Number'">
                <label for="inputtype" class="col-form-label text-left col-3">
                    Input Type
                </label>
                <div class="col-9 px-0">
                    <p-dropdown placeholder="Select Input Type" name="inputtype" [options]="inputTypeOptionsWithSensor"
                        showClear="true" [(ngModel)]="procedureStepMonitor.inputType">
                    </p-dropdown>
                    <input
                      [hidden]="true"
                      class="form-control input-transparent"
                      name="inputType"
                      [value]="procedureStepMonitor.inputType || ''"
                      readonly
                      data-validate="parsley"
                      data-parsley-trigger="change"
                      data-parsley-required="true"
                    >
                </div>
            </div>
            <div class="form-group col-12 d-flex flex-row" *ngIf="procedureStepMonitor.monitorType !== 'Number'">
                <label for="inputtype" class="col-form-label text-left col-3">
                    Input Type
                </label>
                <div class="col-9 px-0">
                    <p-dropdown placeholder="Select Input Type" name="inputtype" [options]="inputTypeOptionsWithoutSensor"
                        showClear="true" [(ngModel)]="procedureStepMonitor.inputType">
                    </p-dropdown>
                    <input
                      [hidden]="true"
                      class="form-control input-transparent"
                      name="inputType"
                      [value]="procedureStepMonitor.inputType || ''"
                      readonly
                      data-validate="parsley"
                      data-parsley-trigger="change"
                      data-parsley-required="true"
                    >
                </div>
            </div>
            <div class="form-group col-12 d-flex flex-row" *ngIf="procedureStepMonitor.inputType === 'Sensor'">
                <label for="sensorname" class="col-form-label text-left col-3">
                    Available Sensors
                </label>
                <div class="col-9 px-0">
                    <p-dropdown placeholder="Select Sensor" name="sensorname" [options]="sensorNamesAvailable"
                        showClear="true" [(ngModel)]="procedureStepMonitor.sensorName">
                    </p-dropdown>
                    <input
                      [hidden]="true"
                      class="form-control input-transparent"
                      name="sensorname"
                      [value]="procedureStepMonitor.sensorName || ''"
                      readonly
                      data-validate="parsley"
                      data-parsley-trigger="change"
                      data-parsley-required="true"
                    >
                </div>
            </div>
            <div class="form-group col-12 d-flex flex-row" *ngIf="procedureStepMonitor.monitorType === 'Select'">
                <label for="listsource" class="col-form-label text-left col-3">
                    List Source
                </label>
                <div class="col-9 px-0">
                    <p-dropdown placeholder="Select List Source" name="listsource" [options]="listSource"
                        showClear="true" [(ngModel)]="procedureStepMonitor.monitorListId">
                    </p-dropdown>
                    <input
                      [hidden]="true"
                      class="form-control input-transparent"
                      name="listsource"
                      [value]="procedureStepMonitor.monitorListId || ''"
                      readonly
                      data-validate="parsley"
                      data-parsley-trigger="change"
                      data-parsley-required="true"
                    >
                </div>
            </div>
            <div class="form-group col-12 d-flex flex-row"
                *ngIf="procedureStepMonitor.monitorType === 'Number' && procedureStepMonitor.monitorType !== 'Pass or Fail' && procedureStepMonitor.inputType !== 'Sensor'">
                <label for="shouldbe" class="col-form-label text-left col-3">
                    Should Be
                </label>
                <div class="col-9 px-0">
                    <p-dropdown placeholder="Select Should Be" name="shouldbe" [options]="shouldBeOptions"
                        showClear="true" [(ngModel)]="procedureStepMonitor.shouldBe">
                    </p-dropdown>
                    <input
                      [hidden]="true"
                      class="form-control input-transparent"
                      name="shouldbe"
                      [value]="procedureStepMonitor.shouldBe || ''"
                      readonly
                      data-validate="parsley"
                      data-parsley-trigger="change"
                      data-parsley-required="true"
                    >
                </div>
            </div>
            <div class="form-group col-12 d-flex flex-row" *ngIf="procedureStepMonitor.shouldBe === 'BETWEEN' && procedureStepMonitor.monitorType !== 'Pass or Fail' && procedureStepMonitor.monitorType !== 'Yes or No'">
                <label for="lowvalue" class="col-form-label text-left col-3">
                    Low Value
                </label>
                <div class="col-9 px-0">
                    <input name="lowvalue" [(ngModel)]="procedureStepMonitor.lowTarget" class="form-control input-transparent" tooltip="low Value">
                    <input
                      [hidden]="true"
                      class="form-control input-transparent"
                      name="lowvalue"
                      [value]="procedureStepMonitor.lowTarget || ''"
                      readonly
                      data-validate="parsley"
                      data-parsley-trigger="change"
                      data-parsley-type="number"
                      data-parsley-required="true"
                    >
                </div>
            </div>
            <div class="form-group col-12 d-flex flex-row" *ngIf="procedureStepMonitor.shouldBe === 'BETWEEN' && procedureStepMonitor.monitorType !== 'Pass or Fail' && procedureStepMonitor.monitorType !== 'Yes or No'">
                <label for="highValue" class="col-form-label text-left col-3">
                    High Value
                </label>
                <div class="col-9 px-0">
                    <input name="highValue" [(ngModel)]="procedureStepMonitor.highTarget" class="form-control input-transparent" tooltip="High Value">
                    <input
                      [hidden]="true"
                      class="form-control input-transparent"
                      name="highValue"
                      [value]="procedureStepMonitor.highTarget || ''"
                      readonly
                      data-validate="parsley"
                      data-parsley-trigger="change"
                      data-parsley-type="number"
                      data-parsley-required="true"
                    >
                </div>
            </div>
            <div class="form-group col-12 d-flex flex-row"
                *ngIf="procedureStepMonitor.monitorType !== 'Select' && procedureStepMonitor.inputType !== 'Sensor' && procedureStepMonitor.shouldBe !== 'BETWEEN'">
                <label for="targetvalue" class="col-form-label text-left col-3">
                    Target Value
                </label>
                <div class="col-9 px-0">
                  <p-dropdown *ngIf="procedureStepMonitor.monitorType === 'Pass or Fail'"  placeholder="Select Pass or Fail" name="salectpassfail" [options]="passFailOptions" [(ngModel)]="procedureStepMonitor.target">
                  </p-dropdown>
                  <p-dropdown *ngIf="procedureStepMonitor.monitorType === 'Yes or No'" placeholder="Select Yes or No" name="selectyesno" [options]="yesNoOptions" [(ngModel)]="procedureStepMonitor.target">
                  </p-dropdown>
                  <input *ngIf="procedureStepMonitor.monitorType !== 'Pass or Fail' && procedureStepMonitor.monitorType !== 'Yes or No'" name="targetvalue" [(ngModel)]="procedureStepMonitor.target" class="form-control input-transparent" tooltip="Target Value">
                  <input
                    *ngIf="procedureStepMonitor.monitorType === 'Number'"
                    [hidden]="true"
                    class="form-control input-transparent"
                    name="targetvalue"
                    [value]="procedureStepMonitor.target || ''"
                    readonly
                    data-validate="parsley"
                    data-parsley-trigger="change"
                    data-parsley-type="number"
                  >
                  <input
                    *ngIf="procedureStepMonitor.monitorType !== 'Equipment' && procedureStepMonitor.monitorType !== 'Text'"
                    [hidden]="true"
                    class="form-control input-transparent"
                    name="targetvalue"
                    [value]="procedureStepMonitor.target || ''"
                    readonly
                    data-validate="parsley"
                    data-parsley-trigger="change"
                    data-parsley-required="true"
                  >
                </div>
            </div>
            <div class="form-group col-12 d-flex flex-row">
                <label for="faulthandling" class="col-form-label text-left col-3">
                    Fault Handling
                </label>
                <div class="col-9 px-0">
                  <p-dropdown placeholder="Select Fault Handling" name="faulthandling"
                      [options]="faultHandlingOptions" showClear="true" [(ngModel)]="procedureStepMonitor.failAction">
                  </p-dropdown>
                  <input
                    [hidden]="true"
                    class="form-control input-transparent"
                    name="faulthandling"
                    [value]="procedureStepMonitor.failAction || ''"
                    readonly
                    data-validate="parsley"
                    data-parsley-trigger="change"
                    data-parsley-required="true"
                  >
                </div>
            </div>
            <div class="form-group col-12 d-flex flex-row">
                <label for="description" class="col-form-label text-left col-3">
                    Description
                </label>
                <ckeditor-wrapper [editorcontent]="procedureStepMonitor.description" class="col-9 px-0"
                    (editorContentChange)="procedureStepMonitor.description = $event"></ckeditor-wrapper>
            </div>
            <div class="form-group col-12 d-flex flex-row">
                <label class="col-3 col-form-label text-md-right">
                    Send Email Notification
                </label>
                <div class="col-9 px-0 ">
                    <div class="display-inline-block isActive">
                        <label class="form-check-label" for="sendemailnotification" class="switch">
                            <input class="form-check-input" [(ngModel)]="procedureStepMonitor.sendNCREmail"
                                name="sendemailnotification" type="checkbox" class="ios" checked
                                id="sendemailnotification" /><i data-cy="sendemailnotification-checkbox"></i>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p-footer>
        <div class="pull-right">
            <button type="button" *ngIf="procedureStepMonitor.id !== undefined" (click)="saveOrUpdateProcedureStepMonitor()"
             class="btn btn-primary m-2" role="button">
                Update</button>
            <button type="button" *ngIf="procedureStepMonitor.id === undefined" (click)="saveOrUpdateProcedureStepMonitor()"
             class="btn btn-primary m-2" role="button">
                Save</button>
            <button type="button" (click)="showAddOrEditMonitorDialog  = !showAddOrEditMonitorDialog"
             class="btn btn-warning m-2" role="button">
                Cancel
            </button>
        </div>
    </p-footer>
</p-dialog>
