<?xml version="1.0" encoding="utf-8"?>

  <!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

  <configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings xdt:Transform="Replace">
  <add name="MsrPortal" providerName="System.Data.SqlClient" connectionString="server=bang.msr-fsr.com;Initial Catalog=Answer2_Prod;User Id=msrfsr;Password=snRvf2rFVG7rGAVE;" />
  </connectionStrings>

  <appSettings>
  <add key="WebsiteUrl" value="http://answer.msr-fsr.com/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="ReportingURL" value="reports.msr-fsr.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>

  </configuration>
