<h1 class="page-title">
	<i [ngClass]="'fa '+ globals.activeMenu.icon"></i>
	{{globals.activeMenu.name}}
</h1>

<widget class="mt-4">
	<p-table
		#dt [value]="data"
		dataKey="id"
		styleClass="ui-table-customers"
    [rowHover]="true"
    [rows]="10"
		[showCurrentPageReport]="true"
		[rowsPerPageOptions]="[10,25,50,100]"
		[paginator]="true"
		currentPageReportTemplate="Showing {first}-{last} of {{data.length}}"
		[filterDelay]="0"
		stateStorage="local"
		stateKey="{{gridStorageId}}"
	>
		<ng-template pTemplate="caption">
			<div class="text-right">
				<button *ngIf="userPrivileges.canCreate"
          class="btn btn-success width-100 mb-xs sm-mrg"
					role="button"
          data-cy="add-button"
          (click)="openCSRDialog()"
				>+ Add</button>

        <csv-import
          [showButton]="userPrivileges.canCreate"
          [menuItem]="menuItems.QuotesProducts"
          title="Import Quotes"
          (onUpload)="onClickImportQuote($event)"
          data-cy="import-button"
        ></csv-import>

				<grid-options
					[(defaultColumns)]="gridSettings"
					[gridStorageId]="gridStorageId"
					[ptable]="dt"
					[gridVersion]="gridVersion"
					data-cy="usergrid-options"
				></grid-options>
			</div>
		</ng-template>

		<ng-template pTemplate="header">
			<tr>
				<th style="display: none;"></th>
				<th *ngFor="let col of gridSettings"
					[hidden]="!col.visible"
					[pSortableColumn]="col.id"
					data-cy="usertable-header"
        >
          {{col.label}} <p-sortIcon [field]="col.id"></p-sortIcon>
				</th>
				<th data-cy="usertable-header">Actions</th>
				<th style="display: none;"></th>
			</tr>
			<tr>
        <th [hidden]="!cg.isVisibleCol('submittedDate',gridSettings)">
          <div
            class="position-relative"
            tooltip="Search by Submitted Date"
          >
            <pcalendar-wrapper
              [gridStorageId]="gridStorageId"
              [filterId]="'submittedDate'"
              [datatable]="dt"
            >
            </pcalendar-wrapper>
          </div>
        </th>
				<th [hidden]="!cg.isVisibleCol('company',gridSettings)">
          <div class="position-relative">
            <input
              pInputText
              type="text"
              tooltip="Search by Company"
              data-cy="searchbycompany-grid"
              (input)="dt.filter($event.target.value, 'company', 'contains')" class="ui-column-filter"
              [value]="dt.filters['company']?.value"
            >
              <i
                *ngIf="dt.filters['company']?.value"
                class="fclear pi pi-times pointer"
                (click)="cg.filter(dt,'company')"
              ></i>
          </div>
				</th>
				<th [hidden]="!cg.isVisibleCol('submittedBy.fullName',gridSettings)">
          <div class="position-relative">
            <input
              pInputText type="text"
              tooltip="Search by Submitted By"
              data-cy="searchbysubmittedby-grid"
              (input)="dt.filter($event.target.value, 'submittedBy.fullName', 'contains')"
              class="ui-column-filter"
              [value]="dt.filters['submittedBy.fullName']?.value"
            >
              <i
                *ngIf="dt.filters['submittedBy.fullName']?.value"
                class="fclear pi pi-times pointer"
                (click)="cg.filter(dt,'submittedBy.fullName')"
              ></i>
          </div>
        </th>
        <th [hidden]="!cg.isVisibleCol('divisionFab',gridSettings)">
          <div class="position-relative">
            <input
              pInputText type="text"
              tooltip="Search by Division/Fab #"
              data-cy="divisionfab-grid"
              (input)="dt.filter($event.target.value, 'divisionFab', 'contains')"
              class="ui-column-filter"
              [value]="dt.filters['divisionFab']?.value"
            >
              <i
                *ngIf="dt.filters['divisionFab']?.value"
                class="fclear pi pi-times pointer"
                (click)="cg.filter(dt,'divisionFab')"
              ></i>
          </div>
				</th>
				<th [hidden]="!cg.isVisibleCol('partKitNo',gridSettings)">
          <div class="position-relative">
            <input
              pInputText type="text"
              tooltip="Search by Part/Kit Number" data-cy="searchbypartkitno-grid"
              (input)="dt.filter($event.target.value, 'partKitNo', 'contains')"
              class="ui-column-filter"
              [value]="dt.filters['partKitNo']?.value"
            >
              <i
                *ngIf="dt.filters['partKitNo']?.value"
                class="fclear pi pi-times pointer"
                (click)="cg.filter(dt,'partKitNo')"
              ></i>
          </div>
				</th>
				<th [hidden]="!cg.isVisibleCol('procedureName',gridSettings)">
          <div class="position-relative">
            <input
              pInputText type="text"
              tooltip="Search by Procedure Name" data-cy="searchbyprocedure-grid"
              (input)="dt.filter($event.target.value, 'procedureName', 'contains')"
              class="ui-column-filter"
              [value]="dt.filters['procedureName']?.value"
            >
              <i
                *ngIf="dt.filters['procedureName']?.value"
                class="fclear pi pi-times pointer"
                (click)="cg.filter(dt,'procedureName')"
              ></i>
          </div>
				</th>
				<th [hidden]="!cg.isVisibleCol('productName',gridSettings)">
          <div class="position-relative">
            <input
              pInputText type="text"
              tooltip="Search by Product Name"
              data-cy="searchbyproduct-grid"
              (input)="dt.filter($event.target.value, 'productName', 'contains')"
              class="ui-column-filter"
              [value]="dt.filters['productName']?.value"
            >
              <i
                *ngIf="dt.filters['productName']?.value"
                class="fclear pi pi-times pointer"
                (click)="cg.filter(dt,'productName')"
              ></i>
          </div>
				</th>
				<th [hidden]="!cg.isVisibleCol('representative',gridSettings)">
          <div class="position-relative">
            <input
              pInputText type="text"
              tooltip="Search by Representative"
              data-cy="searchbyrepresentative-grid"
              (input)="dt.filter($event.target.value, 'representative', 'contains')"
              class="ui-column-filter"
              [value]="dt.filters['representative']?.value"
            >
              <i
                *ngIf="dt.filters['representative']?.value"
                class="fclear pi pi-times pointer"
                (click)="cg.filter(dt,'representative')"
              ></i>
          </div>
				</th>
				<th [hidden]="!cg.isVisibleCol('revision',gridSettings)">
          <div class="position-relative">
            <input
              pInputText type="number"
              tooltip="Search by Revision"
              data-cy="searchbyrevision-grid"
              (input)="dt.filter($event.target.value, 'revision', 'contains')"
              class="ui-column-filter"
              [value]="dt.filters['revision']?.value"
            >
              <i
                *ngIf="dt.filters['revision']?.value"
                class="fclear pi pi-times pointer"
                (click)="cg.filter(dt,'revision')"
              ></i>
          </div>
				</th>
				<th [hidden]="!cg.isVisibleCol('equipmentCost',gridSettings)">
          <div class="position-relative">
            <input
              pInputText type="number"
              tooltip="Search by Equipment Cost" data-cy="searchbyequipmentcost-grid"
              (input)="dt.filter($event.target.value, 'equipmentCost', 'contains')"
              class="ui-column-filter"
              [value]="dt.filters['equipmentCost']?.value"
            >
              <i
                *ngIf="dt.filters['equipmentCost']?.value"
                class="fclear pi pi-times pointer"
                (click)="cg.filter(dt,'equipmentCost')"
              ></i>
          </div>
				</th>
				<th [hidden]="!cg.isVisibleCol('materialCost',gridSettings)">
          <div class="position-relative">
            <input
              pInputText type="number"
              tooltip="Search by Material Cost"
              data-cy="searchbymaterialcost-grid"
              (input)="dt.filter($event.target.value, 'materialCost', 'contains')"
              class="ui-column-filter"
              [value]="dt.filters['materialCost']?.value"
            >
              <i
                *ngIf="dt.filters['materialCost']?.value"
                class="fclear pi pi-times pointer"
                (click)="cg.filter(dt,'materialCost')"
              ></i>
          </div>
				</th>
				<th [hidden]="!cg.isVisibleCol('salesTax',gridSettings)">
          <div class="position-relative">
            <input
              pInputText
              type="number"
              tooltip="Search by Sales Tax"
              data-cy="searchbysalestax-grid"
              (input)="dt.filter($event.target.value, 'salesTax', 'contains')"
              class="ui-column-filter"
              [value]="dt.filters['salesTax']?.value"
            >
              <i
                *ngIf="dt.filters['salesTax']?.value"
                class="fclear pi pi-times pointer"
                (click)="cg.filter(dt,'salesTax')"
              ></i>
          </div>
				</th>
				<th [hidden]="!cg.isVisibleCol('totalPrice',gridSettings)">
          <div class="position-relative">
            <input
              pInputText
              type="text"
              tooltip="Search by Total Price"
              data-cy="searchbytotalprice-grid"
              (input)="dt.filter($event.target.value, 'totalPrice', 'contains')" class="ui-column-filter"
              [value]="dt.filters['totalPrice']?.value"
            >
              <i
                *ngIf="dt.filters['totalPrice']?.value"
                class="fclear pi pi-times pointer"
                (click)="cg.filter(dt,'totalPrice')"
              ></i>
          </div>
				</th>
				<th [hidden]="!cg.isVisibleCol('cycleTime',gridSettings)">
          <div class="position-relative">
            <input
              pInputText
              type="number"
              tooltip="Search by Cycle Time"
              data-cy="searchbypartnr-grid"
              (input)="dt.filter($event.target.value, 'cycleTime', 'contains')"
              class="ui-column-filter"
              [value]="dt.filters['cycleTime']?.value"
            >
              <i
                *ngIf="dt.filters['cycleTime']?.value"
                class="fclear pi pi-times pointer"
                (click)="cg.filter(dt,'cycleTime')"
              ></i>
          </div>
        </th>
        <th [hidden]="!cg.isVisibleCol('lastUpdateOn',gridSettings)">
          <div
            class="position-relative"
            tooltip="Search by LastUpdate On"
          >
            <pcalendar-wrapper
              [gridStorageId]="gridStorageId"
              [filterId]="'lastUpdateOn'"
              [datatable]="dt"
            >
            </pcalendar-wrapper>
          </div>
        </th>
				<th [hidden]="!cg.isVisibleCol('lastUpdatedBy',gridSettings)">
          <div class="position-relative">
            <input
              pInputText
              type="text"
              tooltip="Search by LastUpdated By"
              data-cy="searchbylastupdatedby-grid"
              (input)="dt.filter($event.target.value, 'lastUpdatedBy', 'contains')"
              class="ui-column-filter"
              [value]="dt.filters['lastUpdatedBy']?.value"
            >
              <i
                *ngIf="dt.filters['lastUpdatedBy']?.value"
                class="fclear pi pi-times pointer"
                (click)="cg.filter(dt,'lastUpdatedBy')"
              ></i>
          </div>
				</th>
				<th></th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-quoteproductmodel>
			<tr class="ui-selectable-row">
				<td [hidden]="!cg.isVisibleCol('submittedDate',gridSettings)">
          {{quoteproductmodel.submittedDate | userTimezone}}
				</td>
				<td [hidden]="!cg.isVisibleCol('company', gridSettings)">
          {{quoteproductmodel.company}}
				</td>
				<td [hidden]="!cg.isVisibleCol('submittedBy.fullName', gridSettings)">
          {{quoteproductmodel.submittedBy ? quoteproductmodel.submittedBy.fullName : ''}}
        </td>
        <td [hidden]="!cg.isVisibleCol('divisionFab', gridSettings)">
          {{quoteproductmodel.divisionFab}}
				</td>
				<td [hidden]="!cg.isVisibleCol('partKitNo', gridSettings)">
          {{quoteproductmodel.partKitNo}}
				</td>
        <td [hidden]="!cg.isVisibleCol('procedureName',gridSettings)">
          {{quoteproductmodel.procedureName }}
				</td>
				<td [hidden]="!cg.isVisibleCol('productName', gridSettings)">
          {{quoteproductmodel.productName}}
				</td>
				<td [hidden]="!cg.isVisibleCol('representative', gridSettings)">
          {{quoteproductmodel.representative}}
				</td>
				<td [hidden]="!cg.isVisibleCol('revision', gridSettings)">
          {{quoteproductmodel.revision}}
				</td>
        <td [hidden]="!cg.isVisibleCol('equipmentCost',gridSettings)">
          {{ quoteproductmodel.equipmentCost | currency}}
				</td>
				<td [hidden]="!cg.isVisibleCol('materialCost',gridSettings)">
          {{ quoteproductmodel.materialCost | currency }}
				</td>
				<td [hidden]="!cg.isVisibleCol('salesTax', gridSettings)">
          {{quoteproductmodel.salesTax}}
				</td>
				<td [hidden]="!cg.isVisibleCol('totalPrice', gridSettings)">
          {{ quoteproductmodel.totalPrice | currency}}
				</td>
				<td [hidden]="!cg.isVisibleCol('cycleTime', gridSettings)">
          {{quoteproductmodel.cycleTime}}
				</td>
        <td [hidden]="!cg.isVisibleCol('lastUpdateOn', gridSettings)">
          {{quoteproductmodel.lastUpdateOn | userTimezone}}
        </td>
        <td [hidden]="!cg.isVisibleCol('lastUpdatedBy', gridSettings)">
          {{quoteproductmodel.lastUpdated ? quoteproductmodel.lastUpdated.userName : ''}}
        </td>
        <td>
          <i
            *ngIf="!quoteproductmodel.isProduct && userPrivileges.canCreate"
            class="far fa-play pointer"
            tooltip="Start Quote"
            data-cy="startRow"
            [routerLink]="['../product', productPageModes.Create, quoteproductmodel.id]"
          ></i>
          <i
            *ngIf="!quoteproductmodel.isProduct && quoteproductmodel.isDeletable && userPrivileges.canDelete"
            class="far fa-trash-alt pointer"
            tooltip="Delete Quote"
            data-cy="deleteRow"
            (click)="openConfirmDeleteDialog(quoteproductmodel)"
          ></i>
          <i
            *ngIf="quoteproductmodel.isProduct && userPrivileges.canEdit"
            class="fa fa-edit pointer"
            tooltip="Edit Product"
            data-cy="editRow"
            [routerLink]="['../product', productPageModes.Edit, quoteproductmodel.id]"
          ></i>
          <i
            *ngIf="quoteproductmodel.isProduct && userPrivileges.canRead" class="fa fa-eye pointer"
            tooltip="View Product"
            data-cy="viewRow"
            [routerLink]="['../product', productPageModes.View , quoteproductmodel.id]"
          ></i>
        </td>
			</tr>
		</ng-template>
		<ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8" style="text-align:center">No records found.</td>
      </tr>
    </ng-template>
	</p-table>
</widget>

<p-dialog
  header="Confirm Delete"
  [(visible)]="showConfirmDeleteDialog"
  [baseZIndex]="100001"
  [modal]='true'
  [style]="{width: '50vw'}"
  data-cy="user-header"
>
  <div class="container">
    <div class="row">
      Are you sure you want to Delete this Quote?
    </div>
  </div>
  <p-footer>
    <div class="pull-right">
      <button type="submit" (click)="deleteQuote()" class="btn btn-outline-inverse width-100 mb-xs" role="button"
        data-cy="confirmdelete-button">
        Delete
      </button>
      <button type="button" (click)="closeConfirmDeleteDialog()" class="btn btn-outline-inverse width-100 mb-xs"
        role="button">
        Cancel
      </button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog
  header="New Requirements"
  [(visible)]="showCSRDialog"
  [baseZIndex]="100001"
  [modal]='true'
  [style]="{width: '70vw'}"
  data-cy="csr-header"
>
  <form
    data-parsley-validate
    class="csr-form form-horizontal form-label-left parsleyjs"
    data-parsley-priority-enabled="false"
    (ngSubmit)="onCSRSubmit()"
    novalidate="novalidate"
  >
    <section *ngIf="CSRToCreate !== undefined " class="widget mrg-btm-sm" widget>
      <header>
        <h3><i class="icon fa fa-plus-circle mr-3"></i>New Requirements</h3>
      </header>
      <div class="widget-body">
        <div class="row clearfix my-4">
          <div class="col-md-12">
            <div class="form-group row">
              <label for="customerId" class="col-md-2  col-form-label text-md-left">
                Customer:
              </label>
              <div class="col-md-8">
                <p-dropdown
                  placeholder="Select Client"
                  optionLabel="name"
                  name="customerId"
                  [(ngModel)]="CSRCustomer"
                  [options]="customersData"
                  (onChange)="setCustomerId()"
                  appendTo="body"
                  [baseZIndex]="100002"
                  required
                  data-cy="csr-select-customerid"
                >
                </p-dropdown>
                <input
                  pInputText
                  type="text"
                  hidden
                  class="form-control input-transparent"
                  name="Customer"
                  [value]="CSRToCreate.customerId"
                  data-validate="parsley"
                  data-parsley-trigger="change"
                  data-parsley-required="true"
                  data-cy="csr-input-customerid"
                >
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group row">
              <label for="requirementName" class="col-md-2  col-form-label text-md-left">
                Requirement Name:
              </label>
              <div class="col-md-8 ">
                <input
                  pInputText
                  type="text"
                  class="form-control input-transparent"
                  name="Requirement Name"
                  placeholder="Enter a name you will use to Identify this requirement"
                  [(ngModel)]="CSRToCreate.RequirementName"
                  data-validate="parsley"
                  data-parsley-trigger="change"
                  data-parsley-minlength="3"
                  data-parsley-required="true"
                  data-cy="csr-input-requirementname"
                >
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group row">
              <label for="submittedBy" class="col-md-2  col-form-label text-md-left">
                Submitted By:
              </label>
              <div class="col-md-8 ">
                <input
                  pInputText
                  type="text"
                  class="form-control input-transparent"
                  name="Submitted By"
                  [(ngModel)]="CSRToCreate.SubmittedBy"
                  disabled
                  data-validate="parsley"
                  data-parsley-trigger="change"
                  data-parsley-minlength="3"
                  data-parsley-required="true"
                  data-cy="csr-input-submittedby"
                >
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix">
          <ul class="nav nav-tabs float-left" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="customerTab" data-toggle="tab" href="#customerInfo" role="tab" aria-controls="customerInfo" aria-expanded="true">Customer Information</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="generalTab" data-toggle="tab" href="#generalInfo" role="tab" aria-controls="generalInfo" aria-expanded="false">General Information</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="generalTab" data-toggle="tab" href="#contaminantInfo" role="tab" aria-controls="contaminantInfo" aria-expanded="false">Contaminant Information</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="generalTab" data-toggle="tab" href="#kitInfo" role="tab" aria-controls="kitInfo" aria-expanded="false">Kit Breakdown By Part</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="generalTab" data-toggle="tab" href="#additionalInfo" role="tab" aria-controls="additionalInfo" aria-expanded="false">Additional Information / Comments</a>
            </li>
          </ul>
        </div>
        <fieldset>
          <legend>
          </legend>
          <div class="tab-content mb-lg" id="myTabContent">
            <div
              role="tabpanel"
              class="tab-pane active in clearfix"
              id="customerInfo"
              aria-labelledby="customerTab"
              aria-expanded="true"
            >
              <div class="row clearfix">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="company" class="col-md-3  col-form-label text-md-right">
                      Company:
                    </label>
                    <div class="col-md-8 ">
                      <input
                        pInputText
                        type="text"
                        class="form-control input-transparent"
                        name="company"
                        [(ngModel)]="CSRToCreate.Company"
                        data-cy="csr-input-company"
                      >
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="divisionFab" class="col-md-3  col-form-label text-md-right">
                      Division / Fab #:
                    </label>
                    <div class="col-md-8 ">
                      <input
                        pInputText
                        type="text"
                        class="form-control input-transparent"
                        name="divisionFab"
                        [(ngModel)]="CSRToCreate.DivisionFab"
                        data-cy="csr-input-divisionfab"
                      >
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="streetAddress" class="col-md-3  col-form-label text-md-right">
                      Street Address:
                    </label>
                    <div class="col-md-8 ">
                      <input
                        pInputText
                        type="text"
                        class="form-control input-transparent"
                        name="streetAddress"
                        [(ngModel)]="CSRToCreate.StreetAddress"
                        data-cy="csr-input-streetaddress"
                      >
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="cityStateZIP" class="col-md-3  col-form-label text-md-right">
                      City, State, ZIP:
                    </label>
                    <div class="col-md-8 ">
                      <input
                        pInputText
                        type="text"
                        class="form-control input-transparent"
                        name="cityStateZIP"
                        [(ngModel)]="CSRToCreate.CityStateZIP"
                        data-cy="csr-input-citystatezip"
                      >
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <p-panel header="Commercial Contact Info">
                    <div class="form-group row">
                      <label for="commercialName" class="col-md-3  col-form-label text-md-right">
                        Name:
                      </label>
                      <div class="col-md-8 ">
                        <input
                          pInputText
                          type="text"
                          class="form-control input-transparent"
                          name="Customer Information / Commercial Name"
                          [(ngModel)]="CSRToCreate.CommercialName" data-validate="parsley"
                          data-parsley-trigger="change"
                          data-parsley-minlength="3"
                          data-parsley-required="true"
                          data-cy="csr-input-commercialname"
                        >
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="commercialTitle" class="col-md-3  col-form-label text-md-right">
                        Title:
                      </label>
                      <div class="col-md-8 ">
                        <input
                          pInputText
                          type="text"
                          class="form-control input-transparent"
                          name="commercialTitle"
                          [(ngModel)]="CSRToCreate.CommercialTitle"
                          data-cy="csr-input-commercialtitle"
                        >
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="commercialPhone" class="col-md-3  col-form-label text-md-right">
                        Phone:
                      </label>
                      <div class="col-md-8 ">
                        <input
                          pInputText
                          type="text"
                          class="form-control input-transparent"
                          name="Customer Information / Commercial PhoneNumber"
                          [(ngModel)]="CSRToCreate.CommercialPhone" data-validate="parsley"
                          data-parsley-trigger="change"
                          data-parsley-type="number"
                          data-parsley-required="true"
                          data-cy="csr-input-commercialphone"
                        >
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="commercialEmail" class="col-md-3  col-form-label text-md-right">
                        Email:
                      </label>
                      <div class="col-md-8 ">
                        <input
                          pInputText
                          type="text"
                          class="form-control input-transparent"
                          name="Customer Information / Commercial Email"
                          [(ngModel)]="CSRToCreate.CommercialEmail"
                          data-validate="parsley"
                          data-parsley-trigger="change"
                          data-parsley-type="email"
                          data-cy="csr-input-commercialemail"
                        >
                      </div>
                    </div>
                  </p-panel>
                </div>

                <div class="col-md-6">
                  <p-panel header="Technical Contact Info">
                    <div class="form-group row">
                      <label for="technicalName" class="col-md-3  col-form-label text-md-right">
                        Name:
                      </label>
                      <div class="col-md-8 ">
                        <input
                          pInputText
                          type="text"
                          class="form-control input-transparent"
                          name="Customer Information / Technical Name"
                          [(ngModel)]="CSRToCreate.TechnicalName"
                          data-validate="parsley"
                          data-parsley-trigger="change"
                          data-parsley-minlength="3"
                          data-parsley-required="true"
                          data-cy="csr-input-technicalname"
                        >
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="technicalTitle" class="col-md-3  col-form-label text-md-right">
                        Title:
                      </label>
                      <div class="col-md-8 ">
                        <input
                          pInputText
                          type="text"
                          class="form-control input-transparent"
                          name="technicalTitle"
                          [(ngModel)]="CSRToCreate.TechnicalTitle"
                          data-cy="csr-input-technicaltitle"
                        >
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="Technical Phone" class="col-md-3  col-form-label text-md-right">
                        Phone:
                      </label>
                      <div class="col-md-8 ">
                        <input
                          pInputText
                          type="text"
                          class="form-control input-transparent"
                          name="Customer Information / Technical PhoneNumber"
                          [(ngModel)]="CSRToCreate.TechnicalPhone" data-validate="parsley"
                          data-parsley-trigger="change"
                          data-parsley-type="number"
                          data-cy="csr-input-technicaltphone"
                        >
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="technicalEmail" class="col-md-3  col-form-label text-md-right">
                        Email:
                      </label>
                      <div class="col-md-8 ">
                        <input
                          pInputText
                          type="text"
                          class="form-control input-transparent"
                          name="Customer Information / Technical Email"
                          [(ngModel)]="CSRToCreate.TechnicalEmail"
                          data-validate="parsley"
                          data-parsley-trigger="change"
                          data-parsley-type="email"
                          data-cy="csr-input-technicalemail"
                        >
                      </div>
                    </div>
                  </p-panel>
                </div>

              </div>
            </div>
            <div
              class="tab-pane"
              id="generalInfo"
              role="tabpanel"
              aria-labelledby="generalTab"
              aria-expanded="false"
            >
              <div class="row clearfix">
                <div class="col-md-12">
                  <div class="form-group row">
                    <label for="partKitNo" class="col-md-3  col-form-label text-md-right">
                      Part /Kit No:
                    </label>
                    <div class="col-md-8">
                      <input
                        pInputText
                        type="text"
                        class="form-control input-transparent"
                        name="partKitNo"
                        [(ngModel)]="CSRToCreate.PartKitNo"
                        data-cy="csr-input-partkitno"
                      >
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group row">
                    <label for="customerSpecifications" class="col-md-3  col-form-label text-md-right">
                      Customer Specifications (if any):
                    </label>
                    <div class="col-md-8">
                      <textarea
                        pTextArea
                        rows="3"
                        class="form-control input-transparent"
                        name="customerSpecifications"
                        [(ngModel)]="CSRToCreate.CustomerSpecifications"
                        data-cy="csr-input-customerspecifications"
                      ></textarea>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group row">
                    <label for="inProcessAnalyticalRequirements" class="col-md-3  col-form-label text-md-right">
                      In-Process Analytical Requirements:
                    </label>
                    <div class="col-md-8">
                      <textarea
                        pTextArea
                        rows="3"
                        class="form-control input-transparent"
                        name="inProcessAnalyticalRequirements"
                        [(ngModel)]="CSRToCreate.InProcessAnalyticalRequirements"
                        data-cy="csr-input-inprocessanalyticalrequirements"
                      ></textarea>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group row">
                    <label for="detailedDescription" class="col-md-3  col-form-label text-md-right">
                      Detailed Description of Requested Service(s):
                    </label>
                    <div class="col-md-8">
                      <textarea
                        pTextArea
                        rows="3"
                        class="form-control input-transparent"
                        name="detailedDescription"
                        [(ngModel)]="CSRToCreate.DetailedDescription"
                        data-cy="csr-input-detaileddescription"
                      ></textarea>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group row">
                    <label for="CriticalToFunction" class="col-md-3  col-form-label text-md-right">
                      Critical-to-Function Attributes:
                    </label>
                    <div class="col-md-8">
                      <textarea
                        pTextArea
                        rows="3"
                        class="form-control input-transparent"
                        name="criticalToFunction"
                        [(ngModel)]="CSRToCreate.CriticalToFunction"
                        data-cy="csr-input-criticaltofunction"
                      ></textarea>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group row">
                    <label for="specificCustomerQualification" class="col-md-3  col-form-label text-md-right">
                      Specific Customer Qualification Requirements:
                    </label>
                    <div class="col-md-8">
                      <textarea
                        pTextArea
                        rows="3"
                        class="form-control input-transparent"
                        name="specificCustomerQualification"
                        [(ngModel)]="CSRToCreate.SpecificCustomerQualification"
                        data-cy="csr-input-specificcustomerqualification"
                      ></textarea>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group row">
                    <label for="forecastedVolumes" class="col-md-3  col-form-label text-md-right">
                      Forecasted Volumes & Start Dates:
                    </label>
                    <div class="col-md-8">
                      <textarea
                        pTextArea
                        rows="3"
                        class="form-control input-transparent"
                        name="forecastedVolumes"
                        [(ngModel)]="CSRToCreate.ForecastedVolumes"
                        data-cy="csr-input-forecastedvolumes"
                      ></textarea>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group row">
                    <label for="specialPackagingShipping" class="col-md-3  col-form-label text-md-right">
                      Special Packaging/Shipping:
                    </label>
                    <div class="col-md-8">
                      <textarea
                        pTextArea
                        rows="3"
                        class="form-control input-transparent"
                        name="specialPackagingShipping"
                        [(ngModel)]="CSRToCreate.SpecialPackagingShipping"
                        data-cy="csr-input-specialpackagingshipping"
                      ></textarea>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="expectedQuoteDate" class="col-md-3  col-form-label text-md-right">
                      Expected Quote Date:
                    </label>
                    <p-calendar
                      placeholder="Select Expected Quote Date"
                      class="col-md-8"
                      name="expectedQuoteDate"
                      [(ngModel)]="CSRToCreate.ExpectedQuoteDate"
                      showIcon="true"
                      styleClass="input-group input-group-transparent"
                      inputStyleClass="form-control input-transparent"
                      data-cy="csr-input-expectedquotedate"
                    >
                    </p-calendar>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="expectedCycleTime" class="col-md-3  col-form-label text-md-right">
                      Expected Cycle Time:
                    </label>
                    <div class="col-md-8 input-group input-group-transparent" style="height: min-content;">
                      <input
                        pInputText
                        type="text"
                        class="form-control input-transparent"
                        name="General Information / Expected CycleTime"
                        [(ngModel)]="CSRToCreate.ExpectedCycleTime"
                        data-validate="parsley"
                        data-parsley-trigger="change"
                        data-parsley-type="number"
                        data-cy="csr-input-expectedcycletime"
                      >
                      <span class="input-group-addon bg-secondary">
                        Days
                      </span>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="pickupNotification" class="col-md-3  col-form-label text-md-right">
                      Pickup Notification:
                    </label>
                    <div class="col-md-8 ">
                      <input
                        pInputText
                        type="text"
                        class="form-control input-transparent"
                        name="pickupNotification"
                        [(ngModel)]="CSRToCreate.PickupNotification"
                        data-cy="csr-input-pickupnotification"
                      >
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="shippingMethod" class="col-md-3  col-form-label text-md-right">
                      Shipping Method:
                    </label>
                    <p-dropdown
                      class="col-md-8"
                      placeholder="Select Shipping Method"
                      name="shippingMethod"
                      [(ngModel)]="CSRToCreate.ShippingMethod"
                      [options]="CSRShippingMethods"
                      appendTo="body"
                      [baseZIndex]="100002"
                      [virtualScroll]="true"
                      itemSize="6"
                      [filter]="true"
                      filterBy="label"
                      data-cy="csr-input-shippingmethod"
                    >
                    </p-dropdown>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="tab-pane"
              id="contaminantInfo"
              role="tabpanel"
              aria-labelledby="contaminantTab"
              aria-expanded="false"
            >
              <div class="row clearfix">
                <div class="col-md-12 column">
                  <table class="table table-bordered" id="process_steps">
                    <thead>
                      <tr>
                        <th class="text-center" style="width:10%">
                          Row #
                        </th>
                        <th class="text-center" style="width:90%">
                          Contaminents By-Products
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let pr of CSRToCreate.Process; index as i;">
                        <td>{{i + 1}}</td>
                        <td>
                          <input
                            pInputText
                            type="text"
                            class="form-control input-transparent"
                            name="Contaminant Information / Process Contaminents"
                            placeholder="Contaminents By-Products"
                            [(ngModel)]="CSRToCreate.Process[i].Contaminents"
                            data-validate="parsley"
                            data-parsley-trigger="change"
                            data-parsley-minlength="3"
                            data-parsley-required="true"
                            data-cy="csr-input-process-contaminents"
                          >
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row clearfix">
                <div class="col-md-12 column">
                  <button
                    type="button"
                    class="btn btn-primary mr-2"
                    (click)="addCSRProcess()"
                  >Add Row</button>
                  <button
                    type="button"
                    class="btn btn-warning"
                    (click)="removeCSRProcess()"
                  >Delete Row</button>
                </div>
              </div>
            </div>

            <div
              class="tab-pane"
              id="kitInfo"
              role="tabpanel"
              aria-labelledby="kitTab"
              aria-expanded="false"
            >
              <div class="row clearfix">
                <div class="col-md-12 column">
                  <table class="table table-bordered" id="kit_parts">
                    <thead>
                      <tr>
                        <th class="text-center" style="width:10%;">
                          Row #
                        </th>
                        <th class="text-center" style="width:10%;">
                          CU/Non CU
                        </th>
                        <th class="text-center" style="width:10%;">
                          Part Description
                        </th>
                        <th class="text-center" style="width:10%;">
                          Substrate
                        </th>
                        <th class="text-center" style="width:10%;">
                          Coating/Surface Treatment
                        </th>
                        <th class="text-center" style="width:10%;">
                          Dimensions
                        </th>
                        <th class="text-center" style="width:10%;">
                          Cust. Part No.
                        </th>
                        <th class="text-center" style="width:10%;">
                          Mfg. Part No.
                        </th>
                        <th class="text-center" style="width:10%;">
                          # Parts per Kit
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="text-center" *ngFor="let part of CSRToCreate.Parts; index as i;">
                        <td>{{i + 1}}</td>
                        <td class="text-center">
                          <p-inputSwitch
                            name="parts[{{i}}].nonCU"
                            [(ngModel)]="CSRToCreate.Parts[i].NonCU">
                          </p-inputSwitch>
                        </td>
                        <td>
                          <input
                            pInputText
                            type="text"
                            class="form-control input-transparent"
                            name="parts[{{i}}].partDescription"
                            placeholder="Part Description"
                            [(ngModel)]="CSRToCreate.Parts[i].PartDescription"
                            data-cy="csr-input-part-description"
                          >
                        </td>
                        <td>
                          <input
                            pInputText
                            type="text"
                            class="form-control input-transparent"
                            name="parts[{{i}}].substrate"
                            placeholder="Substrate"
                            [(ngModel)]="CSRToCreate.Parts[i].Substrate"
                            data-cy="csr-input-part-substrate"
                          >
                        </td>
                        <td>
                          <input
                            pInputText
                            type="text"
                            class="form-control input-transparent"
                            name="parts[{{i}}].coatingSurface"
                            placeholder="Coating/Surface Treatment"
                            [(ngModel)]="CSRToCreate.Parts[i].CoatingSurface"
                            data-cy="csr-input-part-coatingsurface"
                          >
                        </td>
                        <td>
                          <input
                            pInputText
                            type="text"
                            class="form-control input-transparent"
                            name="parts[{{i}}].dimensions"
                            placeholder="Dimensions"
                            [(ngModel)]="CSRToCreate.Parts[i].Dimensions"
                            data-cy="csr-input-part-dimensions"
                          >
                        </td>
                        <td>
                          <input
                            pInputText
                            type="text"
                            class="form-control input-transparent"
                            name="Kit Breakdown By Part / Cust. Part No."
                            placeholder="Cust. Part No."
                            [(ngModel)]="CSRToCreate.Parts[i].CustPartNo"
                            data-validate="parsley"
                            data-parsley-trigger="change"
                            data-parsley-minlength="3"
                            data-parsley-required="true"
                            data-cy="csr-input-part-custpartno"
                          >
                        </td>
                        <td>
                          <input
                            pInputText
                            type="text"
                            class="form-control input-transparent"
                            name="parts[{{i}}].mfgPartNo"
                            placeholder="Mfg. Part No."
                            [(ngModel)]="CSRToCreate.Parts[i].MfgPartNo"
                            data-cy="csr-input-part-mfgpartno"
                          >
                        </td>
                        <td>
                          <input
                            pInputText
                            type="text"
                            class="form-control input-transparent"
                            name="parts[{{i}}].partsPerKit"
                            placeholder="# Parts per Kit"
                            [(ngModel)]="CSRToCreate.Parts[i].PartsPerKit"
                            data-cy="csr-input-part-partsperkit"
                          >
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row clearfix">
                <div class="col-md-12 column">
                  <button
                    type="button"
                    class="btn btn-primary mr-2"
                    (click)="addCSRPart()"
                  >Add Row</button>
                  <button
                    type="button"
                    class="btn btn-warning"
                    (click)="removeCSRPart()"
                  >Delete Row</button>
                </div>
              </div>
            </div>

            <div
              class="tab-pane"
              id="additionalInfo"
              role="tabpanel"
              aria-labelledby="additionalTab"
              aria-expanded="false"
            >
              <div class="row clearfix">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="AdditionalInformation" class="col-form-label text-left">
                      Additional Information or Comments
                    </label>
                    <textarea
                      pTextArea
                      rows="5"
                      class="form-control input-transparent"
                      name="additionalInformation"
                      [(ngModel)]="CSRToCreate.AdditionalInformation"
                      data-cy="csr-input-additionalinformation"
                    ></textarea>
                  </div>
                </div>
              </div>
            </div>

            <div class="row clearfix mx-0 pb-5" *ngIf="CSRFormValidErrors.length > 0">
              <div class="col-md-12 text-left text-danger">
                <h5>Errors: </h5>
                <ul class="valid-errors">
                  <li class="font-weight-bold" *ngFor="let error of CSRFormValidErrors;">{{error}}</li>
                </ul>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </section>
    <p-footer>
      <div class="pull-right">
        <button type="submit" class="btn btn-outline-inverse width-100 mb-xs" role="button" data-cy="save-button">
          Save
        </button>
        <button type="button" (click)="closeCSRDialog()" class="btn btn-outline-inverse width-100 mb-xs" role="button">
          Cancel
        </button>
      </div>
    </p-footer>
  </form>
</p-dialog>
