
<div class="container">
  <h1 class="page-title mb-lg">
    <i class="icon fa fa-usd"></i>
    Freeform Quote
  </h1>

  <widget>
    <form role="form">
      <div class="row mr-0 ml-0">
        <table class="table no-border quote-header" width="100%">
          <tbody>
            <tr>
              <td rowspan="2" width="60%" class="text-left"><img src="/assets/img/msr-ccs.png" alt="MSR-FSR Critical Component Services"></td>
              <th class="text-right">
                Date:
              </th>
              <td>
                <div class="input-group input-group-transparent">
                  <p-calendar
                    [(ngModel)]="data.submittedDate"
                    name="submittedDate"
                    id="submittedDate"
                    showIcon="true"
                  >
                  </p-calendar>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
            </tr>
            <tr>
              <td colspan="3" class="text-center">
                <h2>Quotation</h2>
              </td>
            </tr>
            <tr>
              <td colspan="3"></td>
            </tr>
          </tbody>
        </table>

        <table class="table quote-header" width="100%">
          <tbody>
            <tr>
                <th class="text-right">Customer:</th>
                <td>
                  <select
                    id="customerId"
                    class="form-control input-transparent"
                    name="customerId"
                    [(ngModel)]="data.customerId"
                  >
                    <option value="">Select Customer</option>
                    <option value="1566">  [MSR-FSR]APPLIED MATERIALS - [ID:1566]</option>
                    <option value="1574">  [MSR-FSR]ATA - [ID:1574]</option>
                  </select>
                </td>
                <th class="text-right">Contact:</th>
                <td>
                  <input type="text" id="contact" class="form-control input-transparent" name="contact" [(ngModel)]="data.contact">
                </td>
                <th class="text-right">Delivery</th>
                <td>
                  <input type="text" id="delivery" class="form-control input-transparent" name="delivery" [(ngModel)]="data.delivery">
                </td>
              </tr>
              <tr>
                <th class="text-right"></th>
                <td></td>
                <th class="text-right">Title:</th>
                <td>
                  <input type="text" id="title" class="form-control input-transparent" name="title" [(ngModel)]="data.title">
                </td>
                <th class="text-right"></th>
                <td></td>
              </tr>
              <tr>
                <th class="text-right"></th>
                <td></td>
                <th class="text-right">Phone:</th>
                <td>
                  <input type="text" id="phone" class="form-control input-transparent" name="phone" [(ngModel)]="data.phone">
                </td>
                <th class="text-right"></th>
                <td></td>
              </tr>
              <tr>
                <td colspan="6"></td>
              </tr>
          </tbody>
        </table>
        <table class="table table-bordered table-striped items-table mb-0" width="100%">
          <thead>
            <tr>
              <th width="10%">Item No.</th>
              <th width="10%">Quantity</th>
              <th width="30%" style="text-align: left !important">Description</th>
              <th>Lead Time</th>
              <th>Customer Part No.</th>
              <th>Price</th>
              <th>Extension</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let quoteItem of data.quoteItems; index as i;">
              <td>{{i+1}}</td>
              <td>
                <input class="form-control input-transparent" name="quoteItem{{i}}_quantity" [(ngModel)]="data.quoteItems[i].quantity">
              </td>
              <td>
                <input class="form-control input-transparent" name="quoteItem{{i}}_description" [(ngModel)]="data.quoteItems[i].description">
              </td>
              <td>
                <input class="form-control input-transparent" name="quoteItem{{i}}_leadTime" [(ngModel)]="data.quoteItems[i].leadTime">
              </td>
              <td>
                <input class="form-control input-transparent" name="quoteItem{{i}}_customerPartNo" [(ngModel)]="data.quoteItems[i].customerPartNo">
              </td>
              <td>
                <input class="form-control input-transparent" name="quoteItem{{i}}_price" [(ngModel)]="data.quoteItems[i].price">
              </td>
              <td>
                <input class="form-control input-transparent" name="quoteItem{{i}}_extension" [(ngModel)]="data.quoteItems[i].extension">
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="7">
                <a id="add_row" class="btn btn-primary pull-left" tooltip="Add an Item to the Quote" (click)="addQuoteItem()"><i class="fa fa-plus-circle"></i> Add Item</a>
                <a id="delete_row" class="pull-left btn btn-warning" style="margin-left: 10px;" tooltip="Removes Last Item from the Quote" (click)="removeQuoteItem()"><i class="fa fa-minus-circle"></i> Remove Item</a>
              </td>
            </tr>
          </tfoot>
        </table>

        <table class="table table-bordered table-striped items-table" width="100%">
          <thead>
            <tr>
              <th width="20%">Existing Process Spec. # or New</th>
              <th width="80%">Process Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <textarea class="form-control input-transparent" cols="20" rows="3" style="width:100" name="existingProcess" [(ngModel)]="data.existingProcess"></textarea>
              </td>
              <td>
                <textarea class="form-control input-transparent" cols="20" rows="3" style="width:100" name="processDescription" [(ngModel)]="data.processDescription"></textarea>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="table" width="100%">
          <tbody>
            <tr>
              <td width="100%">
                <small>
                  This quotation is subject to the following terms and conditions, and is good only for 30 Days from date of quotation.<br>
                  <ol>
                    <li>
                      All orders tendered to MSR-FSR are subject to credit approval and final acceptance by MSR-FSR<br>
                      MSR-FSR reserves the right to refuse any order tendered pursuant to this quotation without incurring any liability because of such refusal.
                    </li>
                    <li>
                      MSR-FSR guarantees to the purchaser that all goods sold pursuant to an accepted purchase order(s) shall conform to MSR-FSR process specifications and shall be free from defects in materials and workmanship. MSR-FSR expressly disclaims all other warranties, whether express, implied or statutory, including the warranty of merchantability and fitness for use.<br>
                      In no event will MSR-FSR be liable for consequential damages arising out of the use of the products described herein.
                    </li>
                    <li>MSR-FSR will use its reasonably best efforts to expedite the delivery of any goods sold: however, MSR-FSR does not guarantee any specific delivery date nor assume any responsibility for delays due to any cause beyond the control of MSR-FSR.</li>
                    <li>Prices indicated are good for thirty (30) days from date of this quotation and based on quantities specificed unless otherwise noted.</li>
                    <li>Prices are in USD unless specified otherwise. If services are provided outside of the US and in USD, pricing may be adjusted based on foreign currency effects.</li>
                    <li>This quote is based on a projected process flow derived from best known methods, and may require re-negotiation and change based on subsequent validation results or process changes. </li>
                  </ol>
                </small>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="table  no-border quote-footer" width="100%">
          <tbody>
            <tr>
              <td colspan="5" width="60%"></td>
              <td colspan="2">Respectfully submitted,</td>
            </tr>
            <tr>
              <td colspan="5" width="60%"></td>
              <td width="20%" style="border-bottom: 1px solid #000 !important;">
                <input class="form-control input-transparent single-line" name="createdByName" [(ngModel)]="data.createdByName">
              </td>
              <td width="30%" style="border-bottom: 1px solid #000 !important;">
                <input class="form-control input-transparent single-line" name="titleSubmit" [(ngModel)]="data.titleSubmit">
              </td>
            </tr>
            <tr>
              <td colspan="5" width="60%"></td>
              <td width="20%" class="line-caption">Created By</td>
              <td width="30%" class="line-caption">Title</td>
            </tr>
            <tr>
              <td colspan="5" width="60%"></td>
              <td colspan="2" width="40%" style="border-bottom: 1px solid #000 !important;">
                <input class="form-control input-transparent single-line" name="address" [(ngModel)]="data.address">
              </td>
            </tr>
            <tr>
              <td colspan="5" width="60%"></td>
              <td colspan="2" width="40%" class="line-caption">Address</td>
            </tr>
            <tr>
              <td colspan="5" width="60%"></td>
              <td colspan="2" width="40%">MSR-FSR LLC</td>
            </tr>
          </tbody>
        </table>

        <a class="pull-right btn btn-danger fa" style="margin-left: 10px;" [routerLink]="['../products']">Cancel</a>

        <input type="submit" id="submit" class="pull-right btn btn-success fa fa-send" style="margin-left: 10px;" tooltip="Save and Send Quote to Client" value="Save & Submit" (click)="submit()">

      </div>
    </form>
  </widget>
</div>
