<form data-parsley-validate class="form-horizontal form-label-left parsleyjs" data-parsley-priority-enabled="false"
  novalidate="novalidate">
  <div class="d-flex flex-wrap row no-gutters">
    <div *ngIf="showNCParts" class="col-2"><div class="card my-2 ncr-parts">
      <div class="card-header p-1 part-select-header"><p class="m-2">Select NC Part&nbsp;</p></div>
      <div class="card-body part-selector pt-1">
        <ng-container *ngFor="let workOrderPart of ncrParts let index=index">
          <input
            type="checkbox"
            class="part-radio"
            name="ncrParts"
            id="wo-part-id-{{workOrderPart.id}}"
            [value]="workOrderPart.id"
            [checked]="workOrderPart.selected"
            (change)="toggleSelectNCRParts($event, index)"
          >
          <label for="wo-part-id-{{workOrderPart.id}}" class="box my-2 my-2 mx-1 p-2">
            <div class="selector"> <span class="circle"></span> <span class="subject text-left ml-2"> Part #: {{workOrderPart.id}} <br/> S/N: {{workOrderPart.serialNumber}}</span> </div>
          </label>
        </ng-container>
      </div>
    </div></div>
    <div class="col-3 ml-2" *ngFor="let workOrderTaskMonitor of  workOrderMonitorsToView; let i = index">
      <div class="card my-2">
        <div class="card-header" [innerHTML]="workOrderTaskMonitor.procedureStepMonitor?.description | workOrderTaskAndMonitor: workOrderTaskMonitor.procedureMonitorId : workOrderTaskMonitor.description"
         tooltip="{{workOrderTaskMonitor.procedureStepMonitor?.description | workOrderTaskAndMonitor: workOrderTaskMonitor.procedureMonitorId : workOrderTaskMonitor.description}}"
        >
        </div>
        <div class="card-body">
          <div class="form-group row d-flex flex-row">
            <label for="monitorNumber" class="col-form-label text-right col-4">
              Monitor #:
            </label>
            <div class="col-8 px-0 col-form-label font-weight-bold">
              {{ i + 1 }}
            </div>
          </div>
          <div class="form-group row d-flex flex-row mb-1">
            <label for="monitorType" class="col-form-label text-right col-4">
              Monitor Type:
            </label>
            <div class="col-8 px-0 col-form-label font-weight-bold">
              {{workOrderTaskMonitor.procedureStepMonitor?.monitorTypeId | workOrderTaskAndMonitor: workOrderTaskMonitor.procedureMonitorId : workOrderTaskMonitor.monitorTypeId : false : false : true}}
            </div>
          </div>
          <div
            class="form-group row d-flex flex-row"
            *ngIf="(workOrderTaskMonitor.procedureStepMonitor?.shouldBe === monitorShouldBe.EQUAL
              && workOrderTaskMonitor.procedureStepMonitor?.monitorTypeId === monitorTypes.Number)
              || (workOrderTaskMonitor.shouldBe === monitorShouldBe.EQUAL
              && workOrderTaskMonitor.monitorTypeId === monitorTypes.Number)"
            >
            <label for="equal" class="col-form-label text-right col-4">
              Equal To:
            </label>
            <div class="col-8 px-0 col-form-label font-weight-bold">
              {{workOrderTaskMonitor.procedureStepMonitor?.target | workOrderTaskAndMonitor: workOrderTaskMonitor.procedureMonitorId : workOrderTaskMonitor.target}}
            </div>
          </div>
          <div
            class="form-group row d-flex flex-row mb-1"
            *ngIf="(workOrderTaskMonitor.procedureStepMonitor?.shouldBe === monitorShouldBe.ABOVE
              && workOrderTaskMonitor.procedureStepMonitor?.monitorTypeId === monitorTypes.Number)
              || (workOrderTaskMonitor.shouldBe === monitorShouldBe.ABOVE
              && workOrderTaskMonitor.monitorTypeId === monitorTypes.Number)"
            >
            <label for="equal" class="col-form-label text-right col-4">
              Above:
            </label>
            <div class="col-8 px-0 col-form-label font-weight-bold">
              {{workOrderTaskMonitor.procedureStepMonitor?.target| workOrderTaskAndMonitor: workOrderTaskMonitor.procedureMonitorId : workOrderTaskMonitor.target}}
            </div>
          </div>
          <div
            class="form-group row d-flex flex-row mb-1"
            *ngIf="(workOrderTaskMonitor.procedureStepMonitor?.shouldBe === monitorShouldBe.BELOW
              && workOrderTaskMonitor.procedureStepMonitor?.monitorTypeId === monitorTypes.Number)
              || (workOrderTaskMonitor.shouldBe === monitorShouldBe.BELOW
              && workOrderTaskMonitor.monitorTypeId === monitorTypes.Number)"
            >
            <label for="equal" class="col-form-label text-right col-4">
              Below:
            </label>
            <div class="col-8 px-0 col-form-label font-weight-bold">
              {{workOrderTaskMonitor.procedureStepMonitor?.target| workOrderTaskAndMonitor: workOrderTaskMonitor.procedureMonitorId : workOrderTaskMonitor.target}}
            </div>
          </div>
          <div
            class="form-group row d-flex flex-row mb-1"
            *ngIf="(workOrderTaskMonitor.procedureStepMonitor?.shouldBe === monitorShouldBe.BETWEEN
              && workOrderTaskMonitor.procedureStepMonitor?.monitorTypeId === monitorTypes.Number)
              || (workOrderTaskMonitor.shouldBe === monitorShouldBe.BETWEEN
              && workOrderTaskMonitor.monitorTypeId === monitorTypes.Number)"
            >
            <label for="equal" class="col-form-label text-right col-4">
              Between:
            </label>
            <div class="col-8 px-0 col-form-label font-weight-bold">
              {{workOrderTaskMonitor.procedureStepMonitor?.lowTarget | workOrderTaskAndMonitor: workOrderTaskMonitor.procedureMonitorId : workOrderTaskMonitor.lowTarget}} and
              {{workOrderTaskMonitor.procedureStepMonitor?.highTarget | workOrderTaskAndMonitor: workOrderTaskMonitor.procedureMonitorId : workOrderTaskMonitor.lowTarget}}
            </div>
          </div>
          <div
            class="form-group row d-flex flex-row mb-1"
            *ngIf="(workOrderTaskMonitor.procedureStepMonitor?.monitorTypeId === monitorTypes.Number
              && workOrderTaskMonitor.procedureStepMonitor?.inputType === 'Sensor')
              || (workOrderTaskMonitor.monitorTypeId === monitorTypes.Number
              && workOrderTaskMonitor.inputType === 'Sensor')"
            >
            <label for="equipmentsensorresult" class="col-form-label text-right col-4">
              Sensor:
            </label>
            <div class="col-8 px-0">
              {{workOrderTaskMonitor.procedureStepMonitor?.sensorName | workOrderTaskAndMonitor: workOrderTaskMonitor.procedureMonitorId : workOrderTaskMonitor.sensorName}}
            </div>
          </div>
          <div class="form-group row d-flex flex-row mb-1"
            *ngIf="(workOrderTaskMonitor.procedureStepMonitor?.monitorTypeId === monitorTypes.YesOrNo) || (workOrderTaskMonitor.monitorTypeId === monitorTypes.YesOrNo)">
            <label class="col-form-label text-right col-4">
              Correct Answer:
            </label>
            <div class="col-8 px-0 font-weight-bold">
              {{workOrderTaskMonitor.procedureStepMonitor?.target | workOrderTaskAndMonitor: workOrderTaskMonitor.procedureMonitorId : workOrderTaskMonitor.target : false : true }}
            </div>
          </div>
          <div
            class="form-group row d-flex flex-row mb-1"
            *ngIf="(workOrderTaskMonitor.procedureStepMonitor?.monitorTypeId === monitorTypes.PassOrFail)
              || (workOrderTaskMonitor.monitorTypeId === monitorTypes.PassOrFail)"
            >
            <label class="col-form-label text-right col-4">
              Correct Answer:
            </label>
            <div class="col-8 px-0 font-weight-bold">
              {{workOrderTaskMonitor.procedureStepMonitor?.target | workOrderTaskAndMonitor: workOrderTaskMonitor.procedureMonitorId : workOrderTaskMonitor.target : true : false }}
            </div>
          </div>
          <div class="form-group row d-flex flex-row mb-1"
            *ngIf="((workOrderTaskMonitor.procedureStepMonitor?.monitorTypeId === monitorTypes.Equipment
              && workOrderTaskMonitor.procedureStepMonitor?.inputTypeId === monitorInputTypes.SensorManual)
              || workOrderTaskMonitor.procedureStepMonitor?.monitorTypeId === monitorTypes.Text)
              || ((workOrderTaskMonitor.monitorTypeId === monitorTypes.Equipment
              && workOrderTaskMonitor.inputTypeId === monitorInputTypes.SensorManual)
              || workOrderTaskMonitor.monitorTypeId === monitorTypes.Text)"
            >
            <label for="result" class="col-form-label text-right col-4">
              Result:
            </label>
            <div class="col-8 pl-0 pr-3">
              <input
                type="text"
                name="textresult{{i}}"
                [attr.data-parsley-required]="true"
                data-parsley-trigger="change"
                data-parsley-error-message="This monitor requires feedback"
                [(ngModel)]="workOrderTaskMonitor.textVal"
                class="form-control input-transparent"
                tooltip="Result"
              >
            </div>
          </div>
          <div
            class="form-group row d-flex flex-row mb-1"
            *ngIf="(workOrderTaskMonitor.procedureStepMonitor?.monitorTypeId === monitorTypes.Number
              && workOrderTaskMonitor.procedureStepMonitor?.inputTypeId === monitorInputTypes.Sensor)
              || (workOrderTaskMonitor.monitorTypeId === monitorTypes.Number
              && workOrderTaskMonitor.inputTypeId === monitorInputTypes.Sensor)"
            >
            <label for="equipmentsensorresult" class="col-form-label text-right col-4">
              Result:
            </label>
            <div class="col-8 pl-0 pr-3">
              <input
                type="text"
                id="equipmentsensorresult{{i}}"
                name="equipmentsensorresult{{i}}"
                [(ngModel)]="workOrderTaskMonitor.textVal"
                class="form-control input-transparent"
                tooltip="Result"
              >
              <ul
                class="parsley-errors-list filled"
                *ngIf="wasValidationCalled
                  && (workOrderTaskMonitor.textVal === null
                  || workOrderTaskMonitor.textVal === '')"
                >
                <li class="parsley-custom-error-message">You must retrieve the value for the sensor</li>
              </ul>
              <button type="button" class="btn btn-primary m-2" [disabled]="!doNotAllowEditing"
                (click)="getSensorValue(i, workOrderTaskMonitor.procedureStepMonitor?.sensorName)">Get
                Value</button>
            </div>
          </div>
          <div
            class="form-group row d-flex flex-row mb-1"
            *ngIf="(workOrderTaskMonitor.procedureStepMonitor?.monitorTypeId === monitorTypes.Number
              && workOrderTaskMonitor.procedureStepMonitor?.inputTypeId !== monitorInputTypes.Sensor)
              || (workOrderTaskMonitor.monitorTypeId === monitorTypes.Number
              && workOrderTaskMonitor.inputTypeId !== monitorInputTypes.Sensor)"
            >
            <label for="result" class="col-form-label text-right col-4">
              Result:
            </label>
            <div
              class="col-8 pl-0 pr-3"
              *ngIf="workOrderTaskMonitor.procedureMonitorId !== null
                && workOrderTaskMonitor.procedureStepMonitor?.failAction === failActions.StopUntilFaultCleared"
            >
              <input
                name="numberresult{{i}}"
                [(ngModel)]="workOrderTaskMonitor.numVal"
                class="form-control input-transparent"
                *ngIf="workOrderTaskMonitor.procedureStepMonitor?.shouldBe === monitorShouldBe.EQUAL"
                data-validate="parsley"
                data-parsley-trigger="change"
                data-parsley-type="number"
                data-parsley-required="true"
                [attr.data-parsley-equaltotarget]="workOrderTaskMonitor.procedureStepMonitor?.target"
                data-parsley-error-message="Value must be equal to Target"
              >
              <input
                name="numberresult{{i}}"
                [(ngModel)]="workOrderTaskMonitor.numVal"
                class="form-control input-transparent"
                *ngIf="workOrderTaskMonitor.procedureStepMonitor?.shouldBe === monitorShouldBe.ABOVE"
                data-validate="parsley"
                data-parsley-trigger="change"
                data-parsley-type="number"
                data-parsley-required="true"
                [attr.data-parsley-above]="workOrderTaskMonitor.procedureStepMonitor?.target"
                data-parsley-error-message="Value is not above or equal to target value"
              >
              <input
                name="numberresult{{i}}"
                [(ngModel)]="workOrderTaskMonitor.numVal"
                class="form-control input-transparent"
                *ngIf="workOrderTaskMonitor.procedureStepMonitor?.shouldBe === monitorShouldBe.BELOW"
                data-validate="parsley"
                data-parsley-trigger="change"
                data-parsley-type="number"
                data-parsley-required="true"
                [attr.data-parsley-below]="workOrderTaskMonitor.procedureStepMonitor?.target"
                data-parsley-error-message="Value is not below or equal to target value"
              >
              <input
                name="numberresult{{i}}"
                [(ngModel)]="workOrderTaskMonitor.numVal"
                class="form-control input-transparent"
                *ngIf="workOrderTaskMonitor.procedureStepMonitor?.shouldBe === monitorShouldBe.BETWEEN"
                data-validate="parsley"
                data-parsley-trigger="change"
                data-parsley-type="number"
                data-parsley-required="true"
                [attr.data-parsley-between]="'[' + workOrderTaskMonitor.procedureStepMonitor?.lowTarget + ',' + workOrderTaskMonitor.procedureStepMonitor?.highTarget + ']'"
                data-parsley-error-message="Value is not within acceptable range"
              >
            </div>
            <div
              class="col-8 pl-0 pr-3"
              *ngIf="workOrderTaskMonitor.procedureMonitorId === null
                && workOrderTaskMonitor.failAction === failActions.StopUntilFaultCleared"
            >
              <input
                name="numberresult{{i}}"
                [(ngModel)]="workOrderTaskMonitor.numVal"
                class="form-control input-transparent"
                *ngIf="workOrderTaskMonitor.shouldBe === monitorShouldBe.EQUAL"
                data-validate="parsley"
                data-parsley-trigger="change"
                data-parsley-type="number"
                data-parsley-required="true"
                [attr.data-parsley-equaltotarget]="workOrderTaskMonitor.target"
                data-parsley-error-message="Value is not equal to the target value"
              >
              <input
                name="numberresult{{i}}"
                [(ngModel)]="workOrderTaskMonitor.numVal"
                class="form-control input-transparent"
                *ngIf="workOrderTaskMonitor.shouldBe === monitorShouldBe.ABOVE"
                data-validate="parsley"
                data-parsley-trigger="change"
                data-parsley-type="number"
                data-parsley-required="true"
                [attr.data-parsley-above]="workOrderTaskMonitor.target"
                data-parsley-error-message="Value is not above or equal to target value"
              >
              <input
                name="numberresult{{i}}"
                [(ngModel)]="workOrderTaskMonitor.numVal"
                class="form-control input-transparent"
                *ngIf="workOrderTaskMonitor.shouldBe === monitorShouldBe.BELOW"
                data-validate="parsley"
                data-parsley-trigger="change"
                data-parsley-type="number"
                data-parsley-required="true"
                [attr.data-parsley-below]="workOrderTaskMonitor.target"
                data-parsley-error-message="Value is not below or equal to target value"
              >
              <input
                *ngIf="workOrderTaskMonitor.shouldBe === monitorShouldBe.BETWEEN"
                name="numberresult{{i}}"
                [(ngModel)]="workOrderTaskMonitor.numVal"
                class="form-control input-transparent"
                data-validate="parsley"
                data-parsley-trigger="change"
                data-parsley-type="number"
                data-parsley-required="true"
                [attr.data-parsley-between]="'[' + workOrderTaskMonitor.lowTarget + ',' + workOrderTaskMonitor.highTarget + ']'"
                data-parsley-error-message="Value is not within acceptable range"
              >
            </div>
            <div
              class="col-8 pl-0 pr-3"
              *ngIf="(workOrderTaskMonitor.procedureStepMonitor?.failAction === failActions.RecordAndContinue) || (workOrderTaskMonitor.failAction === failActions.RecordAndContinue)"
            >
              <input
                name="numberresult{{i}}"
                [(ngModel)]="workOrderTaskMonitor.numVal"
                class="form-control input-transparent"
                data-validate="parsley"
                data-parsley-trigger="change"
                data-parsley-required="true"
                data-parsley-error-message="This monitor requires feedback"
              >
            </div>
          </div>
          <div class="form-group row d-flex flex-row mb-0"
            *ngIf="(workOrderTaskMonitor.procedureStepMonitor?.monitorTypeId === monitorTypes.PassOrFail) || (workOrderTaskMonitor.monitorTypeId === monitorTypes.PassOrFail)">
            <label for="result" class="col-form-label text-right col-4">
              Result:
            </label>
            <div class="col-8 pl-0 pr-3">
              <p-dropdown name="passorfailresult{{i}}" [options]="workOrderMonitorPassOrFailOptions"
                [disabled]="!doNotAllowEditing" placeholder="Select a Response" [showClear]="true"
                [(ngModel)]="workOrderTaskMonitor.numVal">
              </p-dropdown>
              <ul class="parsley-errors-list filled" *ngIf="wasValidationCalled">
                <li
                  class="parsley-custom-error-message"
                  *ngIf="(workOrderTaskMonitor.procedureStepMonitor?.failAction === failActions.StopUntilFaultCleared &&
                  (workOrderTaskMonitor.numVal === null ||
                  workOrderTaskMonitor.numVal.toString() !== workOrderTaskMonitor.procedureStepMonitor?.target.toString())) || (workOrderTaskMonitor.failAction === failActions.StopUntilFaultCleared &&
                  (workOrderTaskMonitor.numVal === null ||
                  workOrderTaskMonitor.numVal.toString() !== workOrderTaskMonitor.target.toString()))"
                >
                  Value should be equal to
                  {{workOrderTaskMonitor.procedureStepMonitor?.target | workOrderTaskAndMonitor: workOrderTaskMonitor.procedureMonitorId : workOrderTaskMonitor.target : true : false}}
                </li>
                <li
                  class="parsley-custom-error-message"
                  *ngIf="(workOrderTaskMonitor.procedureStepMonitor?.failAction === failActions.RecordAndContinue
                    && (workOrderTaskMonitor.numVal === undefined || workOrderTaskMonitor.numVal === null)) || (workOrderTaskMonitor.failAction === failActions.RecordAndContinue
                    && (workOrderTaskMonitor.numVal === undefined || workOrderTaskMonitor.numVal === null))"
                  >
                  This monitor requires feedback
                </li>
              </ul>
            </div>
          </div>
          <div class="form-group row d-flex flex-row mb-1"
            *ngIf="(workOrderTaskMonitor.procedureStepMonitor?.monitorTypeId === monitorTypes.YesOrNo) || (workOrderTaskMonitor.monitorTypeId === monitorTypes.YesOrNo)">
            <label for="yourAnswer" class="col-form-label text-left col-4">
              Your Answer:
            </label>
            <div class="col-8 pl-0 pr-3">
              <p-dropdown name="yourAnswer{{i}}" [options]="workOrderMonitorYesOrNoOptions"
                [disabled]="!doNotAllowEditing" placeholder="Select a Response" [showClear]="true"
                [(ngModel)]="workOrderTaskMonitor.numVal">
              </p-dropdown>
              <ul class="parsley-errors-list filled" *ngIf="wasValidationCalled">
                <li class="parsley-custom-error-message" *ngIf="(workOrderTaskMonitor.procedureStepMonitor?.failAction === failActions.StopUntilFaultCleared &&
                  (workOrderTaskMonitor.numVal === null ||
                  workOrderTaskMonitor.numVal.toString() !== workOrderTaskMonitor.procedureStepMonitor?.target.toString())) || (workOrderTaskMonitor.failAction === failActions.StopUntilFaultCleared &&
                  (workOrderTaskMonitor.numVal === null ||
                  workOrderTaskMonitor.numVal.toString() !== workOrderTaskMonitor.target.toString()))">
                  Value should be equal to
                  {{workOrderTaskMonitor.procedureStepMonitor?.target | workOrderTaskAndMonitor: workOrderTaskMonitor.procedureMonitorId : workOrderTaskMonitor.target : false : true}}
                </li>
                <li class="parsley-custom-error-message" *ngIf="(workOrderTaskMonitor.procedureStepMonitor?.failAction === failActions.RecordAndContinue
                && (workOrderTaskMonitor.numVal === undefined || workOrderTaskMonitor.numVal === null)) || (workOrderTaskMonitor.failAction === failActions.RecordAndContinue
                && (workOrderTaskMonitor.numVal === undefined || workOrderTaskMonitor.numVal === null))">
                  This monitor requires feedback
                </li>
              </ul>
            </div>
          </div>
          <div class="form-group row d-flex flex-row mb-1"
            *ngIf="(workOrderTaskMonitor.procedureStepMonitor?.monitorTypeId === monitorTypes.Select) || (workOrderTaskMonitor.monitorTypeId === monitorTypes.Select)">
            <label for="selectresult" class="col-form-label text-right col-4">
              Result:
            </label>
            <div class="col-8 pl-0 pr-3">
              <p-dropdown name="selectresult{{i}}" [options]="monitorListItemOptions" placeholder="Select a Response"
                [disabled]="!doNotAllowEditing" [showClear]="true" [(ngModel)]="workOrderTaskMonitor.multiVal">
              </p-dropdown>
              <ul class="parsley-errors-list filled" *ngIf="wasValidationCalled">
                <li class="parsley-custom-error-message"
                  *ngIf="workOrderTaskMonitor.multiVal === undefined || workOrderTaskMonitor.multiVal === null">
                  This monitor requires feedback
                </li>
              </ul>
            </div>
          </div>
          <div class="form-group row d-flex flex-row mb-1">
            <label for="monitorType" class="col-form-label text-right col-4">
              If Fails:
            </label>
            <div class="col-8 col-form-label font-weight-bold pl-0 pr-3">
              <span *ngIf="(workOrderTaskMonitor?.procedureStepMonitor?.failAction === failActions.RecordAndContinue) || (workOrderTaskMonitor?.failAction === failActions.RecordAndContinue)">
                Continue to next step</span>
              <span
                *ngIf="(workOrderTaskMonitor?.procedureStepMonitor?.failAction === failActions.StopUntilFaultCleared) || (workOrderTaskMonitor?.failAction === failActions.StopUntilFaultCleared)">
                Stay at this step until passing result is entered</span>
            </div>
          </div>
          <div class="form-group row d-flex flex-row mb-1">
            <label for="monitorType" class="col-form-label text-right col-4">
              Comments:
            </label>
            <div class="col-8 pl-0 pr-3">
              <textarea type="text" name="comment{{i}}" [(ngModel)]="workOrderTaskMonitor.comment"
                class="form-control input-transparent" tooltip="Comments">
              </textarea>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div *ngIf="workOrderMonitorsToView !== undefined && workOrderMonitorsToView.length > 0">
    <button type="button" class="btn btn-primary m-2" (click)="saveMonitors()"
      [disabled]="!doNotAllowEditing || WorkOrderIsComplete">Save</button>
  </div>
</form>
<div class="nomonitors-message d-flex"
  *ngIf="workOrderMonitorsToView === undefined || workOrderMonitorsToView.length === 0">
  <div class="m-auto">
    <h3>No Monitors to Display</h3>
  </div>
</div>

<p-dialog header="NCR Email Notification" [(visible)]="showNcrEmailNotificationDialog" appendTo="body"
  [baseZIndex]="100001" [modal]='true' data-cy="user-header">

  <form data-parsley-validate class="form-horizontal form-label-left ncremail-form">
    The Customer <span class="font-weight-bold">{{workOrderModel.purchase?.purchaseOrder?.customer?.name}}</span> does
    not have a <span class="text-danger font-weight-bold">primary contact</span> defined.<br><br>
    Please enter an email address below and click <span class="font-weight-bold">send</span> if you would like to send
    an NCR Email Notification or click <span class="font-weight-bold">cancel</span> to not send one.<br><br>
    <div class="form-group">
      <input type="email" id="ncremaildestination" name="ncremaildestination" class="w-100" [(ngModel)]="ncrEmailDestination"
        data-validate="parsley" data-parsley-trigger="change" data-parsley-required="true"
        placeholder="Enter Email Address">
    </div>
  </form>

  <p-footer>
    <div class="pull-right">
      <button type="submit" (click)="validateSendNcrEmail()" class="btn btn-outline-inverse width-100 mb-xs"
        role="button">
        Send
      </button>
      <button type="button" (click)="showNcrEmailNotificationDialog = false"
        class="btn btn-outline-inverse width-100 mb-xs" role="button">
        Cancel
      </button>
    </div>
  </p-footer>
</p-dialog>
