.file-desc {
  width: 100%;
  text-align: center;
  word-break: break-word;
}
.pagebreak {
  page-break-before:always; 
}
@page {
  margin: 0;
  display: none;
}
.pagebreak:first-child {
  page-break-after: avoid;
}
.pagebreak:last-child { 
  page-break-after: avoid;
}
.pagebreak{
  page-break-after: auto;
}
.body{
  -webkit-print-color-adjust:exact !important;
  print-color-adjust:exact !important;  
 
}