.file-desc {
  width: 100%;
  text-align: center;
  word-break: break-word;
}
@media print {
    .pagebreak {
        clear: both;
        page-break-after: always;
    }
    @page {
      margin: 20px;
      display: none;
    }
    .body{
      -webkit-print-color-adjust:exact !important;
      print-color-adjust:exact !important;   
    }
}

