<div class="container">
  <div class="row">
    <div class="d-flex mr-2 my-2 text-center" style="height: 60px; width:240px;background-color: black;">
      <div class="m-auto">
        <h2>{{ stepHours }} : {{ stepMinutes - (60*stepHours)  }} : {{ stepSeconds - (60*stepMinutes) }}</h2>
      </div>
    </div>
    <button class="timer-btn btn btn-primary btn-lg print-btn pull-left start-timer-btn start-step hidden m-2"
      *ngIf="workOrderTaskInProgress.taskIsRunning === false && stepSeconds === 0" (click)="startTask()">
      <i class="glyphicon glyphicon-step-forward"></i> Start</button>
    <button class="timer-btn btn btn-warning btn-lg print-btn pull-left hidden m-2"
      *ngIf="workOrderTaskInProgress.taskIsRunning === false && stepSeconds !== 0" (click)="resumeTask()">
      <i class="glyphicon glyphicon-step-forward"></i> Resume</button>
    <button class="timer-btn btn btn-warning btn-lg print-btn pull-left m-2"
      *ngIf="workOrderTaskInProgress.taskIsRunning === true" (click)="pauseTask()">
      <i class="glyphicon glyphicon-pause"></i> Pause</button>
    <button class="timer-btn btn btn-primary btn-lg print-btn pull-left m-2" *ngIf="stepSeconds !== 0"
      (click)="completeTask()">
      <i class="glyphicon glyphicon-stop"></i> Done
    </button>
  </div>
</div>