.write-line{
  border-bottom: 2px solid #ccc;
}
.header,
.parts-list {
  font-size: smaller;
}

@media print {
  * {
    -webkit-transition: none !important;
    transition: none !important;
  }
  @page {
    size: 8.5in 11in;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  :host {
    display: block;
    float: none !important;
    position: relative;
  }
  .page {
    display: block;
    break-after: always;
    page-break-after: always;
    break-inside: avoid;
    page-break-inside: avoid;
    break-before: always;
    page-break-before: always;
    height: 100%;
  }
}
