.progress {
    margin-bottom: 0px;
    position: relative;
    top: 0px;
}

.percentage {
    position: relative;
    top: -1.35em;
    text-align: center;
}

.progressbar-container {
    max-height: 1.75em;
}

.activetask-container {
    text-align: center;
}

alert {
    cursor: pointer;
}
.innerGrid .ui-table-customers {
    background: #394554;
    padding: 0 10px;
}

.badge-info{
    color: #FFFF;
}
