<div class="container">
    <widget [title]="'<h3 class=mt-0><img src=../../../assets/head/android-chrome-72x72.png> Reset Password</h3>'" [customHeader]="true" class="widget-auth mx-auto">
        <form>
            <alert *ngIf="resetPasswordService.errorMessage"
                type="danger alert-sm widget-middle-overflow rounded-0 text-center">
                {{resetPasswordService.errorMessage}}
            </alert>
            <div class="form-group mt">
                <label for="email">New Password</label>
                <div class="input-group input-group-transparent">
                    <div class="input-group-addon">
                        <i class="la la-user text-white"></i>
                    </div>
                    <input id="password" class="form-control input-transparent pl-3" [(ngModel)]="password"
                        type="password" required name="password" placeholder="Password" />
                </div>
            </div>
            <div class="form-group">
                <label for="”confirmPassword">Confirm Password</label>
                <div class="input-group input-group-transparent">
                    <div class="input-group-addon">
                        <i class="la la-lock text-white"></i>
                    </div>
                    <input id="confirmPassword" class="form-control input-transparent pl-3"
                        [(ngModel)]="confirmPassword" type="password" required validateEqual="password"
                        name="confirmPassword" placeholder="Confirm Password" />
                </div>
                <small class="text-danger" [hidden]="confirmPassword === password">
                    Password mismatch
                </small>
            </div>
            <div class="bg-widget auth-widget-footer">
                <button (click)="updatePassword()" type="submit" class="btn btn-sm btn-danger auth-btn">
                    <span class="auth-btn-circle">
                        <i class="la la-caret-right"></i>
                    </span>
                    {{resetPasswordService.isFetching ? 'Loading...' : 'Save changes'}}
                </button>
                <div class="d-block text-center sm-mg">
                    <a (click)="login()" class="text-center mb-4">Login</a>
                </div>
            </div>
        </form>
    </widget>
</div>
<footer class="auth-footer">
    2020 &copy; Sing App - React Admin Dashboard Template.
</footer>