/**
 * override custom libs styles. This files is not required for core sing functionality and may be removed
 */

/***********************/
/*         NvD3        */
/***********************/


.nvd3-svg svg text,
.nvd3-svg .nvd3 text{
  font: $font-weight-base $font-size-sm $font-family-base;
  fill: $text-color;

  .widget &{
    fill: $widget-color;
  }
}

.nvd3-svg svg .title {
  font: $font-weight-bold $font-size-base $font-family-base;
}

.nvd3-svg  .nvd3.nv-noData {
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
}

.nvd3-svg .nvd3 .nv-axis path.domain {
  stroke-opacity: 0;
}

.nvd3-svg .nv-controlsWrap{
  .nv-legend-symbol{
    fill: $white !important;
    stroke: $white !important;
  }
}

.nvd3-svg .nvd3 .nv-axis .zero line {
  stroke-opacity: 0.1;
}

.nvd3-svg .nvd3 .nv-legend .disabled circle {
  fill-opacity: 0;
}

.nvd3-svg .nvd3 .nv-axis line{
  stroke: #000;
  stroke-opacity: .1;
}

.nvtooltip.xy-tooltip h3{
  background-color: transparent;
  border: none;
  color: inherit;
}

.stat-widget header .nvd3.nv-multibar .nv-group{
  fill-opacity: 1 !important;
}

.nvd3-svg .nvd3.nv-stackedarea path.nv-area {
  fill-opacity: .8;
}

.nvd3-svg .nvd3.nv-stackedarea path.nv-area.hover {
  fill-opacity: .95;
}

.nvd3-svg .nvd3 .nv-axis path.domain{
  display: none;
}


.nvtooltip.xy-tooltip {
  padding: 5px;
  position: absolute;
  background-color: rgba($widget-bg-color, .6);
  color: $widget-color;
  border: none;
  z-index: 10000;

  font-family: inherit;

  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;

  -moz-border-radius: 0;
  border-radius: 0;

  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
}

.nvtooltip.xy-tooltip {
    font-size: $font-size-base;
    text-align: center;
}

.nvd3-svg .nvd3 .nv-axis line.zero{
  display: none;
}

/*!
 * Bootstrap-select
 */
.bootstrap-select .btn:focus, .bootstrap-select > .btn.dropdown-toggle:focus{
  outline: none !important;
}

.selectpicker.form-control {
  height: auto;
}

.bootstrap-select {
  width: auto !important;
    z-index: 1;

  &.show .dropdown-menu.inner {
    display: block;
  }

  &.show {
    z-index: 3;
    display: inline-block !important;
  }
}

body .bootstrap-select > select {
  width: 0 !important;
  height: 0 !important;
}

/***********************/
/*     Select 2        */
/***********************/

.select2-container .select2-choice abbr {
  background: url('../../assets/select2/select2.png') right top no-repeat;
}

.select2-container .select2-choice .select2-arrow b {
  background: url('../../assets/select2/select2.png') no-repeat 0 1px;
}

.select2-search input {
  display: none;
}

html[dir="rtl"] .select2-search input {
  display: none;
}

.select2-search-choice-close {
  background: url('../../assets/select2/select2.png') right top no-repeat;
}

.select2-search input.select2-active {
  background: #fff url('../../assets/select2/select2-spinner.gif') no-repeat 100%;
  background: url('../../assets/select2/select2-spinner.gif') no-repeat 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, #fff), color-stop(0.99, #eee));
  background: url('../../assets/select2/select2-spinner.gif') no-repeat 100%, -webkit-linear-gradient(center bottom, #fff 85%, #eee 99%);
  background: url('../../assets/select2/select2-spinner.gif') no-repeat 100%, -moz-linear-gradient(center bottom, #fff 85%, #eee 99%);
  background: url('../../assets/select2/select2-spinner.gif') no-repeat 100%, linear-gradient(to bottom, #fff 85%, #eee 99%) 0 0;
}

.select2-more-results.select2-active {
  background: #f4f4f4 url('../../assets/select2/select2-spinner.gif') no-repeat 100%;
}

.select2-container-multi .select2-choices .select2-search-field input.select2-active {
  background: #fff url('../../assets/select2/select2-spinner.gif') no-repeat 100% !important;
}

/**
 * Make Simple Select2's selects be the same height with the rest of the inputs
 */

.select2-container .select2-selection.select2-selection--single {
  height: $input-height;
  padding: $padding-base-vertical $padding-base-horizontal;
}

/**
 * Make Multi Select2's choices match Bootstrap 3's default button styles.
 */

.select2-container-multi .select2-choices .select2-search-choice {
  background: $btn-inverse-bg;
}

.widget .actions .bootstrap-select .dropdown-toggle {
  padding: 5px 20px 5px 15px;
}

/**
 * Switchery
 */

.switchery{
  background-color: transparent !important;
}

/**
 * Rickshaw
 */

.rickshaw_graph .detail .x_label {
  color: $gray-300;
}

/***********************************/
/**           Glyphicon           **/
/***********************************/

.glyphicon {
  vertical-align: baseline;
}

.glyphicon-comment:before {
  content:"\E111";
}

/***********************************/
/**        Awesome Checkbox       **/
/***********************************/
.abc-checkbox label, .abc-radio label{
  &::before {
    background: none;
    border-color: #aaa;
    margin-left: 0;
    left: -20px;
  }
}

.abc-checkbox label::after {
  margin-left: 0;
  left: -20px;
  color: $awesome-checkbox-default-color;
}

.table td,
.table th {
  .abc-checkbox label::before,
  .abc-checkbox label::after {
    left: -5px;
    color: $awesome-checkbox-default-color;
  }
}

.abc-radio label::after {
  margin-left: 0;
  left: -17px;
}

.abc-checkbox-dark input[type="checkbox"]:checked + label{
  &::after{
    color: $gray-300;
  }
}

/***********************************/
/**        Select2       **/
/***********************************/
.select2-container--bootstrap .select2-search--dropdown .select2-search__field{
  padding-left: 28px;
}

.select2-container--bootstrap .select2-results .select2-results__option{
  color: $gray-800;
}

/**
* datetime
**/
.input-group.date, .input-group.timepicker {
  width: auto;
  box-sizing: border-box;
  .input-group-addon {
    padding: 0.6rem;
    i {
      height: 13px;
      width: 13px;
    }
  }
}

.datepicker.datepicker-dropdown {
  margin-top: 20px;
  &.datepicker-orient-top {
    margin-top: 14px;
  }
}

/**
 * Bootstrap select
 */

.selectpicker.form-control {
  height: auto;
}

.bootstrap-select, .input-group-btn:not(first-child) .bootstrap-select {
  &.btn-group.open {
    z-index: 5;
  }
  .btn.dropdown-toggle {
    padding-left: 10px;
    box-sizing: border-box;

    &:after {
      margin-right: 0;
      margin-left: 0;
    }
  }

  .dropdown-menu {
    z-index: 3;
  }

  .dropdown-menu > li > a {
    display: block;
    width: 100%; // For `<button>`s
    padding: 3px 20px;
    clear: both;
    font-weight: $font-weight-thin;
    line-height: $line-height-base;
    color: $text-color;
    text-align: inherit; // For `<button>`s
    white-space: nowrap; // prevent links from randomly breaking onto new lines
    background: none; // For `<button>`s
    border: 0; // For `<button>`s

    @include hover-focus {
      color: $dropdown-link-hover-color;
      text-decoration: none;
      background-color: $dropdown-link-hover-bg;
    }

    // Active state
    &.active {
      @include plain-hover-focus {
        color: $dropdown-link-active-color;
        text-decoration: none;
        background-color: $dropdown-link-active-bg;
        outline: 0;
      }
    }

    // Disabled state
    //
    // Gray out text and ensure the hover/focus state remains gray
    &.disabled {
      @include plain-hover-focus {
        color: $dropdown-link-disabled-color;
      }

      // Nuke hover/focus effects
      @include hover-focus {
        text-decoration: none;
        cursor: $cursor-disabled;
        background-color: transparent;
        background-image: none; // Remove CSS gradient
      }
    }
  }
}

/***********************************/
/**       magnific-popup      **/
/***********************************/

.mfp-zoom-out-cur .mfp-image-holder .mfp-content .mfp-figure .mfp-close {
  cursor: pointer;
}

/*         Flot        */

.chart-tooltip {
  position: fixed;
  padding: $spacer/2 $spacer;
  color: $gray-600;
  font-size: $font-size-mini;
  background-color: $white;
}

.legendColorBox div {
  border-radius: 50%;
}

.legendLabel {
  color: $text-color;
}

//  Easy Pie Chart

.easy-pie-chart-md,
.easy-pie-chart-lg {
  position: relative;
  display: inline-block;
  text-align: center;
}

.easy-pie-chart-md canvas,
.easy-pie-chart-lg canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.easy-pie-chart-md {
  line-height: 120px;
  height: 120px;
  width: 120px;
}

.easy-pie-chart-lg {
  line-height: 140px;
  height: 140px;
  width: 140px;
}


////// Wizard //////

.form-wizard .tab-content .tab-pane {
  padding: 0;
}

/////// NGX Datatable ///////

.ngx-datatable {
  width: 100%;

  .datatable-body-cell,
  .datatable-header-cell {
    padding: $table-cell-padding;
  }

  .datatable-header-cell {
    text-transform: uppercase;
    font-weight: $font-weight-semi-bold;
  }

  .datatable-body-cell {
    border-top: 1px solid $table-border-color;
  }

  .datatable-row-center.datatable-row-group .datatable-body-cell {
    overflow-x: visible;
    overflow-y: visible;
  }

  .datatable-row-wrapper {
    &:nth-of-type(odd) {
      background-color: $table-accent-bg;
    }
  }

  .datatable-pager {
    font-size: $font-size-sm;

    .pager > li {
      > a {
        padding: $pagination-padding-y $pagination-padding-x;
        color: $text-color;
        text-decoration: none;
      }

      &.active > a {
        background-color: $pagination-active-bg;
        border-radius: $border-radius;
      }

      &.disabled > a {
        color: $text-muted;
      }
    }

    .datatable-icon-left::before {
      content: "<";
    }

    .datatable-icon-right::before {
      content: ">";
    }
  }
}

/////// NG2 TAG INPUT ///////

.ng2-tag-input {

  &__text-input {
    color: $text-color;
    background-color: transparent;

    @include placeholder($text-color);
  }

  tag:hover {
    box-shadow: none !important;
  }
}
