<form data-parsley-validate class="form-horizontal form-label-left parsleyjs" data-parsley-priority-enabled="false"
  novalidate="novalidate">
  <div class="d-flex flex-wrap">
    <div class="card m-2 border shadow" *ngFor="let workOrderTaskMonitor of  workOrderMonitorsToView; let i = index">
      <div class="card-header">
        {{ workOrderTaskMonitor.procedureStepMonitor.description }}
      </div>
      <div class="card-body">
        <div class="form-group col-12 d-flex flex-row">
          <label for="monitorNumber" class="col-form-label text-left col-3">
            Monitor #:
          </label>
          <div class="col-9 px-0 col-form-label">
            {{ i + 1 }}
          </div>
        </div>
        <div class="form-group col-12 d-flex flex-row">
          <label for="monitorType" class="col-form-label text-left col-3">
            Monitor Type:
          </label>
          <div class="col-9 px-0 col-form-label">
            {{workOrderTaskMonitor.procedureStepMonitor.monitorType}}
          </div>
        </div>
        <div class="form-group col-12 d-flex flex-row"
          *ngIf="workOrderTaskMonitor.procedureStepMonitor.shouldBe === 'EQUAL'">
          <label for="equal" class="col-form-label text-left col-3">
            Equal To:
          </label>
          <div class="col-9 px-0 col-form-label">
            {{workOrderTaskMonitor.procedureStepMonitor.targetValue}}
          </div>
        </div>
        <div class="form-group col-12 d-flex flex-row"
          *ngIf="workOrderTaskMonitor.procedureStepMonitor.shouldBe === 'ABOVE'">
          <label for="equal" class="col-form-label text-left col-3">
            Above:
          </label>
          <div class="col-9 px-0 col-form-label">
            {{workOrderTaskMonitor.procedureStepMonitor.targetValue}}
          </div>
        </div>
        <div class="form-group col-12 d-flex flex-row"
          *ngIf="workOrderTaskMonitor.procedureStepMonitor.shouldBe === 'BELOW'">
          <label for="equal" class="col-form-label text-left col-3">
            Below:
          </label>
          <div class="col-9 px-0 col-form-label">
            {{workOrderTaskMonitor.procedureStepMonitor.targetValue}}
          </div>
        </div>
        <div class="form-group col-12 d-flex flex-row"
          *ngIf="workOrderTaskMonitor.procedureStepMonitor.shouldBe === 'BETWEEN'">
          <label for="equal" class="col-form-label text-left col-3">
            Between:
          </label>
          <div class="col-9 px-0 col-form-label">
            {{workOrderTaskMonitor.procedureStepMonitor.lowTarget}} and
            {{workOrderTaskMonitor.procedureStepMonitor.highTarget}}
          </div>
        </div>
        <div class="form-group col-12 d-flex flex-row"
          *ngIf="(workOrderTaskMonitor.procedureStepMonitor.monitorType === 'Equipment' && workOrderTaskMonitor.procedureStepMonitor.inputType === 'Sensor')">
          <label for="equipmentsensorresult" class="col-form-label text-left col-3">
            Sensor:
          </label>
          <div class="col-9 px-0">
            {{workOrderTaskMonitor.sensorName}}
          </div>
        </div>
        <div class="form-group col-12 d-flex flex-row"
          *ngIf="workOrderTaskMonitor.procedureStepMonitor.monitorType === 'Yes or No'">
          <label class="col-form-label text-left col-3">
            Correct Answer:
          </label>
          <div class="col-9 px-0">
            {{workOrderTaskMonitor.procedureStepMonitor.targetValue === 1 ? 'No' : 'Yes'}}
          </div>
        </div>
        <div class="form-group col-12 d-flex flex-row"
          *ngIf="(workOrderTaskMonitor.procedureStepMonitor.monitorType === 'Equipment' && workOrderTaskMonitor.procedureStepMonitor.inputType === 'Manual') || workOrderTaskMonitor.procedureStepMonitor.monitorType === 'Text'">
          <label for="result" class="col-form-label text-left col-3">
            Result:
          </label>
          <div class="col-9 px-0">
            <input type="text" name="textresult{{i}}" [attr.data-parsley-required]="workOrderTaskMonitor.holdIfFails"
              [(ngModel)]="workOrderTaskMonitor.textVal" class="form-control input-transparent" tooltip="Result">
          </div>
        </div>
        <div class="form-group col-12 d-flex flex-row"
          *ngIf="(workOrderTaskMonitor.procedureStepMonitor.monitorType === 'Equipment' && workOrderTaskMonitor.procedureStepMonitor.inputType === 'Sensor')">
          <label for="equipmentsensorresult" class="col-form-label text-left col-3">
            Result:
          </label>
          <div class="col-9 px-0">
            <input type="text" id="equipmentsensorresult{{i}}" name="equipmentsensorresult{{i}}"
              [(ngModel)]="workOrderTaskMonitor.sensorValue" class="form-control input-transparent" tooltip="Result">
            <ul class="parsley-errors-list filled" *ngIf="workOrderTaskMonitor.sensorValue === undefined">
              <li class="parsley-custom-error-message">You must retrieve the value for the sensor</li>
            </ul>
            <button type="button" class="btn btn-primary m-2"
              (click)="getSensorValue(i,'equipmentsensorresult' + i,workOrderTaskMonitor.procedureStepMonitor.targetValue)">Get
              Value</button>
          </div>
        </div>
        <div class="form-group col-12 d-flex flex-row"
          *ngIf="workOrderTaskMonitor.procedureStepMonitor.monitorType === 'Number'">
          <label for="result" class="col-form-label text-left col-3">
            Result:
          </label>
          <div class="col-9 px-0" *ngIf="workOrderTaskMonitor.holdIfFails !== undefined">
            <input type="hidden" id="hiddentargetvalueforparsley"
              value="{{workOrderTaskMonitor.procedureStepMonitor.targetValue}}">
            <input type="number" name="numberresult{{i}}" [(ngModel)]="workOrderTaskMonitor.numVal"
              data-parsley-trigger="change" data-parsley-equalto="#hiddentargetvalueforparsley"
              [attr.data-parsley-required]="workOrderTaskMonitor.holdIfFails" class="form-control input-transparent"
              tooltip="Result" data-parsley-error-message="Value is not equal to target value"
              *ngIf="workOrderTaskMonitor.procedureStepMonitor.shouldBe === 'EQUAL'">
            <input type="number" name="numberresult{{i}}" [(ngModel)]="workOrderTaskMonitor.numVal"
              data-parsley-trigger="change" data-parsley-min="10"
              [attr.data-parsley-required]="workOrderTaskMonitor.holdIfFails" class="form-control input-transparent"
              tooltip="Result" data-parsley-error-message="Value is not above or equal to target value"
              *ngIf="workOrderTaskMonitor.procedureStepMonitor.shouldBe === 'ABOVE'">
            <input type="number" name="numberresult{{i}}" [(ngModel)]="workOrderTaskMonitor.numVal"
              data-parsley-trigger="change" data-parsley-max="10"
              [attr.data-parsley-required]="workOrderTaskMonitor.holdIfFails" class="form-control input-transparent"
              tooltip="Result" data-parsley-error-message="Value is not below or equal to target value"
              *ngIf="workOrderTaskMonitor.procedureStepMonitor.shouldBe === 'BELOW'">
            <input type="number" name="numberresult{{i}}" [(ngModel)]="workOrderTaskMonitor.numVal"
              data-parsley-trigger="change" data-parsley-range="[10,20]"
              [attr.data-parsley-required]="workOrderTaskMonitor.holdIfFails" class="form-control input-transparent"
              tooltip="Result" data-parsley-error-message="Value is not within acceptable range"
              *ngIf="workOrderTaskMonitor.procedureStepMonitor.shouldBe === 'BETWEEN'">
          </div>
        </div>
        <div class="form-group col-12 d-flex flex-row"
          *ngIf=" workOrderTaskMonitor.procedureStepMonitor.monitorType === 'Pass or Fail'">
          <label for="result" class="col-form-label text-left col-3">
            Result:
          </label>
          <div class="col-9 px-0">
            <p-dropdown name="passorfailresult{{i}}" [options]="workOrderMonitorPassOrFailOptions"
              placeholder="Select a Response" [showClear]="true" [(ngModel)]="workOrderTaskMonitor.numVal">
            </p-dropdown>
            <ul class="parsley-errors-list filled"
              *ngIf="workOrderTaskMonitor.numVal !== workOrderTaskMonitor.procedureStepMonitor.targetValue && workOrderTaskMonitor.holdIfFails">
              <li class="parsley-custom-error-message">Value should be equal to
                {{workOrderTaskMonitor.procedureStepMonitor.targetValue === 1 ? 'Fail' : 'Pass'}}</li>
            </ul>
          </div>
        </div>
        <div class="form-group col-12 d-flex flex-row"
          *ngIf="workOrderTaskMonitor.procedureStepMonitor.monitorType === 'Yes or No'">
          <label for="yourAnswer" class="col-form-label text-left col-3">
            Your Answer:
          </label>
          <div class="col-9 px-0">
            <p-dropdown name="yourAnswer{{i}}" [options]="workOrderMonitorYesOrNoOptions"
              placeholder="Select a Response" [showClear]="true" [(ngModel)]="workOrderTaskMonitor.numVal">
            </p-dropdown>
            <ul class="parsley-errors-list filled"
              *ngIf="workOrderTaskMonitor.numVal !== workOrderTaskMonitor.procedureStepMonitor.targetValue && workOrderTaskMonitor.holdIfFails">
              <li class="parsley-custom-error-message">Value should be equal to
                {{workOrderTaskMonitor.procedureStepMonitor.targetValue === 1 ? 'No' : 'Yes'}}</li>
            </ul>
          </div>
        </div>
        <div class="form-group col-12 d-flex flex-row"
          *ngIf="workOrderTaskMonitor.procedureStepMonitor.monitorType === 'Select'">
          <label for="selectresult" class="col-form-label text-left col-3">
            Result:
          </label>
          <div class="col-9 px-0">
            <p-dropdown name="selectresult{{i}}" [options]="monitorListItemOptions" placeholder="Select a Response"
              [showClear]="true" [(ngModel)]="workOrderTaskMonitor.numVal">
            </p-dropdown>
            <ul class="parsley-errors-list filled"
              *ngIf="workOrderTaskMonitor.numVal === undefined && workOrderTaskMonitor.holdIfFails">
              <li class="parsley-custom-error-message">You must select a Result</li>
            </ul>
          </div>
        </div>
        <div class="form-group col-12 d-flex flex-row">
          <label for="monitorType" class="col-form-label text-left col-3">
            If Fails:
          </label>
          <div class="col-9 px-0 col-form-label">
            <span *ngIf="workOrderTaskMonitor?.procedureStepMonitor?.faultHandling === 'RECORD AND CONTINUE'">Continue
              to next step</span>
            <span *ngIf="workOrderTaskMonitor?.procedureStepMonitor?.faultHandling === 'STOP UNTIL FAULT CLEARED'">Stay
              at this step until passing result is entered</span>
          </div>
        </div>
        <div class="form-group col-12 d-flex flex-row">
          <label for="monitorType" class="col-form-label text-left col-3">
            Comments:
          </label>
          <div class="col-9 px-0">
            <textarea type="text" name="comment{{i}}" [(ngModel)]="workOrderTaskMonitor.comment"
              class="form-control input-transparent" tooltip="Comments">
            </textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="workOrderMonitorsToView !== undefined && workOrderMonitorsToView.length > 0">
    <button type="button" class="btn btn-primary m-2" (click)="saveMonitors()" [disabled]="!doNotAllowEditing">Save</button>
    <button type="button" class="btn btn-primary m-2" (click)="saveMonitorsAndCloseTask()" [disabled]="!doNotAllowEditing">Save & Close
      Task</button>
  </div>
</form>
<div class="nomonitors-message d-flex" *ngIf="workOrderMonitorsToView === undefined || workOrderMonitorsToView.length === 0">
  <div class="m-auto"><h3>No Monitors to Display</h3></div>
</div>