.ui-table-customers .ui-table-thead > tr > th:first-child {
    width: auto;
    text-align: left;
}

.ui-table-customers .ui-table-thead > tr > th:last-child {
    width: auto;
}

.ui-table-customers .ui-table-tbody > tr > td:first-child,
.ui-table-customers .ui-table-tbody > tr > td:last-child,
.ui-table-customers .ui-table-thead > tr > th:last-child {
    text-align: left;
}