.step-title {
  font-weight: bold;
}
.sub-title {
  font-weight: bold;
  font-size: 0.8em;
}
.red {
  color: red;
  font-weight: bold;
}
@page:first {
    margin-top: 4in; /* Adds a 4-inch margin to the top of the first page */
}
