<h1 class="page-title">
  <i [ngClass]="'fas '+globals.activeMenu.icon"></i>
  {{globals.activeMenu.name}}
</h1>
<widget>
  <p-table #dt [value]="data" dataKey="id" styleClass="ui-table-customers" [rowHover]="true" [rows]="10"
    [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50,100]" [loading]="loading" [paginator]="true"
    currentPageReportTemplate="Showing {first}-{last} of {totalRecords}" [filterDelay]="0" stateStorage="local"
    stateKey="{{gridStorageId}}">
    <ng-template pTemplate="caption">
      <div class="text-right">
        <button *ngIf="canAddUsers" (click)="showDialog()" class="btn btn-success width-100 mb-xs" role="button">
          + Add
        </button>
        <grid-options [(defaultColumns)]="gridSettings" [gridStorageId]="gridStorageId" [ptable]="dt"
          [gridVersion]="gridVersion">
        </grid-options>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of gridSettings" [hidden]="!col.visible" [pSortableColumn]="col.id">
          {{col.label}} <p-sortIcon [field]="col.id"></p-sortIcon>
        </th>
        <th></th>
      </tr>
      <tr>
        <th [hidden]="!globals.isVisibleCol('id',gridSettings)">
          <div class="position-relative">
            <input id="id" pInputText type="text" (input)="dt.filter($event.target.value, 'id', 'contains')"
              placeholder="Id" class="ui-column-filter" [value]="dt.filters['id']?.value">
            <i *ngIf="dt.filters['id']?.value" class="fclear pi pi-times pointer"
              (click)="globals.filter(dt,'id')"></i>
          </div>
        </th>
        <th [hidden]="!globals.isVisibleCol('isActive',gridSettings)">
          <p-dropdown [options]="statuses" (onChange)="dt.filter($event.value, 'isActive', 'equals')"
            [placeholder]="globals.defPlaceholder(dt, 'isActive',statuses,'Select a Status')"
            styleClass="ui-column-filter" [showClear]="true">
          </p-dropdown>
        </th>
        <th [hidden]="!globals.isVisibleCol('isAnswerUser',gridSettings)">
          <p-dropdown [options]="userTypes" (onChange)="dt.filter($event.value, 'isAnswerUser', 'equals')"
            [placeholder]="globals.defPlaceholder(dt, 'isAnswerUser',statuses,'Select User Type')"
            styleClass="ui-column-filter" [showClear]="true">
          </p-dropdown>
        </th>
        <th [hidden]="!globals.isVisibleCol('firstName',gridSettings)">
          <div class="position-relative">
            <input pInputText type="text" (input)="dt.filter($event.target.value, 'firstName', 'contains')"
              placeholder="Search by First Name" class="ui-column-filter" [value]="dt.filters['firstName']?.value">
            <i *ngIf="dt.filters['firstName']?.value" class="fclear pi pi-times pointer"
            (click)="globals.filter(dt,'id')"></i>
          </div>
        </th>
        <th [hidden]="!globals.isVisibleCol('lastName',gridSettings)">
          <div class="position-relative">
            <input pInputText type="text" (input)="dt.filter($event.target.value, 'lastName', 'contains')"
              placeholder="Search by Last Name" class="ui-column-filter" [value]="dt.filters['lastName']?.value">
            <i *ngIf="dt.filters['lastName']?.value" class="fclear pi pi-times pointer"
            (click)="globals.filter(dt,'id')"></i>
          </div>
        </th>
        <th [hidden]="!globals.isVisibleCol('userName',gridSettings)">
          <div class="position-relative">
            <input pInputText type="text" (input)="dt.filter($event.target.value, 'userName', 'contains')"
              placeholder="Search by User Name" class="ui-column-filter" [value]="dt.filters['userName']?.value">
            <i *ngIf="dt.filters['userName']?.value" class="fclear pi pi-times pointer"
            (click)="globals.filter(dt,'id')"></i>
          </div>
        </th>
        <th [hidden]="!globals.isVisibleCol('email',gridSettings)">
          <div class="position-relative">
            <input pInputText type="text" (input)="dt.filter($event.target.value, 'email', 'contains')"
              placeholder="Search by Email" class="ui-column-filter" [value]="dt.filters['email']?.value">
            <i *ngIf="dt.filters['email']?.value" class="fclear pi pi-times pointer"
            (click)="globals.filter(dt,'id')"></i>
          </div>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr class="ui-selectable-row">
        <td [hidden]="!globals.isVisibleCol('id',gridSettings)">
          <span class="ui-column-title">Id</span>
          {{user.id}}
        </td>
        <td class="text-center" [hidden]="!globals.isVisibleCol('isActive',gridSettings)">
          <ng-template [ngIf]="!canActivate">
            <p-inputSwitch disabled="true" [(ngModel)]="user.isActive" (ngModelChange)="changeUserStatus(user)">
            </p-inputSwitch>
          </ng-template>
          <ng-template [ngIf]="canActivate">
            <p-inputSwitch [ngIF]="canActivate" [(ngModel)]="user.isActive" (ngModelChange)="changeUserStatus(user)">
            </p-inputSwitch>
          </ng-template>
        </td>
        <td class="text-center" [hidden]="!globals.isVisibleCol('isAnswerUser',gridSettings)">
          <ng-template [ngIf]="!canEditUsers">
            <p-inputSwitch disabled="true" [(ngModel)]="user.isAnswerUser" (ngModelChange)="changeUserType(user)">
            </p-inputSwitch>
          </ng-template>
          <ng-template [ngIf]="canEditUsers">
            <p-inputSwitch [(ngModel)]="user.isAnswerUser" (ngModelChange)="changeUserType(user)"></p-inputSwitch>
          </ng-template>
        </td>
        <td [hidden]="!globals.isVisibleCol('firstName',gridSettings)">
          <span class="ui-column-title">First Name</span>
          <span style="vertical-align: middle; margin-left: .5em">{{user.firstName}}</span>
        </td>
        <td [hidden]="!globals.isVisibleCol('lastName',gridSettings)">
          <span class="ui-column-title">Last Name</span>
          <span style="vertical-align: middle; margin-left: .5em">{{user.lastName}}</span>
        </td>
        <td [hidden]="!globals.isVisibleCol('userName',gridSettings)">
          <span class="ui-column-title">Username</span>
          {{user.userName}}
        </td>
        <td [hidden]="!globals.isVisibleCol('email',gridSettings)">
          <span class="ui-column-title">Email</span>
          {{user.email}}
        </td>
        <td>
          <i *ngIf="canEditUsers" class="fa fa-cog pointer" tooltip="Edit User" (click)="showDialog(user)"></i>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8" style="text-align:left">No users found.</td>
      </tr>
    </ng-template>
  </p-table>
</widget>
<p-dialog header="{{ currUser.id === undefined ?'Create User':'Edit User'}}" [(visible)]="display"
  [style]="{width: '50vw'}">
  <!-- <p-header>
  </p-header> -->
  <!-- <div class="row"> -->
  <form data-parsley-validate class="form-horizontal form-label-left parsleyjs" method="post"
    data-parsley-priority-enabled="false" (ngSubmit)="onUserSubmit()" novalidate="novalidate">
    <section class="widget mrg-btm-sm" widget>
      <header>
        <h5>
          <span class="badge badge-warning p-2 text-gray-dark mr-1 fa fa-user">
          </span>
          User Details
        </h5>
        <!-- <div class="widget-controls">
          <a data-widgster="expand" title="Expand" href="#"><i class="la la-angle-up"></i></a>
          <a data-widgster="collapse" title="Collapse" href="#"><i class="la la-angle-down"></i></a>
          <a data-widgster="close" title="Close" href="#"><i class="la la-remove"></i></a>
        </div>  -->
      </header>
      <div class="widget-body">
        <!-- <form class="form-horizontal form-label-left parsleyjs" method="post" data-parsley-priority-enabled="false"
        novalidate="novalidate"> -->
        <fieldset>
          <legend>
          </legend>
          <div class="form-group row">
            <label for="firstName" class="col-md-2 col-form-label text-md-right">
              First Name
            </label>
            <div class="col-md-4 ">
              <input type="text" id="firstName" name="firstName" [(ngModel)]="currUser.firstName"
                data-validate="parsley" data-parsley-trigger="change" data-parsley-minlength="3"
                data-parsley-required="true" class="form-control input-transparent" tooltip="Min length 3 characters"
                placeholder="First Name">
            </div>
            <label for="lastName" class="col-md-2  col-form-label text-md-right">
              Last Name
            </label>
            <div class="col-md-4 ">
              <input type="text" id="lastName" name="lastName" [(ngModel)]="currUser.lastName"
                data-parsley-trigger="change" data-parsley-minlength="3" data-parsley-required="true"
                class="form-control input-transparent" tooltip="Min length 3 characters" placeholder="Last Name">
            </div>
          </div>
          <div class="form-group row">
            <label class="form-control-label col-md-2 col-12 text-md-right" for="email">
              E-mail
            </label>
            <div class="col-md-4 col-12">
              <input type="email" id="email" [(ngModel)]="currUser.email" name="email"
                class="form-control input-transparent" data-parsley-trigger="change" data-parsley-required="true"
                data-parsley-validation-threshold="1" required="required" placeholder="Email">
            </div>
            <label for="userName" class="col-md-2  col-form-label text-md-right">
              Username
            </label>
            <div class="col-md-4 ">
              <input type="text" id="userName" [(ngModel)]="currUser.userName" data-parsley-trigger="change"
                data-parsley-minlength="3" name="userName" class="form-control input-transparent"
                data-parsley-required="true" tooltip="Min length 3 characters" placeholder="UserName">
            </div>
          </div>
          <div class="form-group row">
            <label for="title" class="col-md-2  col-form-label text-md-right">
              Title
            </label>
            <div class="col-md-4 ">
              <input type="text" id="title" [(ngModel)]="currUser.title" data-parsley-trigger="change"
                data-parsley-minlength="3" name="title" data-parsley-required="true"
                class="form-control input-transparent" tooltip="Min length 3 characters" placeholder="Title">
            </div>
            <label class="form-control-label col-md-2 col-12 text-md-right" for="mask-phone">
              Phone
              <span class="help-block">(123) 456-7890</span>
            </label>
            <div class="col-md-4 col-12">
              <input id="mask-phone" name="mask-phone" class="form-control input-transparent"
                data-parsley-required="true" [textMask]="phoneMask" [(ngModel)]="currUser.phone"
                (ngModelChange)="currUser.phone = unmask($event)" placeholder="Phone" type="text" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2  col-form-label text-md-right">
              Is Active
            </label>
            <div class="col-md-4 ">
              <div class="display-inline-block isActive">
                <label class="form-check-label" for="isActive" class="switch">
                  <input class="form-check-input" [(ngModel)]="currUser.isActive" name="isActive" type="checkbox"
                    class="ios" checked id="isActive" /><i></i>
                </label>
              </div>
            </div>
            <label class="col-md-2  col-form-label text-md-right">
              Is Answer User
            </label>
            <div class="col-md-4 ">
              <div class="display-inline-block isAnswerUser">
                <label class="form-check-label" for="isAnswerUser" class="switch">
                  <input class="form-check-input" [(ngModel)]="currUser.isAnswerUser" name="isAnswerUser"
                    type="checkbox" class="ios" checked id="isAnswerUser" /><i></i>
                </label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- </form> -->
      </div>
      <!-- <pre>{{currUser | json}}</pre> -->
    </section>
    <!-- </div> -->
    <p-footer>
      <div class="pull-right">
        <button type="submit" class="btn btn-outline-inverse width-100 mb-xs" role="button">
          Save
        </button>
        <button type="button" (click)="clseDialog()" class="btn btn-outline-inverse width-100 mb-xs" role="button">
          Cancel
        </button>
      </div>
    </p-footer>
  </form>
</p-dialog>