<h1 class="page-title">
  <i [ngClass]="'fas '+globals.activeMenu.icon"></i>
  {{globals.activeMenu.name}}
</h1>
<widget>
  <p-table #dt [value]="data" dataKey="id" styleClass="ui-table-customers" [rowHover]="true" [rows]="10"
    [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50,100]" [loading]="loading" [paginator]="true"
    currentPageReportTemplate="Showing {first}-{last} of {totalRecords}" [filterDelay]="0" stateStorage="local"
    stateKey="{{gridStorageId}}">
    <ng-template pTemplate="caption">
      <div class="text-right">
        <button *ngIf="canAddUsers" (click)="showDialog()" class="btn btn-success width-100 mb-xs" role="button">
          + Add
        </button>
        <grid-options [(defaultColumns)]="gridSettings" [gridStorageId]="gridStorageId" [ptable]="dt"
          [gridVersion]="gridVersion">
        </grid-options>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of gridSettings" [hidden]="!col.visible" [pSortableColumn]="col.id">
          {{col.label}} <p-sortIcon [field]="col.id"></p-sortIcon>
        </th>
        <th></th>
      </tr>
      <tr>
        <th [hidden]="!cg.isVisibleCol('id',gridSettings)">
          <div class="position-relative">
            <input id="id" pInputText type="text" (input)="dt.filter($event.target.value, 'id', 'contains')"
              placeholder="Id" class="ui-column-filter" [value]="dt.filters['id']?.value">
            <i *ngIf="dt.filters['id']?.value" class="fclear pi pi-times pointer" (click)="cg.filter(dt,'id')"></i>
          </div>
        </th>
        <th [hidden]="!cg.isVisibleCol('isActive',gridSettings)">
          <multiselect-wrapper [gridStorageId]="gridStorageId" [options]="statuses" [filterId]="'isActive'"
            [defaultText]="'Select Status'" [defaultTextTooltip]="''" [datatable]="dt">
          </multiselect-wrapper>
        </th>
        <th [hidden]="!cg.isVisibleCol('isAnswerUser',gridSettings)">
          <multiselect-wrapper [gridStorageId]="gridStorageId" [options]="userTypes" [filterId]="'isAnswerUser'"
            [defaultText]="'Select User Type'" [defaultTextTooltip]="''" [datatable]="dt">
          </multiselect-wrapper>
        </th>
        <th [hidden]="!cg.isVisibleCol('firstName',gridSettings)">
          <div class="position-relative">
            <input pInputText type="text" (input)="dt.filter($event.target.value, 'firstName', 'contains')"
              placeholder="Search by First Name" class="ui-column-filter" [value]="dt.filters['firstName']?.value">
            <i *ngIf="dt.filters['firstName']?.value" class="fclear pi pi-times pointer"
              (click)="cg.filter(dt,'firstName')"></i>
          </div>
        </th>
        <th [hidden]="!cg.isVisibleCol('lastName',gridSettings)">
          <div class="position-relative">
            <input pInputText type="text" (input)="dt.filter($event.target.value, 'lastName', 'contains')"
              placeholder="Search by Last Name" class="ui-column-filter" [value]="dt.filters['lastName']?.value">
            <i *ngIf="dt.filters['lastName']?.value" class="fclear pi pi-times pointer"
              (click)="cg.filter(dt,'lastName')"></i>
          </div>
        </th>
        <th [hidden]="!cg.isVisibleCol('userName',gridSettings)">
          <div class="position-relative">
            <input pInputText type="text" (input)="dt.filter($event.target.value, 'userName', 'contains')"
              placeholder="Search by User Name" class="ui-column-filter" [value]="dt.filters['userName']?.value">
            <i *ngIf="dt.filters['userName']?.value" class="fclear pi pi-times pointer"
              (click)="cg.filter(dt,'userName')"></i>
          </div>
        </th>
        <th [hidden]="!cg.isVisibleCol('email',gridSettings)">
          <div class="position-relative">
            <input pInputText type="text" (input)="dt.filter($event.target.value, 'email', 'contains')"
              placeholder="Search by Email" class="ui-column-filter" [value]="dt.filters['email']?.value">
            <i *ngIf="dt.filters['email']?.value" class="fclear pi pi-times pointer"
              (click)="cg.filter(dt,'email')"></i>
          </div>
        </th>
        <th [hidden]="!cg.isVisibleCol('createdOn',gridSettings)">
          <div class="position-relative">
            <input pInputText type="text" (input)="dt.filter($event.target.value, 'createdOn', 'contains')"
              placeholder="Search by createdOn" class="ui-column-filter" [value]="dt.filters['createdOn']?.value">
            <i *ngIf="dt.filters['createdOn']?.value" class="fclear pi pi-times pointer"
              (click)="cg.filter(dt,'createdOn')"></i>
          </div>
        </th>
        <th [hidden]="!cg.isVisibleCol('roles',gridSettings)">
          <div class="position-relative">
            <multiselect-wrapper [gridStorageId]="gridStorageId" [options]="userRoles" [filterId]="'roles'"
              [defaultText]="'Select Roles'" [defaultTextTooltip]="''" [datatable]="dt">
            </multiselect-wrapper>
          </div>
        </th>
        <th [hidden]="!cg.isVisibleCol('locationId',gridSettings)">
          <div class="position-relative">
            <input pInputText type="text" (input)="dt.filter($event.target.value, 'locationId', 'contains')"
              placeholder="Search by Location Id" class="ui-column-filter" [value]="dt.filters['locationId']?.value">
            <i *ngIf="dt.filters['locationId']?.value" class="fclear pi pi-times pointer"
              (click)="cg.filter(dt,'locationId')"></i>
          </div>
        </th>
        <th [hidden]="!cg.isVisibleCol('supervisorId', gridSettings)">
          <div class="position-relative">
            <input pInputText type="text" (input)="dt.filter($event.target.value, 'supervisorId', 'contains')"
              placeholder="Search by Supervisor Id" class="ui-column-filter"
              [value]="dt.filters['supervisorId']?.value">
            <i *ngIf="dt.filters['supervisorId']?.value" class="fclear pi pi-times pointer"
              (click)="cg.filter(dt,'supervisorId')"></i>
          </div>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr class="ui-selectable-row">
        <td [hidden]="!cg.isVisibleCol('id', gridSettings)">
          {{user.id}}
        </td>
        <td class="text-center" [hidden]="!cg.isVisibleCol('isActive', gridSettings)">
          <ng-template [ngIf]="!canActivate">
            <p-inputSwitch disabled="true" [(ngModel)]="user.isActive" (ngModelChange)="changeUserStatus(user)">
            </p-inputSwitch>
          </ng-template>
          <ng-template [ngIf]="canActivate">
            <p-inputSwitch [ngIF]="canActivate" [(ngModel)]="user.isActive" (ngModelChange)="changeUserStatus(user)">
            </p-inputSwitch>
          </ng-template>
        </td>
        <td class="text-center" [hidden]="!cg.isVisibleCol('isAnswerUser', gridSettings)">
          <ng-template [ngIf]="!canEditUsers">
            <p-inputSwitch disabled="true" [(ngModel)]="user.isAnswerUser" (ngModelChange)="changeUserType(user)">
            </p-inputSwitch>
          </ng-template>
          <ng-template [ngIf]="canEditUsers">
            <p-inputSwitch [(ngModel)]="user.isAnswerUser" (ngModelChange)="changeUserType(user)"></p-inputSwitch>
          </ng-template>
        </td>
        <td [hidden]="!cg.isVisibleCol('firstName', gridSettings)">
          <span style="vertical-align: middle; margin-left: .5em">{{user.firstName}}</span>
        </td>
        <td [hidden]="!cg.isVisibleCol('lastName', gridSettings)">
          <span style="vertical-align: middle; margin-left: .5em">{{user.lastName}}</span>
        </td>
        <td [hidden]="!cg.isVisibleCol('userName', gridSettings)">
          {{user.userName}}
        </td>
        <td [hidden]="!cg.isVisibleCol('email', gridSettings)">
          {{user.email}}
        </td>
        <td [hidden]="!cg.isVisibleCol('createdOn',gridSettings)">
          {{user.createdOn | date :'short' }}
        </td>
        <td [hidden]="!cg.isVisibleCol('roles',gridSettings)">
          {{user.roles.join(',').toString()}}
        </td>
        <td [hidden]="!cg.isVisibleCol('locationId',gridSettings)">
          {{user.locationId}}
        </td>
        <td [hidden]="!cg.isVisibleCol('supervisorId',gridSettings)">
          {{user.supervisorId}}
        </td>
        <td>
          <i *ngIf="canEditUsers" class="fa fa-cog pointer" tooltip="Edit User" (click)="showDialog(user)"></i>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8" style="text-align:left">No users found.</td>
      </tr>
    </ng-template>
  </p-table>
</widget>
<p-dialog header="{{ currUser.id === undefined ?'Create User':'Edit User'}}" [(visible)]="display"
  [style]="{width: '50vw'}">
  <form data-parsley-validate class="form-horizontal form-label-left parsleyjs" method="post"
    data-parsley-priority-enabled="false" (ngSubmit)="onUserSubmit()" novalidate="novalidate">
    <section class="widget mrg-btm-sm" widget>
      <header>
        <h5>
          <span class="badge badge-warning p-2 text-gray-dark mr-1 fa fa-user">
          </span>
          User Details
        </h5>
      </header>
      <div class="widget-body">
        <fieldset>
          <legend>
          </legend>
          <div class="form-group row">
            <label for="firstName" class="col-md-2 col-form-label text-md-right">
              First Name
            </label>
            <div class="col-md-4 ">
              <input type="text" id="firstName" name="firstName" [(ngModel)]="currUser.firstName"
                data-validate="parsley" data-parsley-trigger="change" data-parsley-minlength="3"
                data-parsley-required="true" class="form-control input-transparent" tooltip="Min length 3 characters"
                placeholder="First Name">
            </div>
            <label for="lastName" class="col-md-2  col-form-label text-md-right">
              Last Name
            </label>
            <div class="col-md-4 ">
              <input type="text" id="lastName" name="lastName" [(ngModel)]="currUser.lastName"
                data-parsley-trigger="change" data-parsley-minlength="3" data-parsley-required="true"
                class="form-control input-transparent" tooltip="Min length 3 characters" placeholder="Last Name">
            </div>
          </div>
          <div class="form-group row">
            <label class="form-control-label col-md-2 col-12 text-md-right" for="email">
              E-mail
            </label>
            <div class="col-md-4 col-12">
              <input type="email" id="email" [(ngModel)]="currUser.email" name="email"
                class="form-control input-transparent" data-parsley-trigger="change" data-parsley-required="true"
                data-parsley-validation-threshold="1" required="required" placeholder="Email">
            </div>
            <label for="userName" class="col-md-2  col-form-label text-md-right">
              Username
            </label>
            <div class="col-md-4 ">
              <input type="text" id="userName" [(ngModel)]="currUser.userName" data-parsley-trigger="change"
                data-parsley-minlength="3" name="userName" class="form-control input-transparent"
                data-parsley-required="true" tooltip="Min length 3 characters" placeholder="UserName">
            </div>
          </div>
          <div class="form-group row">
            <label for="title" class="col-md-2  col-form-label text-md-right">
              Title
            </label>
            <div class="col-md-4 ">
              <input type="text" id="title" [(ngModel)]="currUser.title" data-parsley-trigger="change"
                data-parsley-minlength="3" name="title" data-parsley-required="true"
                class="form-control input-transparent" tooltip="Min length 3 characters" placeholder="Title">
            </div>
            <label class="form-control-label col-md-2 col-12 text-md-right" for="mask-phone">
              Phone
              <span class="help-block">(123) 456-7890</span>
            </label>
            <div class="col-md-4 col-12">
              <input id="mask-phone" name="mask-phone" class="form-control input-transparent"
                data-parsley-required="true" [textMask]="phoneMask" [(ngModel)]="currUser.phone"
                (ngModelChange)="currUser.phone = unmask($event)" placeholder="Phone" type="text" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2  col-form-label text-md-right">
              Is Active
            </label>
            <div class="col-md-4 ">
              <div class="display-inline-block isActive">
                <label class="form-check-label" for="isActive" class="switch">
                  <input class="form-check-input" [(ngModel)]="currUser.isActive" name="isActive" type="checkbox"
                    class="ios" checked id="isActive" /><i></i>
                </label>
              </div>
            </div>
            <label class="col-md-2  col-form-label text-md-right">
              Is Answer User
            </label>
            <div class="col-md-4 ">
              <div class="display-inline-block isAnswerUser">
                <label class="form-check-label" for="isAnswerUser" class="switch">
                  <input class="form-check-input" [(ngModel)]="currUser.isAnswerUser" name="isAnswerUser"
                    type="checkbox" class="ios" checked id="isAnswerUser" /><i></i>
                </label>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </section>
    <p-footer>
      <div class="pull-right">
        <button type="submit" class="btn btn-outline-inverse width-100 mb-xs" role="button">
          Save
        </button>
        <button type="button" (click)="clseDialog()" class="btn btn-outline-inverse width-100 mb-xs" role="button">
          Cancel
        </button>
      </div>
    </p-footer>
  </form>
</p-dialog>