.write-line{
    border-bottom: 2px solid #ccc;
}
.header,
.parts-list {
    font-size: smaller;
}

@media print {
    @page {
        size: 8.5in 11in;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .page{
      page-break-inside: avoid;
      min-height: 0;
    }
    .break-before {
      page-break-before: always;
    }
    .break-after {
      page-break-after: always;      
    }
}
