<div class="row border m-4">
    <div class="col-12 mb-2 border-bottom">
        <div class="row">
            <div class="col-6">
                <h1>MSR-FSR</h1>
            </div>
            <div class="col-6 text-right">
                <h2>DETAILED PACKING LIST</h2>
            </div>
        </div>
    </div>
    <div class="col-12 mb-2">
        <div class="row mx-2">
            <div class="col-3">
                <u>Ship From</u><br />
                MSR-FSR<br/>
                {{ WorkOrder.location?.name }}<br/>
                {{ WorkOrder.location?.address1 }} {{ WorkOrder.location?.address2 }}<br/>
                {{ WorkOrder.location?.city }}, {{ WorkOrder.location?.state }} {{ WorkOrder.location?.postalCode }}<br/>
            </div>
            <div class="col-3">
                <u>Ship To</u><br />
                {{ WorkOrder.product?.customer?.name }}
                {{ WorkOrder.product?.customer?.address }}
                {{ WorkOrder.product?.customer?.phone }}
            </div>
            <div class="col-3">
                <b>Date</b>: {{ currentDate }}<br/>
                <b>WO number</b>: {{ WorkOrder.id }}<br/>
                <b>MTTN</b>: {{ WorkOrder.purchase?.mttn }}<br/>
            </div>
        </div>

        <div class="border row m-4"></div>
        <div class="row m-2">
            <div class="col"><b>PO / Line</b></div>
            <div class="col"><b>Part Number</b></div>
            <div class="col"><b>Part Name</b></div>
            <div class="col"><b>Serial</b></div>
            <div class="col"><b>Cycle Count</b></div>
        </div>
        <div *ngFor="let workOrderPart of packingList.sortedParts">
            <div class="{{workOrderPart.poLineLabel == '' ? '' : 'border'}} row"></div>
            <div class="row m-2">
                <div class="col">
                    {{ workOrderPart.poLineLabel }}<br/>
                    <ngx-barcode [bc-format]="'CODE128'"
                        [bc-background]="'none'"
                        [bc-value]="workOrderPart.poLineLabel"
                        [bc-display-value]="false"
                        [bc-height]="40" >
                    </ngx-barcode>
                </div>
                <div class="col">
                    {{ workOrderPart.part.part?.partNumber }}<br/>
                    <ngx-barcode [bc-format]="'CODE128'"
                        [bc-background]="'none'"
                        [bc-value]="workOrderPart.part.part?.partNumber"
                        [bc-display-value]="false"
                        [bc-height]="40" >
                    </ngx-barcode>
                </div>
                <div class="col">{{ workOrderPart.part.part?.name }}</div>
                <div class="col">
                    {{ workOrderPart.part.serialNumber }}<br/>
                    <ngx-barcode [bc-format]="'CODE128'"
                        [bc-background]="'none'"
                        [bc-value]="workOrderPart.part.serialNumber"
                        [bc-display-value]="false"
                        [bc-height]="40" >
                    </ngx-barcode>
                </div>
                <div class="col">{{ workOrderPart.part.cycleCount }}</div>
            </div>
        </div>
    </div>
</div>
<div class="row m-4">
    <div class="col-4" style='text-align:right'>Signature of Recipient</div>
    <div class="col-8" style='border-bottom:1px solid'>&nbsp;</div>
</div>

<!-- This does nothing -->
<div style='break-after:page'>&nbsp;</div>

<!-- Total and complete hack to break the page.
     There is no other way that I can find.
     16 parts per page.  6 inches header/footer on first page only.
     Assuming 11 inch paper length.
 -->
<div style='height:{{((-10.00*((packingList.sortedParts.length + 6) % 16)/16))+11}}in;break-inside:avoid'>&nbsp;</div>

<div *ngFor="let workOrderParentPart of packingList.parentParts" class="row border m-4">
  <div class="col-12 mb-2 border-bottom">
    <div class="row">
        <div class="col-6">
            <h1>MSR-FSR</h1>
        </div>
        <div class="col-6 text-right">
            <h2>CERTIFICATE OF COMPLIANCE</h2>
        </div>
    </div>
  </div>
  <div class="col-12">
      <div class="row">
        <div class="col">
            <p>Customer:</p>
            <p style="margin-left:5em">
                {{ WorkOrder.purchase?.purchaseOrder?.customer?.name }}<br/>
                {{ WorkOrder.purchase?.purchaseOrder?.customer?.location?.city }},
                {{ WorkOrder.purchase?.purchaseOrder?.customer?.location?.state }}
            </p>
        </div>
        <div class="col">
            <p><b>Date</b>: {{ currentDate }}</p>
            <p>Cust PO / Line: {{ workOrderParentPart.poLineLabel }}</p>
            <p>MSR-FSR WO #: {{ WorkOrder.id }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
            <p>Supplier:</p>
            <p style="margin-left:5em">
                {{ WorkOrder.location?.name }}<br/>
                {{ WorkOrder.location?.address1 }}<br/>
                {{ WorkOrder.location?.city }}, {{ WorkOrder.location?.state }} <br/>
                {{ WorkOrder.location?.phone }}
            </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
            Customer Main Part Name: {{ workOrderParentPart.part.part.name }}
        </div>
      </div>
      <div class="row">
        <div class="col">
            Customer Main Part Number: {{ workOrderParentPart.part.part.partNumber }} 
        </div>
      </div>
      <div class="row">
        <div class="col">
            Process: {{ WorkOrder.product?.procedure?.name }}
        </div>
      </div>
      <div class="row">
        <div class="col">
            Detailed Parts List
        </div>
      </div>

      <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
          <div class="row border">
            <div class="col border"> Part Number </div>
            <div class="col border"> Description </div>
            <div class="col border"> SN </div>
          </div>
          <div class="row border">
            <div class="col border"> {{ workOrderParentPart.part.part.partNumber }}</div>
            <div class="col border"> {{ workOrderParentPart.part.part.name }}</div>
            <div class="col border"> {{ workOrderParentPart.part.serialNumber }} </div>
          </div>
          <div *ngFor="let workOrderSubPart of workOrderParentPart.subparts" class="row border">
            <div class="col border"> &nbsp;&nbsp;&nbsp;{{ workOrderSubPart.part.partNumber }}</div>
            <div class="col border"> {{ workOrderSubPart.part.name }}</div>
            <div class="col border"> {{ workOrderSubPart.serialNumber }} </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
            Monitor Data Collected if applicable:
        </div>
      </div>

      <div class="row">
        <div class="col-2"></div>
        <div class="col-10">
          <div class="row border">
            <div class="col border"> Monitor </div>
            <div class="col border"> Value </div>
            <div class="col-3 border"> Pass/Fail </div>
          </div>

          <div *ngFor="let workOrderTaskMonitor of packingList.allMonitors" class="row border">
            <div class="col border" [innerHTML]="workOrderTaskMonitor.procedureStepMonitor?.description | workOrderTaskAndMonitor: workOrderTaskMonitor.procedureStepId : workOrderTaskMonitor.description"></div>
            <div class="col border">{{workOrderTaskMonitor | monitorResult }}</div>
            <div class="col-3 border" [ngClass]="(workOrderTaskMonitor | monitorstatus) ? 'text-success' : 'text-danger'">{{ (workOrderTaskMonitor | monitorstatus) ? 'PASS' : 'FAIL' }}</div>
          </div>
        </div>
      </div>
      <p style='margin-top:2em;margin-bottom:2em'>
      This document certifies that the material and/or work performed
      under the above referenced purchase order are under full
      conformance to the specifications and requirements of same.
      </p>
      <div class="row">
        <div class="col-12">By:</div>
      </div>
      <div class="row">
        <div class="col-8" style='border-bottom:1px solid'>Sign: &nbsp;</div>
        <div class="col-4">Date:</div>
      </div>
      <div class="row">&nbsp;</div>
  </div>
</div>
