fieldset > .form-group.row {
    margin-bottom: 0;
    & > label {
        font-weight: bold;
        padding-right: 5px;
    }
    & > div {
        padding-left: 0px;
    }
}

.widget-body > h5 {
    margin-top: 5px;
    margin-bottom: 15px;
}

.separator {
    border-bottom: 1px solid rgb(255 255 255 / 10%);
    width: 90%;
  }