<p-fileUpload class="col-md-10" name="fileUpload" url="./upload.php" customUpload="true" (onSelect)="myUploader($event)"
    (onRemove)="removeuploadFile($event)" [showUploadButton]="false" [showCancelButton]="false" multiple="multiple"
    accept="" maxFileSize="1000000000" cancelIcon="far fa-trash-alt">
    <ng-template pTemplate="content">
        <ul *ngIf="showLi && files !==undefined && files.length>0">
            <li class="row fileLi" *ngFor="let file of files">
                <div class="col-sm-2 col-md-2 col-lg-1 text-center">
                    <i tooltip="{{file.name}}" *ngIf="file.contentType == 'application/msword'"
                        class="fad fa-file-word"></i>
                    <i tooltip="{{file.name}}"
                        *ngIf="file.contentType == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'"
                        class="fad fa-file-word"></i>
                    <i tooltip="{{file.name}}" *ngIf="file.contentType == 'text/plain'" class="fad fa-file-alt"></i>
                    <i tooltip="{{file.name}}" *ngIf="file.contentType == 'text/html'" class="fad fa-file-alt"></i>
                    <i tooltip="{{file.name}}"
                        *ngIf="file.contentType == 'application/vnd.openxmlformats-officedocument.presentationml.presentation'"
                        class="fad fa-file-powerpoint"></i>
                    <i tooltip="{{file.name}}" *ngIf="file.contentType == 'text/csv'" class="fad fa-file-csv"></i>
                    <i tooltip="{{file.name}}" *ngIf="file.contentType == 'application/pdf'"
                        class="fad fa-file-pdf"></i>
                    <i tooltip="{{file.name}}"
                        *ngIf="file.contentType == 'application/vnd.ms-excel' || file.contentType == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'"
                        class="fad fa-file-excel"></i>
                    <img [src]="file.fileURL"
                        *ngIf="file.fileId !== undefined && (file.contentType == 'image/gif' || file.contentType == 'image/png' ||file.contentType == 'image/webp'||file.contentType == 'image/jpeg' || file.contentType == 'image/tiff')"
                        width="50" class="ng-star-inserted" />
                    <img [src]="file.base64String"
                        *ngIf="file.fileId !== undefined && (file.contentType == 'image/gif' || file.contentType == 'image/png' ||file.contentType == 'image/webp'||file.contentType == 'image/jpeg' || file.contentType == 'image/tiff')"
                        width="50" class="ng-star-inserted" />
                </div>
                <div class="col-sm-9  col-md-9 col-lg-10">{{file.name}}</div>
                <div class="col-sm-1 col-md-1">
                    <i class="far fa-trash-alt pointer" tooltip="Remove File" data-cy="removeSubPart"
                        (click)="removeFile(file)"></i>
                </div>
            </li>
        </ul>
    </ng-template>
</p-fileUpload>